.signup {
  // margin-top: $space-larger*1.2;

  .signup--hero {
    margin-bottom: $space-larger * 1.5;

    .hero--logo {
      width: 180px;
    }

    .hero--title {
      margin-top: $space-large;
      font-weight: $font-weight-light;
    }

    .hero--sub {
      font-size: $font-size-medium;
      color: $medium-gray;
    }
  }

  .signup--features {
    list-style-type: none;
    font-size: $font-size-medium;

    > li {
      padding: $space-slab;

      > i {
        margin-right: $space-two;
        font-size: $font-size-large;

        &.beer {
          color: #dfb63b;
        }

        &.report {
          color: #2196f3;
        }

        &.canned {
          color: #1cad22;
        }

        &.uptime {
          color: #a753b5;
        }

        &.secure {
          color: #607d8b;
        }
      }
    }
  }

  .signup--box {
    @include elegant-card;
    padding: $space-large;

    label {
      font-size: $font-size-default;
      color: $color-gray;

      input {
        padding: $space-slab;
        height: $space-larger;
        font-size: $font-size-default;
      }

      .error {
        font-size: $font-size-small
      }
    }
  }

  .sigin--footer {
    padding: $space-medium;
    font-size: $font-size-default;

    > a {
      font-weight: $font-weight-bold;
    }
  }

  .accept--terms {
    font-size: $font-size-mini;
    text-align: center;
    @include margin($zero);

    a {
      font-size: $font-size-mini;
    }
  }
}
