.ui-snackbar-container {
  position: absolute;
  overflow: hidden;
  z-index: 9999;
  top: $space-normal;
  left: $space-normal;
  width: 100%;
  text-align: center;
}

.ui-snackbar {
  text-align: left;
  display: inline-block;
  min-width: 24rem;
  max-width: 40rem;
  min-height: 3rem;
  background-color: $woot-snackbar-bg;
  @include padding($space-slab $space-medium);
  @include border-top-radius($space-micro);
  @include border-right-radius($space-micro);
  @include border-bottom-radius($space-micro);
  @include border-left-radius($space-micro);
  margin-bottom: $space-small;

  // box-shadow: 0 1px 3px alpha(black, 0.12), 0 1px 2px alpha(black, 0.24);
}

.ui-snackbar-text {
  font-size: $font-size-small;
  color: $color-white;
}

.ui-snackbar-action {
  margin-left: auto;
  padding-left: 3rem;

  button {
    border: none;
    background: none;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $woot-snackbar-button;
    @include margin(0);
    @include padding(0);
  }
}
