.tabs {
  border-width: 0;
  @include padding($zero $space-normal);
  @include border-normal-bottom;

  .tabs-title {
    @include margin($zero $space-one);

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:focus{
      a {
        color: darken($medium-gray, 20%);
      }
    }

    a {
      color: $medium-gray;
      border-bottom: 2px solid transparent;
      font-size: $font-size-small;
      @include position(relative, 1px null null null);
      @include transition(all .15s $ease-in-out-cubic);
    }

    &.is-active {
      a {
        color: $color-woot;
        border-bottom-color: $color-woot;
      }
    }
  }

  // tab chat type
  &.tab--chat-type {
    @include flex;

    .tabs-title {
      a {
        font-size: $font-size-default;
        padding-top: $space-slab;
        padding-bottom: $space-slab;
      }
    }
  }
}