.integrations-wrap {
  .integration {
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: $space-smaller;
    margin-bottom: $space-normal;
    padding: $space-normal;

    .integration--image {
      display: flex;
      height: 10rem;
      margin-right: $space-normal;
      width: 10rem;

      img {
        max-width: 100%;
        padding: $space-medium;
      }
    }

    .integration--type {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .integration--title {
      font-size: $font-size-large;
    }

    .button-wrap {
      @include flex;
      @include flex-align(center, middle);
      margin-bottom: 0;
    }
  }
}

.help-wrap {
  padding-left: $space-large;
}
