<% @messages.each do |message| %>
  <tr>
    <td>
      <b><%= message.sender&.try(:available_name) || message.sender&.name || '' %></b>
    </td>
  </tr>
  <tr>
    <td style="padding-bottom: 16px;">
      <% if message.content %>
        <%= CommonMarker.render_html(message.content).html_safe %>
      <% end %>
      <% if message.attachments %>
        <% message.attachments.each do |attachment| %>
          Attachment [<a href="<%= attachment.file_url %>" _target="blank">Click here to view</a>]
        <% end %>
      <% end %>
      <br />
    </td>
  </tr>
<% end %>
