<% if @message.content %>
  <%= ChatwootMarkdownRenderer.new(@message.content).render_message %>
<% end %>
<% if @large_attachments.present? %>
  <p>Attachments:</p>
  <% @large_attachments.each do |attachment| %>
    <p><a href="<%= attachment.file_url %>" target="_blank"><%= attachment.file.filename.to_s %></a></p>
  <% end %>
<% end %>
