<% if @message.content %>
  <%= Commonmarker.to_html(message_content, options:{
    parse: { smart: true },
    extension: { strikethrough: true, autolink: true, superscript: true },
    render: { hardbreaks: false}
  }).html_safe %>
<% end %>
<% if @message.attachments %>
  <% @message.attachments.each do |attachment| %>
    attachment [<a href="<%= attachment.file_url %>" _target="blank">click here to view</a>]
  <% end %>
<% end %>
