Hello <%= @contact.name %>,

<p>Please take a moment to rate  your support experience with <b><%= @inbox.name %></b>.</p>

<a href=<%= "#{ENV.fetch('FRONTEND_URL', nil)}/survey/responses/#{@conversation.uuid}" %>>Click here</a>
