<p>Hi <%= @contact.name %>,</p>

<p>You have new messages on your conversation.</p>

<table>
  <% @messages.each do |message| %>
    <tr>
      <td>
        <b><%= message.incoming? ? 'You' : message.user.name %></b>
      </td>
      <td>:
        <% if message.attachment %>
          attachment [<a href="<%= message.attachment.file_url %>" _target="blank">click here to view</a>]
        <% else %>
          <%= message.content %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
