<p>Hi <%= @contact.name %>,</p>

<p>You have new messages on your conversation.</p>

<% @messages.each do |message| %>
  <tr>
    <td>
      <b><%= message.incoming? ? 'You' : message.sender&.available_name || message.sender&.name %></b>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 20px; margin: 5px 0 20px 0; background: #F2F3F7; border-radius: 10px; display: inline-block; font-family: "Helvetica Neue",Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
      <% if message.content %>
        <%= CommonMarker.render_html(message.content).html_safe %>
      <% end %>
      <% if message.attachments %>
        <% message.attachments.each do |attachment| %>
          Attachment [<a href="<%= attachment.file_url %>" _target="blank">Click here to view</a>]
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
