<% @messages.each do |message| %>
  <p style="font-family: Roboto,"Helvetica Neue",Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
    <% if message.content %>
      <%= ChatwootMarkdownRenderer.new(message.content).render_message %>
    <% end %>
    <% if message.attachments.present? %>
      <p>Attachments:</p>
      <% message.attachments.each do |attachment| %>
        <p><a href="<%= attachment.file_url %>" target="_blank"><%= attachment.file.filename.to_s %></a></p>
      <% end %>
    <% end %>
  </p>
<% end %>
