<% @messages.each do |message| %>
  <p>
    <% if message.content %>
      <%= message.content %>
    <% end %>
    <% if message.attachments %>
      <% message.attachments.each do |attachment| %>
        attachment [<a href="<%= attachment.file_url %>" _target="blank">click here to view</a>]
      <% end %>
    <% end %>
  </p>
<% end %>
