{
  "openapi": "3.0.3",
  "info": {
    "title": "NuPay API",
    "version": "1.4",
    "description": "Todas as APIs providas pela NuPay for Business foram desenvolvidas baseadas na tecnologia REST,  seguindo as melhores práticas de mercado, tendo sempre em mente uma integração o mais simples possível.  Seu feedback é muito valioso para nós – por isso, sinta-se à vontade para entrar em contato com nossa  equipe de tecnologia pelo e-mail oi-nupay@nubank.com.br!\n",
    "contact": {
      "name": "Tech Team",
      "url": "https://nupaybusiness.com.br",
      "email": "oi-nupay@nubank.com.br"
    },
    "x-logo": {
      "url": "../../../images/logotipo.png",
      "altText": "NuPay for Business"
    },
    "externalDocs": {
      "description": "Saiba mais",
      "url": "/#/checkout/"
    }
  },
  "servers": [
    {
      "url": "https://sandbox-api.spinpay.com.br",
      "description": "Servidor de testes (Sandbox)"
    },
    {
      "url": "https://api.spinpay.com.br",
      "description": "Servidor de Produção"
    }
  ],
  "paths": {
    "/v1/checkouts/payments": {
      "post": {
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Informe o `access_token` com o prefixo `Bearer `. Header **necessário somente para criação de pagamentos pré-autorizados de NuPay**.",
            "example": "Bearer UVhslgtbavMol9u8",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/NuPayCheckoutCreationRequest"
                  }
                ]
              },
              "examples": {
                "Checkout Válido - 2FA": {
                  "$ref": "#/components/examples/ValidNuPay2faPaymentCreationExample"
                },
                "Checkout Válido - pré-autorizado": {
                  "$ref": "#/components/examples/ValidNuPayPreAuthPaymentCreationExample"
                }
              }
            }
          },
          "required": true
        },
        "tags": [
          "Pagamentos"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NuPayCheckoutCreationResponse"
                    }
                  ]
                },
                "examples": {
                  "2FA - Pagamento criado": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "WAITING_PAYMENT_METHOD",
                      "paymentMethodType": "nupay",
                      "paymentUrl": "https://nuapp.nubank.com.br/bdc/omniknight/expr/payment-intents.home-screen?payment-intent-id=645a7eaa-4361-43b2-8749-575a1cd7dd4c&origin=redirect&amount=700000&storeName=Spin%20Pay%20VTEX&version=announcement-generic&token=YttDpfFwgJlPqTghs2Wmhxv4BGz43pzRsHyKuG%2Fne8LbFIg5mtaviVbRjNauowUEc9SrbSCVKSwp41lPdL32AA%3D%3D&poId=dbe77f27-8303-47e4-bcde-4687296d3531"
                    }
                  },
                  "Pré-autorizado - Pagamento criado": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "WAITING_PAYMENT_METHOD",
                      "paymentMethodType": "nupay"
                    }
                  },
                  "Pagamento cancelado pela instituição": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "CANCELLED",
                      "code": "CANCELLED_BY_INSTITUTION",
                      "message": "The institution cancelled the payment."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "Campo referenceId é obrigatório": {
                    "value": {
                      "status": 400,
                      "message": "[400] Undefined PaymentOrder referenceId;",
                      "details": {}
                    }
                  },
                  "Campo merchantOrderReference é obrigatório": {
                    "value": {
                      "status": 400,
                      "message": "[400] Undefined PaymentOrder merchantOrderReference;",
                      "details": {}
                    }
                  },
                  "Campo amount é obrigatório": {
                    "value": {
                      "status": 400,
                      "message": "[400] Undefined PaymentOrder amount;",
                      "details": {}
                    }
                  },
                  "Campo shopper é obrigatório": {
                    "value": {
                      "status": 400,
                      "message": "[400] Undefined PaymentOrder shopper;",
                      "details": {}
                    }
                  },
                  "Campo checkout é obrigatório": {
                    "value": {
                      "status": 400,
                      "message": "[400] Undefined PaymentOrder checkout;",
                      "details": {}
                    }
                  },
                  "Valor do amount deve ser maior que zero": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder amount;",
                      "details": {}
                    }
                  },
                  "Moeda inválida no campo currency": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder currency;",
                      "details": {}
                    }
                  },
                  "Documento do cliente inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder document;",
                      "details": {}
                    }
                  },
                  "Email do cliente inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid Shopper email;",
                      "details": {}
                    }
                  },
                  "Tipo de método de pagamento inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder paymentMethod.type;",
                      "details": {}
                    }
                  },
                  "Tipo de autorização inválido para método de pagamento": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder paymentMethod.authorizationType;",
                      "details": {}
                    }
                  },
                  "Fonte de financiamento inválida para método de pagamento": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder paymentMethod.fundingSource for paymentMethod.type;",
                      "details": {}
                    }
                  },
                  "ReferenceID ou MerchantOrderReference já existe para este merchant": {
                    "value": {
                      "status": 400,
                      "message": "[400] This checkout already exists;",
                      "details": {
                        "pspReferenceId": "pspReferenceId"
                      }
                    }
                  },
                  "URL de callback inválida": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder callbackUrl;",
                      "details": {}
                    }
                  },
                  "URL de retorno inválida": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder returnUrl;",
                      "details": {}
                    }
                  },
                  "Número de parcelas inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder installments;",
                      "details": {}
                    }
                  },
                  "Fonte de financiamento débito não permite parcelamento": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder paymentMethod.fundingSource for installments;",
                      "details": {}
                    }
                  },
                  "Fluxo de pagamento não implementado": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder paymentFlow;",
                      "details": {}
                    }
                  },
                  "Campos obrigatórios faltantes na validação do schema": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed;",
                      "details": {}
                    }
                  },
                  "Ausência do header JWS (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 400,
                      "message": "[400] Missing JWS signature header",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedAuthErrorResponse"
                },
                "examples": {
                  "Ausência do campo X-Merchant-Token obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appToken header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "Ausência do campo X-Merchant-Key obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appKey header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "JWS inválido (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 401,
                      "message": "[401] Invalid JWS signature (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "Chave pública não encontrada (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 401,
                      "message": "[401] Public key not found (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "operationId": "PaymentsPost",
        "summary": "Criar pagamento",
        "description": "Endpoint utilizado para criar um pedido de pagamento.\nO pedido de pagamento é criado via API com o status `WAITING_PAYMENT_METHOD`, aguardando o consumidor realizar o pagamento.\nEste status é atualizado de acordo com a ação do consumidor de pagar ou cancelar a compra. Por isso, é preciso adaptar a experiência para informar o consumidor sobre o status do pagamento e a ação a realizar. Para mais informações sobre alterações de status, consulte a seção de [Notificações](#tag/Notificacoes).\n",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL - 2FA",
            "source": "curl --request POST \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"referenceId\": \"{referenceId}\",\n       \"merchantOrderReference\": \"{merchantOrderReference}\",\n       \"amount\": {\n         \"value\": 100.00,\n         \"currency\": \"BRL\"\n       },\n       \"paymentMethod\": {\n         \"type\": \"nupay\",\n         \"authorizationType\": \"manually_authorized\"\n       },\n       \"shopper\": {\n         \"firstName\": \"{customerName}\",\n         \"lastName\": \"{customerLastName}\",\n         \"document\": \"{customerDocument}\",\n         \"documentType\": \"CPF\",\n         \"email\": \"{customerEmail}\",\n         \"phone\": {\n           \"country\": \"55\",\n           \"number\": \"{customerPhone}\"\n         }\n       },\n       \"paymentFlow\": {\n         \"returnUrl\": \"https://loja.exemplo.com/sucesso\",\n         \"cancelUrl\": \"https://loja.exemplo.com/cancelar\"\n       },\n       \"recipients\": {\n         \"referenceId\": \"{referenceId}\",\n         \"amount\": {\n            \"value\": 100.00,\n            \"currency\": \"BRL\"\n          }                 \n       }\n     }'\n"
          },
          {
            "lang": "cURL",
            "label": "cURL - pré-autorizado",
            "source": "curl --request POST \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments' \\\n     --header 'Authorization: Bearer {access_token}' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"referenceId\": \"{referenceId}\",\n       \"merchantOrderReference\": \"{merchantOrderReference}\",\n       \"amount\": {\n         \"value\": 100.00,\n         \"currency\": \"BRL\"\n       },\n       \"paymentMethod\": {\n         \"type\": \"nupay\",\n         \"authorizationType\": \"pre_authorized\",\n         \"fundingSource\": \"credit\"\n       },\n       \"installments\": 1,\n       \"shopper\": {\n         \"firstName\": \"{customerName}\",\n         \"lastName\": \"{customerLastName}\",\n         \"document\": \"{customerDocument}\",\n         \"documentType\": \"CPF\",\n         \"email\": \"{customerEmail}\",\n         \"phone\": {\n           \"country\": \"55\",\n           \"number\": \"{customerPhone}\"\n         }\n       },\n       \"recipients\": {\n         \"referenceId\": \"{referenceId}\",\n         \"amount\": {\n            \"value\": 100.00,\n            \"currency\": \"BRL\"\n          }                 \n       }\n     }'\n"
          }
        ]
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/status": {
      "get": {
        "tags": [
          "Pagamentos"
        ],
        "parameters": [
          {
            "name": "pspReferenceId",
            "description": "ID do pagamento que deseja visualizar o status",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutStatusResponse"
                },
                "examples": {
                  "NuPay - Status de um pagamento autorizado": {
                    "value": {
                      "paymentMethodType": "nupay",
                      "installmentNumber": 1,
                      "paymentType": "credit",
                      "referenceId": "86371aa1-9e64-4abc-8af9-6400ef23cd69",
                      "pspReferenceId": "ea451bf2-26b8-40f8-a0a1-27d95df55871",
                      "timestamp": "2022-08-16T17:20:48.795Z",
                      "status": "COMPLETED",
                      "amount": {
                        "value": 0.02,
                        "currency": "BRL"
                      },
                      "payer": {
                        "id": "1e557cd9-31c8-4b60-86c6-3f8974416e7a"
                      }
                    }
                  },
                  "Status de um pagamento cancelado pelo cliente": {
                    "value": {
                      "installmentNumber": 1,
                      "referenceId": "86371aa1-9e64-4abc-8af9-6400ef23cd69",
                      "pspReferenceId": "ea451bf2-26b8-40f8-a0a1-27d95df55871",
                      "timestamp": "2022-08-16T17:20:48.795Z",
                      "status": "CANCELLED",
                      "code": "CANCELLED_BY_USER",
                      "message": "User has cancelled this payment.",
                      "amount": {
                        "value": 0.02,
                        "currency": "BRL"
                      },
                      "payer": {}
                    }
                  },
                  "Status de um pagamento autorizado e depois pedido o estorno": {
                    "value": {
                      "paymentMethodType": "nupay",
                      "installmentNumber": 1,
                      "referenceId": "595b6e74-0030-43ab-9b89-8f2ec9923272",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "timestamp": "2019-11-05T19:59:09Z",
                      "status": "COMPLETED",
                      "amount": {
                        "value": 110.01,
                        "currency": "BRL"
                      },
                      "payer": {
                        "id": "1e557cd9-31c8-4b60-86c6-3f8974416e7a"
                      },
                      "refunds": [
                        {
                          "refundId": "F5C1A4E20D3B4E07B7E871F5B5BC9F22",
                          "status": "REFUNDING",
                          "dueDate": null,
                          "transactionRefundId": "234982-abcde-1235",
                          "amount": {
                            "value": 10.01,
                            "currency": "BRL"
                          }
                        }
                      ]
                    }
                  },
                  "Status de um pagamento autorizado e depois pedido o estorno, que não executado por conta de um erro": {
                    "value": {
                      "paymentMethodType": "nupay",
                      "installmentNumber": 1,
                      "referenceId": "595b6e74-0030-43ab-9b89-8f2ec9923272",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "timestamp": "2019-11-05T19:59:09Z",
                      "status": "COMPLETED",
                      "amount": {
                        "value": 110.01,
                        "currency": "BRL"
                      },
                      "payer": {
                        "id": "1e557cd9-31c8-4b60-86c6-3f8974416e7a"
                      },
                      "refunds": [
                        {
                          "refundId": "F5C1A4E20D3B4E07B7E871F5B5BC9F22",
                          "status": "ERROR",
                          "dueDate": null,
                          "transactionRefundId": "234982-abcde-1235",
                          "amount": {
                            "value": 10.01,
                            "currency": "BRL"
                          },
                          "error": {
                            "type": "PAYMENT_METHOD",
                            "code": "AB03",
                            "message": "Operation failed. Try again."
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "Pagamento com campo inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder id;",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                },
                "examples": {
                  "Pagamento não pode ser localizado": {
                    "value": {
                      "status": 404,
                      "message": "[404] Not found PaymentOrder;",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "deprecated": false,
        "operationId": "PaymentsStatusByPspReferenceIdGet",
        "summary": "Consultar status de um pagamento",
        "description": "Consulta o status de um pedido.\n\n\nA resposta contém informações sobre o pagamento.\nTambém pode retornar identificação dos estornos, caso exista.\n",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments/{pspReferenceId}/status' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/cancel": {
      "post": {
        "tags": [
          "Pagamentos"
        ],
        "parameters": [
          {
            "name": "pspReferenceId",
            "description": "ID do pagamento que deseja cancelar",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutCancelResponse"
                },
                "examples": {
                  "Cancelamento com sucesso": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "CANCELLED"
                    }
                  },
                  "Cancelamento já realizado": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "DENIED",
                      "code": "ALREADY_CANCELLED",
                      "message": "This payment was already cancelled."
                    }
                  },
                  "Cancelamento já realizado pelo usuário": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "DENIED",
                      "code": "CANCELLED_BY_USER",
                      "message": "This payment was already cancelled."
                    }
                  },
                  "Cancelamento já realizado pelo e-commerce": {
                    "value": {
                      "referenceId": "F5C1A4E20D3B4E07B7E871F5B5BC9F91",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "DENIED",
                      "code": "CANCELLED_BY_SELLER",
                      "message": "This payment was already cancelled."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "Pagamento não pode ser cancelado": {
                    "value": {
                      "status": 400,
                      "message": "[400] Payment cannot be cancelled.",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedAuthErrorResponse"
                },
                "examples": {
                  "Ausência do campo X-Merchant-Token obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appToken header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "Ausência do campo X-Merchant-Key obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appKey header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                },
                "examples": {
                  "Pagamento não pode ser localizado": {
                    "value": {
                      "status": 404,
                      "message": "[404] Not found PaymentOrder;",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          },
          "423": {
            "description": "Locked"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "deprecated": false,
        "operationId": "PaymentsCancelByPspReferenceIdPost",
        "summary": "Cancelar um pagamento",
        "description": "Cancela um pagament criado, mas que ainda não foi pago, isto é, pagamentos com status `WAITING_PAYMENT_METHOD`.\n\nPara pedidos pagos, deve ser usado o endpoint para [abrir estorno](#operation/PaymentsRefundByPspReferenceIdPost).\n",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments/{pspReferenceId}/cancel' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/refunds": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCreationRequest"
              },
              "examples": {
                "Estorno válido": {
                  "value": {
                    "transactionRefundId": "234982-abcde-1235",
                    "amount": {
                      "value": 110.01,
                      "currency": "BRL"
                    },
                    "notes": "Cliente recebeu produto com defeito."
                  }
                }
              }
            }
          },
          "required": true
        },
        "tags": [
          "Estornos"
        ],
        "parameters": [
          {
            "name": "pspReferenceId",
            "description": "ID do pagamento que deseja estornar",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCreationResponse"
                },
                "examples": {
                  "Estorno solicitado com sucesso": {
                    "value": {
                      "refundId": "fde05f28-486e-4399-b23e-c14a559c1845",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "REFUNDING",
                      "dueDate": null
                    }
                  },
                  "Estorno não executado por falta de saldo": {
                    "value": {
                      "refundId": "fde05f28-486e-4399-b23e-c14a559c1845",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "ERROR",
                      "dueDate": null,
                      "error": {
                        "type": "INSUFFICIENT_FUNDS",
                        "message": "Insufficient funds to complete refund. Try again later after new transactions are approved."
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInvalidResponse"
                },
                "examples": {
                  "Erro de validação do ID do Payment Order": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid PaymentOrder id.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "RefundId já criado anteriormente": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid This refund with transactionRefundId `transactionRefundId` already was requested.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "refundId": "refundId"
                      }
                    }
                  },
                  "Valor de refund inválido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid Refund amount.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Pagamento já cancelado": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid This payment was already cancelled.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Pagamento não pode ser reembolsado": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid This payment can not be refunded.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Pagamento ainda não pode ser reembolsado": {
                    "value": {
                      "status": 400,
                      "message": "[400] This payment was not settled yet to be refunded. Use cancel endpoint instead.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Reembolso parcial não permitido": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid This payment can not be partially refund.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Valor de reembolso excede valor disponível": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid Required refund amount exceeds the amount available.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {}
                    }
                  },
                  "Campo obrigatório inválido - transactionRefundId": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "validationErrors": [
                          {
                            "code": "required",
                            "path": "",
                            "message": "should have required property 'transactionRefundId'",
                            "params": {
                              "missingProperty": "transactionRefundId"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Campo obrigatório inválido - amount": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "validationErrors": [
                          {
                            "code": "required",
                            "path": "",
                            "message": "should have required property 'amount'",
                            "params": {
                              "missingProperty": "amount"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Campo obrigatório inválido - amount.value": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "validationErrors": [
                          {
                            "code": "required",
                            "path": ".amount",
                            "message": "should have required property 'value'",
                            "params": {
                              "missingProperty": "value"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Campo obrigatório inválido - amount.currency": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "validationErrors": [
                          {
                            "code": "required",
                            "path": ".amount",
                            "message": "should have required property 'currency'",
                            "params": {
                              "missingProperty": "currency"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Campo obrigatório inválido - amount.currency não disponível": {
                    "value": {
                      "status": 400,
                      "message": "[400] Request schema validation failed.",
                      "stackId": "e10a36cd-8cb4-42a1-81e4-a1372ce6731a",
                      "details": {
                        "validationErrors": [
                          {
                            "code": "enum",
                            "path": ".amount.currency",
                            "message": "should be equal to one of the allowed values",
                            "params": {
                              "allowedValues": [
                                "BRL"
                              ]
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Ausência do header JWS (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 400,
                      "message": "[400] Missing JWS signature header",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedAuthErrorResponse"
                },
                "examples": {
                  "Ausência do campo X-Merchant-Key obrigatório no header": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized Undefined auth appKey header.",
                      "stackId": "ebfe258a-a198-46b5-93e8-4497c1d93f51",
                      "details": {}
                    }
                  },
                  "Ausência do campo X-Merchant-Token obrigatório no header": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized Undefined auth appToken header.",
                      "stackId": "ebfe258a-a198-46b5-93e8-4497c1d93f51",
                      "details": {}
                    }
                  },
                  "JWS inválido (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 401,
                      "message": "[401] Invalid JWS signature (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "Chave pública não encontrada (somente se JWS estiver habilitado para o cliente)": {
                    "value": {
                      "status": 401,
                      "message": "[401] Public key not found (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "423": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInvalidResponse"
                },
                "examples": {
                  "Erro de bloqueio": {
                    "value": {
                      "status": 423,
                      "message": "[423] Lock is busy.",
                      "stackId": "2b70fcdf-3cf3-48b9-b9d4-fe9da6448490",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Locked"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInvalidResponse"
                },
                "examples": {
                  "Erro de servidor": {
                    "value": {
                      "status": 500,
                      "message": "Opss. [mensagem de erro]",
                      "stackId": "1d06a5da-b9b2-4f57-9b9f-190b6b12c6c8",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "deprecated": false,
        "operationId": "PaymentsRefundByPspReferenceIdPost",
        "summary": "Estornar um pagamento",
        "description": "Endpoint utilizado para devolver o valor pago para o consumidor.\n\nÉ possível fazer estorno de valores parciais para NuPay, desde que a soma dos estornos parciais em abertos e concluídos não ultrapassem o valor total do pagamento original.\n\nO status de um estorno é alterado conforme o estorno é processado. É responsabilidade do e-commerce implementar mecanismos de acompanhamento das mudanças de status de um estorno, para isso, consulte a [seção sobre Notificações](#tag/Notificacoes).\n\nOs comprovantes de estornos ficam disponíveis somente por meio do Painel do Lojista.\n\n### Casos especiais\nEm alguns casos, um estorno pode não ser concluído. Alguns deles são:\n\n  - O pagamento foi reautorizado por algum acordo entre NuPay for Business e e-commerce;\n  - Um pedido de estorno foi aberto e cancelado anteriormente para o mesmo pagamento;\n  - Foi solicitado o bloqueio de estornos para o pagamento;\n  - Não há saldo suficiente na conta de pagamento do e-commerce na NuPay for Business;\n  - A conta de origem do pagamento não existe mais.\n\nVocê pode consultar o mapeamento de erros [neste link](/#/checkout/guide/api/refunds/?id=erros-estorno).\nO erro será descrito na resposta da requisição no campo `error`. Consulte os exemplos de resposta ao lado para mais informações.\n",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments/{pspReferenceId}/refunds' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"transactionRefundId\": \"234982-abcde-1235\",\n       \"amount\": {\n         \"value\": 110.01,\n         \"currency\": \"BRL\"\n       },\n       \"notes\": \"Cliente recebeu produto com defeito.\"\n     }'\n"
          }
        ]
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/refunds/{refundId}": {
      "get": {
        "tags": [
          "Estornos"
        ],
        "parameters": [
          {
            "name": "refundId",
            "description": "ID do estorno do pagamento que deseja consultar.",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "pspReferenceId",
            "description": "ID do pagamento do estorno.",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundStatusResponse"
                },
                "examples": {
                  "Estorno sendo processado": {
                    "value": {
                      "refundId": "F5C1A4E20D3B4E07B7E871F5B5BC9F22",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "transactionRefundId": "234982-abcde-1235",
                      "status": "REFUNDING",
                      "dueDate": null,
                      "amount": {
                        "value": 10.01,
                        "currency": "BRL"
                      }
                    }
                  },
                  "Estorno realizado com sucesso": {
                    "value": {
                      "refundId": "F5C1A4E20D3B4E07B7E871F5B5BC9F22",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "transactionRefundId": "234982-abcde-1235",
                      "status": "REFUNDED",
                      "dueDate": null,
                      "amount": {
                        "value": 10.01,
                        "currency": "BRL"
                      }
                    }
                  },
                  "Estorno não executado por conta de um erro": {
                    "value": {
                      "refundId": "F5C1A4E20D3B4E07B7E871F5B5BC9F22",
                      "pspReferenceId": "ea6dd35a-699e-4dc1-b036-3369f409c8cd",
                      "status": "ERROR",
                      "dueDate": null,
                      "amount": {
                        "value": 10.01,
                        "currency": "BRL"
                      },
                      "error": {
                        "type": "PAYMENT_METHOD",
                        "code": "AB03",
                        "message": "Operation failed. Try again."
                      }
                    }
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInvalidResponse"
                },
                "examples": {
                  "RefundID preenchido com id inválido.": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid Refund id; (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedAuthErrorResponse"
                },
                "examples": {
                  "Ausência do campo X-Merchant-Token obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appToken header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  },
                  "Ausência do campo X-Merchant-Key obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appKey header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "operationId": "PaymentsRefundByIdGet",
        "summary": "Consultar um estorno",
        "description": "Este endpoint retorna as informações do estorno (`refundId`) de um pagamento (`pspReferenceId`),  especificados como parâmetros na requisição.\n",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n     --url 'https://sandbox-api.spinpay.com.br/v1/checkouts/payments/{pspReferenceId}/refunds/{refundId}' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/{callbackUrl}": {
      "post": {
        "tags": [
          "Notificações"
        ],
        "summary": "Notificações de atualização de status de pedido",
        "description": "**Lembrete:** esse endpoint deve ser implementado **pelo e-commerce**, e não pela NuPay for Business.\n\nConsulte a seção sobre [Notificações de eventos](/#/checkout/guide/api/notifications/) para mais detalhes.",
        "operationId": "PaymentOrderNotificationCallback",
        "parameters": [
          {
            "name": "callbackUrl",
            "description": "URL de callback fornecida na criação do pagamento.",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "X-Spin-Signature",
            "in": "header",
            "description": "Assinatura da chamada",
            "example": "UVhslgtbavMol9u8iAQsy5NtmlcYZnfbJ7XtnlFzV7B9NNG7C6Z4RQj2k3+wWcJKUP9selY9UPGtgwgmvG6dfg==",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "X-Spin-Timestamp",
            "in": "header",
            "description": "Timestamp da chamada",
            "example": "2020-01-01T14:22:18.572Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentOrderNotificationCallback"
              },
              "examples": {
                "NuPay": {
                  "$ref": "#/components/examples/NuPayNotificationCallbackExample"
                },
                "Pix": {
                  "$ref": "#/components/examples/PixNotificationCallbackExample"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "example": ""
              }
            }
          },
          "401": {
            "description": "Houve um erro de validação na assinatura da notificação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationCallbackErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{callbackUrl}/refunds": {
      "post": {
        "tags": [
          "Notificações"
        ],
        "summary": "Notificações de atualização de status de estorno",
        "operationId": "RefundNotificationCallback",
        "description": "**Lembrete:** esse endpoint deve ser implementado **pelo e-commerce**, e não pela NuPay for Business.\n\nConsulte a seção sobre [Notificações de eventos](/#/checkout/guide/api/notifications/) para mais detalhes.",
        "parameters": [
          {
            "name": "callbackUrl",
            "description": "URL de callback fornecida na criação do pagamento.",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "X-Spin-Signature",
            "in": "header",
            "description": "Assinatura da chamada",
            "example": "UVhslgtbavMol9u8iAQsy5NtmlcYZnfbJ7XtnlFzV7B9NNG7C6Z4RQj2k3+wWcJKUP9selY9UPGtgwgmvG6dfg==",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "X-Spin-Timestamp",
            "in": "header",
            "description": "Timestamp da chamada",
            "example": "2020-01-01T14:22:18.572Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundNotificationCallback"
              },
              "examples": {
                "Notificação de estorno": {
                  "$ref": "#/components/examples/RefundNotificationCallbackExample"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "example": ""
              }
            }
          },
          "401": {
            "description": "Houve um erro de validação na assinatura da notificação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationCallbackErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/authorize": {
      "get": {
        "tags": [
          "Autorização para app - OAuth2"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Client ID gerado pelo time NuPay e informado no momento do onboarding.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "234982-abcde-1235"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Array de strings com os escopos desejados.\n\nEscopo | Descrição\n- | -\n**charge** | Escopo com permissão para cobranças.\n**refund** | Escopo com permissão para estornos.\n**payment_conditions** | Escopo com permissão para consulta de condições de pagamento.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true,
            "example": [
              "charge",
              "refund",
              "payment_conditions"
            ]
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "Envie o valor `code`.",
            "schema": {
              "type": "string",
              "default": "code"
            },
            "required": true
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "URL a ser utilizada para redirecionar o cliente de volta ao e-commerce uma vez que concluir a autorização no app do Nubank. Os atributos `code` e `state` são enviados como query parameter. O protocolo deve ser sempre `HTTPS`",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "https://merchant-domain.com/redirect-uri"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Estado de validação gerado pelo e-commerce que será retornado na URL de resposta e pode ser utilizado para validar a resposta.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "0b10616b-3aa7-4b1c-a902-3e85b2549025"
          },
          {
            "name": "code_challenge",
            "in": "query",
            "description": "Valor alfanumérico gerada pelo e-commerce, deve ser armazenada para uso posterior.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "415594c595621aa3ae171843f1f256fa4920ca5da06eeccdd6f2bab9edc8e818"
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "Tipo de validação do `code_challenge`, deve-se sempre enviar `S256`.",
            "schema": {
              "type": "string",
              "default": "S256"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizationLink200Response"
                },
                "examples": {
                  "URL gerada com sucesso": {
                    "value": {
                      "redirect_uri": "https://nuapp.nubank.com.br/bdc/omniknight/expr/pre-authorized-payments.home-screen?merchant-name=merchant-name&ticket=Ge24tKp1ahrTf5XCsqhPaGB239SD_2oT4gx8A-aRfoE&merchant-source-id=06a69086-6030-4b78-93ef-3a8dfa6e3a7e&state=a7631935-c95b-4570-a9c1-ce4e94623f92"
                    }
                  },
                  "Resposta erro invalid_request": {
                    "description": "Resposta erro invalid_request",
                    "value": {
                      "redirect_uri": "https://merchant.app.link/authorize?error=invalid_request&error_description=Invalid+code+challenge+method&state=a7631935-c95b-4570-a9c1-ce4e94623f92"
                    }
                  },
                  "Resposta erro invalid_scope": {
                    "description": "Resposta erro invalid_scope",
                    "value": {
                      "redirect_uri": "https://merchant.app.link/authorize?error=invalid_scope&error_description=Internal+scope&state=a7631935-c95b-4570-a9c1-ce4e94623f92"
                    }
                  },
                  "Resposta erro unsupported_response_type": {
                    "description": "Resposta erro unsupported_response_type",
                    "value": {
                      "redirect_uri": "https://merchant.app.link/authorize?error=unsupported_response_type&error_description=Invalid+response+type&state=a7631935-c95b-4570-a9c1-ce4e94623f92"
                    }
                  },
                  "Resposta erro server_error": {
                    "value": {
                      "redirect_uri": "https://merchant.app.link/authorize?error=server_error&error_description=Internal+server+error&state=a7631935-c95b-4570-a9c1-ce4e94623f92"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizationLink400Response"
                },
                "examples": {
                  "Header appToken ausente": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Undefined auth appToken header",
                      "state": "0b10616b-3aa7-4b1c-a902-3e85b2549025"
                    }
                  },
                  "Header appKey ausente": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Undefined auth appKey header",
                      "state": "0b10616b-3aa7-4b1c-a902-3e85b2549025"
                    }
                  },
                  "IP não liberado": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Could not resolve client IP",
                      "state": "0b10616b-3aa7-4b1c-a902-3e85b2549025"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "operationId": "GenerateAuthorizationUrl",
        "servers": [
          {
            "url": "https://sandbox-authentication.spinpay.com.br/api",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://authentication.spinpay.com.br/api",
            "description": "Servidor de Produção"
          }
        ],
        "summary": "Gerar URL de autorização",
        "description": "Endpoint para obter a URL de redirecionamento do cliente associada à tela de autorização dentro do aplicativo do Nubank.",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/authorize?client_id={client_id}&scope=charge&scope=refund&scope=payment_conditions&response_type=code&redirect_uri={redirect_uri}&state={state}&code_challenge={code_challenge}&code_challenge_method=S256' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/token": {
      "post": {
        "tags": [
          "Tokens de autorização"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OAuthAuthorizationCodeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OAuthRefreshTokenRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CibaAccessTokenRequest"
                  }
                ]
              },
              "examples": {
                "OAuth - Requisição authorization code": {
                  "value": {
                    "client_assertion_type": "urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer",
                    "client_assertion": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....",
                    "grant_type": "authorization_code",
                    "code": "1e557cd9-31c8-4b60-86c6-3f8974416e7a",
                    "redirect_uri": "https://merchant-domain.com/redirect-uri",
                    "code_verifier": "4alk121agfg"
                  }
                },
                "OAuth - Requisição refresh token": {
                  "value": {
                    "client_assertion_type": "urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer",
                    "client_assertion": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....",
                    "grant_type": "refresh_token",
                    "refresh_token": "979d887a-2c63-4719-ba65-0b20b50f1cab",
                    "code_verifier": "4alk121agfg"
                  }
                },
                "CIBA - Requisição access token": {
                  "value": {
                    "client_id": "1012345678910",
                    "client_assertion_type": "urn:ietf:params:oauth:client-assertion-type:jwt-bearer",
                    "client_assertion": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....",
                    "grant_type": "refresh_token",
                    "refresh_token": "979d887a-2c63-4719-ba65-0b20b50f1cab"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OAuthAuthorizationCode200Response"
                    },
                    {
                      "$ref": "#/components/schemas/OAuthRefreshToken200Response"
                    },
                    {
                      "$ref": "#/components/schemas/CibaAccessToken200Response"
                    }
                  ]
                },
                "examples": {
                  "OAuth - Resposta authorization code": {
                    "value": {
                      "access_token": "1ceb3a86-3a7e-479f-bee7-d8bb025809c2",
                      "token_type": "Bearer",
                      "expires_in": 300,
                      "refresh_token": "979d887a-2c63-4719-ba65-0b20b50f1cab"
                    }
                  },
                  "OAuth - Resposta refresh token": {
                    "value": {
                      "access_token": "1ceb3a86-3a7e-479f-bee7-d8bb025809c2",
                      "token_type": "Bearer",
                      "expires_in": 300,
                      "refresh_token": "979d887a-2c63-4719-ba65-0b20b50f1cab"
                    }
                  },
                  "CIBA - Resposta access token": {
                    "value": {
                      "access_token": "1ceb3a86-3a7e-479f-bee7-d8bb025809c2",
                      "token_type": "Bearer",
                      "expires_in": 300,
                      "refresh_token": "979d887a-2c63-4719-ba65-0b20b50f1cab"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OAuthAuthorizationCode400Response"
                    },
                    {
                      "$ref": "#/components/schemas/OAuthRefreshToken400Response"
                    },
                    {
                      "$ref": "#/components/schemas/CibaAccessToken400Response"
                    }
                  ]
                },
                "examples": {
                  "OAuth - Resposta authorization code error": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Error while generating token",
                      "state": "XXX"
                    }
                  },
                  "OAuth - Resposta refresh token error": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Error while generating token",
                      "state": "XXX"
                    }
                  },
                  "CIBA - Resposta access token error": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Error while generating token"
                    }
                  }
                }
              }
            },
            "description": "Bad request"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "operationId": "GenerateToken",
        "servers": [
          {
            "url": "https://sandbox-authentication.spinpay.com.br/api",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://authentication.spinpay.com.br/api",
            "description": "Servidor de Produção"
          }
        ],
        "summary": "Gerar refresh e access token",
        "description": "Endpoint para gerar um `refresh_token` a partir do `code` (apenas para OAuth) ou gerar um `access_token` a partir de um `refresh_token` (OAuth ou CIBA). \nO endpoint é o mesmo para os protocolos OAuth e CIBA, porém os campos a serem enviados na requisição são diferentes, como mostra os exemplos ao lado.\n### Access token\nO `access_token` possui validade de 5 minutos e sempre será invalidado quando um novo for solicitado.\n### Refresh token\nO `refresh_token` deve ser armazenado. É utilizado toda vez que uma solicitação de `access_token` for necessária.\n\n**Após o tempo de expiração do refresh_token, é necessário refazer o processo de autorização do NuPay.**",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL - OAuth Auth Code",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/token' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/x-www-form-urlencoded' \\\n     --data 'client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion={client_assertion}&grant_type=authorization_code&code={code}&redirect_uri={redirect_uri}&code_verifier={code_verifier}'\n"
          },
          {
            "lang": "cURL",
            "label": "cURL - OAuth Refresh Token",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/token' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/x-www-form-urlencoded' \\\n     --data 'client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion={client_assertion}&grant_type=refresh_token&refresh_token={refresh_token}&code_verifier={code_verifier}'\n"
          },
          {
            "lang": "cURL",
            "label": "cURL - CIBA Access Token",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/token' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/x-www-form-urlencoded' \\\n     --data 'client_id={client_id}&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion={client_assertion}&grant_type=refresh_token&refresh_token={refresh_token}'\n"
          }
        ]
      }
    },
    "/v1/backchannel/authentication": {
      "post": {
        "tags": [
          "Autorização para web - CIBA",
          "Autorização para web - OTP"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CibaAuthorizationRequest"
                  }
                ]
              },
              "examples": {
                "Requisição access token": {
                  "value": {
                    "parameters": "login_hint={{customerCPF}}&scope=openid&scope=charge&scope=payment_conditions&client_notification_token={{clientNotificationToken}}&client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&client_assertion={{clientAssertion}}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CibaAuthorization200Response"
                    }
                  ]
                },
                "examples": {
                  "Resposta CIBA": {
                    "value": {
                      "auth_req_id": "FiKSlYqrvApAtE9uIirrWFsLb5l7wR9CWUfG4YqJiXw",
                      "expires_in": 600
                    }
                  },
                  "Resposta OTP": {
                    "value": {
                      "auth_req_id": "FiKSlYqrvApAtE9uIirrWFsLb5l7wR9CWUfG4YqJiXw",
                      "masked_phone_number": "(11)xxxxx-1234",
                      "ticket": "AbCdEfGhIjKlMnOpQrStUvWxYz1234567890",
                      "expires_in": 600
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CibaAuthorization400Response"
                    }
                  ]
                },
                "examples": {
                  "Request com parâmetros inválidos": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Invalid login_hint"
                    }
                  },
                  "Client informado não é válido": {
                    "value": {
                      "error": "invalid_client"
                    }
                  },
                  "Customer não é elegível ao OTP (OTP Apenas)": {
                    "value": {
                      "error": "not_eligible",
                      "error_description": "Customer is not eligible for OTP tokenization"
                    }
                  },
                  "Um ou mais escopos enviados na requisição são inválidos": {
                    "value": {
                      "error": "invalid_scope",
                      "error_description": "Invalid scope"
                    }
                  },
                  "Client não autorizado": {
                    "value": {
                      "error": "unauthorized_client"
                    }
                  }
                }
              }
            },
            "description": "Bad request"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "servers": [
          {
            "url": "https://sandbox-authentication.spinpay.com.br/api",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://authentication.spinpay.com.br/api",
            "description": "Servidor de Produção"
          }
        ],
        "summary": "Gerar autorização",
        "operationId": "backchannelAuthentication",
        "description": "Esse endpoint deve ser chamado para iniciar o processo de autenticação via CIBA (Client-Initiated Backchannel Authentication) ou OTP (One-Time Password).",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/backchannel/authentication' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/x-www-form-urlencoded' \\\n     --data 'parameters=login_hint%3D{login_hint}%26client_assertion_type%3D{client_assertion_type}%26client_assertion%3D{client_assertion}%26client_notification_token%3D{client_notification_token}%26scope%3D{scope}%26scope%3D{scope}%26auth_method%3D{auth_method}'\n"
          }
        ]
      }
    },
    "/v1/backchannel/authentication/complete": {
      "post": {
        "tags": [
          "Autorização para web - OTP"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OTPCompleteRequest"
                  }
                ]
              },
              "examples": {
                "Requisição de validação OTP": {
                  "value": {
                    "parameters": "login_hint=<customer-CPF>&client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&client_assertion=<client-assertion>",
                    "otp": "123456",
                    "ticket": "Ge24tKp1ahrTf5XCsqhPaGB239SD_2oT4gx8A-aRfoE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OTPComplete200Response"
                    }
                  ]
                },
                "examples": {
                  "Resposta auth_code": {
                    "value": {
                      "access_token": "AbCdEfGhIjKlMnOpQrStUvWxYz1234567890",
                      "refresh_token": "FiKSlYqrvApAtE9uIirrWFsLb5l7wR9CWUf"
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OTPComplete400Response"
                    }
                  ]
                },
                "examples": {
                  "Resposta validação de OTP error": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Invalid parameter"
                    }
                  }
                }
              }
            },
            "description": "Bad request"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "servers": [
          {
            "url": "https://sandbox-authentication.spinpay.com.br/api",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://authentication.spinpay.com.br/api",
            "description": "Servidor de Produção"
          }
        ],
        "summary": "Validar código OTP",
        "operationId": "backchannelCompleteOTP",
        "description": "Esse endpoint deve ser chamado para completar o processo de autenticação via OTP (One-Time Password), validando o código de autenticação recebido pelo cliente.",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/backchannel/authentication/complete' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"parameters\": \"login_hint={customerCPF}&client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&client_assertion={clientAssertion}\",\n       \"otp\": \"123456\",\n       \"ticket\": \"Ge24tKp1ahrTf5XCsqhPaGB239SD_2oT4gx8A-aRfoE\"\n     }'\n"
          }
        ]
      }
    },
    "/v1/backchannel/authentication/otp/resend": {
      "post": {
        "tags": [
          "Autorização para web - OTP"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OTPResendRequest"
                  }
                ]
              },
              "examples": {
                "Requisição de reenvio de OTP": {
                  "value": {
                    "login_hint": "12345678909",
                    "ticket": "Ge24tKp1ahrTf5XCsqhPaGB239SD_2oT4gx8A-aRfoE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OTPResend400Response"
                    }
                  ]
                },
                "examples": {
                  "Request com parâmetros inválidos": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Invalid login_hint"
                    }
                  },
                  "Client informado não é válido": {
                    "value": {
                      "error": "invalid_client"
                    }
                  },
                  "Customer não é elegível ao OTP": {
                    "value": {
                      "error": "not_eligible",
                      "error_description": "Customer is not eligible for OTP tokenization"
                    }
                  },
                  "Client não autorizado": {
                    "value": {
                      "error": "unauthorized_client"
                    }
                  }
                }
              }
            },
            "description": "Bad request"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "MerchantApiKey": [],
            "MerchantApiToken": []
          }
        ],
        "deprecated": false,
        "servers": [
          {
            "url": "https://sandbox-authentication.spinpay.com.br/api",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://authentication.spinpay.com.br/api",
            "description": "Servidor de Produção"
          }
        ],
        "summary": "Reenviar código OTP",
        "operationId": "backchannelResendOTP",
        "description": "Esse endpoint deve ser chamado para reenviar o código OTP (One-Time Password) para o cliente.",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n     --url 'https://sandbox-authentication.spinpay.com.br/api/v1/backchannel/authentication/otp/resend' \\\n     --header 'X-Merchant-Key: {X-Merchant-Key}' \\\n     --header 'X-Merchant-Token: {X-Merchant-Token}' \\\n     --header 'Content-Type: application/json' \\\n     --data '{\n       \"login_hint\": \"12345678909\",\n       \"ticket\": \"Ge24tKp1ahrTf5XCsqhPaGB239SD_2oT4gx8A-aRfoE\"\n     }'\n"
          }
        ]
      }
    },
    "/v1/backchannel/{callbackUrl}": {
      "post": {
        "tags": [
          "Autorização para web - CIBA"
        ],
        "summary": "Notificação de autorização",
        "description": "**Lembrete:** esse endpoint deve ser implementado **pelo e-commerce**, e não pela NuPay for Business.",
        "security": [],
        "operationId": "CibaAuthorizationNotificationCallback",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Token informado na requisição /backchannel/authentication na propriedade `client_notification_token` seguindo o formato: Bearer **client_notification_token**"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CibaAuthorizationNotificationRequest"
              },
              "examples": {
                "Notificação de sucesso": {
                  "$ref": "#/components/examples/CibaAuthenticationNotificationSuccess"
                },
                "Notificação de erro": {
                  "$ref": "#/components/examples/CibaAuthenticationNotificationError"
                },
                "Cliente não autorizou o consentimento": {
                  "$ref": "#/components/examples/CibaAuthenticationNotificationDenyAuthorization"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "example": ""
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://{api.merchant}.com/",
            "description": "Servidor de Testes (Sandbox)"
          },
          {
            "url": "https://{merchant-api}.com/",
            "description": "Servidor de Produção"
          }
        ]
      }
    },
    "/v1/checkouts/payment-conditions?amount={amount}": {
      "get": {
        "tags": [
          "Condições de pagamento com Token"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "description": "Recebe o Bearer `access_token`.",
            "example": "Bearer UVhslgtbavMol9u8",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "required": true,
            "in": "query",
            "description": "Valor a ser pago.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentConditionResponse"
                },
                "examples": {
                  "Débito e Crédito": {
                    "value": [
                      {
                        "type": "debit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          }
                        ]
                      },
                      {
                        "type": "credit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          },
                          {
                            "quantity": 2,
                            "amount": 1000
                          },
                          {
                            "quantity": 3,
                            "amount": 729.52,
                            "amountPercentage": 100,
                            "interest": 0.05,
                            "interestAmount": 34.67,
                            "iof": 16.29,
                            "iofPercentage": 0.008,
                            "totalAmount": 2188.57,
                            "totalAmountPercentage": 1.08,
                            "amountContracted": 2016.29,
                            "amountContractedPercentage": 1,
                            "cet": 0.88
                          }
                        ]
                      }
                    ]
                  },
                  "Débito": {
                    "value": [
                      {
                        "type": "debit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          }
                        ]
                      }
                    ]
                  },
                  "Crédito": {
                    "value": [
                      {
                        "type": "credit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          },
                          {
                            "quantity": 2,
                            "amount": 1000
                          },
                          {
                            "quantity": 3,
                            "amount": 729.52,
                            "amountPercentage": 100,
                            "interest": 0.05,
                            "interestAmount": 34.67,
                            "iof": 16.29,
                            "iofPercentage": 0.008,
                            "totalAmount": 2188.57,
                            "totalAmountPercentage": 1.08,
                            "amountContracted": 2016.29,
                            "amountContractedPercentage": 1,
                            "cet": 0.88
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "Campos obrigatórios inválidos": {
                    "value": {
                      "status": 400,
                      "message": "[400] Invalid amount; (stackId: 68b4d6eb-c57e-4076-9200-906b7206272d)",
                      "details": {},
                      "stackId": "68b4d6eb-c57e-4076-9200-906b7206272d"
                    }
                  },
                  "Merchant não possui taxas cadastradas": {
                    "value": {
                      "status": 400,
                      "message": "[400] Merchant has no fees registered. (stackId: 8981263d-ecc6-48c6-b67a-78b55f3dfcbd)",
                      "details": {},
                      "stackId": "8981263d-ecc6-48c6-b67a-78b55f3dfcbd"
                    }
                  },
                  "Saldo e Limite insuficientes": {
                    "value": {
                      "status": 400,
                      "message": "[400] Payment options not available. (stackId: 7ca15c9f-c822-4711-8a75-5acc3e4ca265)",
                      "details": {},
                      "stackId": "7ca15c9f-c822-4711-8a75-5acc3e4ca265"
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedAuthErrorResponse"
                },
                "examples": {
                  "Ausência do campo X-Merchant-Token obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appToken header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "stackId\"": "cb3333-f33d-3c3f-b33e-f3f33333fe3f",
                      "details": {}
                    }
                  },
                  "Ausência do campo X-Merchant-Key obrigatório no header.": {
                    "value": {
                      "status": 401,
                      "message": "[401] Unauthorized appKey header (stackId: cb3333-f33d-3c3f-b33e-f3f33333fe3f)",
                      "stackId\"": "cb3333-f33d-3c3f-b33e-f3f33333fe3f",
                      "details": {}
                    }
                  },
                  "Ausência do escopo payment_conditions no token do header Authorization.": {
                    "value": {
                      "status": 401,
                      "message": "\"[401] Http request error 401: {\\\"error\\\":\\\"Unauthorized\\\"} (stackId: f874dcac-b026-4105-9b90-bf74953bc59c)\"",
                      "stackId\"": "f874dcac-b026-4105-9b90-bf74953bc59c",
                      "details": {}
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "deprecated": true,
        "operationId": "PaymentConditionsGet",
        "summary": "Consultar condições de pagamento com Token",
        "description": "Este endpoint retorna as opções de pagamentos e de parcelamento disponíveis para uma determinada compra. A resposta do endpoint varia de acordo com o cliente e a compra. Não utilize cache para esta consulta.\n> **Importante:** Para consultar as condições de pagamento, verifique se a [autorização](#operation/GenerateAuthorizationUrl) foi feita com o escopo `payment_conditions`.\n\nO header `Authorization` é necessário somente para pagamentos **pré-autorizado** de NuPay."
      }
    },
    "/v1/checkouts/payment-conditions": {
      "post": {
        "tags": [
          "Condições de pagamento CPF"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentConditions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentConditionResponse"
                },
                "examples": {
                  "Débito e Crédito": {
                    "value": [
                      {
                        "type": "debit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          }
                        ]
                      },
                      {
                        "type": "credit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          },
                          {
                            "quantity": 2,
                            "amount": 1000
                          },
                          {
                            "quantity": 3,
                            "amount": 729.52,
                            "amountPercentage": 100,
                            "interest": 0.05,
                            "interestAmount": 34.67,
                            "iof": 16.29,
                            "iofPercentage": 0.008,
                            "totalAmount": 2188.57,
                            "totalAmountPercentage": 1.08,
                            "amountContracted": 2016.29,
                            "amountContractedPercentage": 1,
                            "cet": 0.88
                          }
                        ]
                      }
                    ]
                  },
                  "Débito": {
                    "value": [
                      {
                        "type": "debit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          }
                        ]
                      }
                    ]
                  },
                  "Crédito": {
                    "value": [
                      {
                        "type": "credit",
                        "amount": 2000,
                        "installmentPlans": [
                          {
                            "quantity": 1,
                            "amount": 2000
                          },
                          {
                            "quantity": 2,
                            "amount": 1000
                          },
                          {
[...]
