<p>Hello,</p>

<p>Your Slack integration has expired. To continue receiving messages on Slack, please delete the integration and connect your workspace again. </p>

<p>
Click <a href="{{action_url}}">here</a> to re-connect.
</p>
