.bundle
.codex
.env
.env.*
.git
.github
.agents
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
spec
storage
tests
public/system
tmp
.codeclimate.yml
coverage
public/packs
node_modules
vendor/bundle
.DS_Store
*.swp
*~
