SECRET_KEY_BASE=replace_with_lengthy_secure_hex

FRONTEND_URL=http://0.0.0.0:3000
ASSET_CDN_HOST=

FORCE_SSL=false

ENABLE_ACCOUNT_SIGNUP=false

REDIS_URL=redis://redis:6379
REDIS_PASSWORD=
REDIS_SENTINELS=
REDIS_SENTINEL_MASTER_NAME=

POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=
RAILS_ENV=development
RAILS_MAX_THREADS=5

MAILER_SENDER_EMAIL=Chatwoot <accounts@chatwoot.com>

SMTP_DOMAIN=chatwoot.com
SMTP_ADDRESS=
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=peer
MAILER_INBOUND_EMAIL_DOMAIN=
RAILS_INBOUND_EMAIL_SERVICE=
RAILS_INBOUND_EMAIL_PASSWORD=

MAILGUN_INGRESS_SIGNING_KEY=
MANDRILL_INGRESS_API_KEY=

ACTION_MAILBOX_SES_SNS_TOPIC=

ACTIVE_STORAGE_SERVICE=local

VIPS_BLOCK_UNTRUSTED=1

S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
LOG_SIZE=500
FB_VERIFY_TOKEN=
FB_APP_SECRET=
FB_APP_ID=

IG_VERIFY_TOKEN=

TWITTER_APP_ID=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ENVIRONMENT=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=

IOS_APP_ID=L7YLMN4634.com.chatwoot.app
ANDROID_BUNDLE_ID=com.chatwoot.app

ANDROID_SHA256_CERT_FINGERPRINT=AC:73:8E:DE:EB:56:EA:CC:10:87:02:A7:65:37:7B:38:D4:5D:D4:53:F8:3B:FB:D3:C6:28:64:1D:AA:08:1E:D8

ENABLE_PUSH_RELAY_SERVER=true

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DIRECT_UPLOADS_ENABLED=

AZURE_APP_ID=
AZURE_APP_SECRET=
