x-base-config: &a1
  image: ghcr.io/nighttech-services/chatwoot:develop
  volumes:
    - chatwoot-storage:/app/storage
  networks:
    - dokploy-network
  environment:
    - FRONTEND_URL=${FRONTEND_URL}
    - SECRET_KEY_BASE=${SECRET_KEY_BASE}
    - RAILS_ENV=${RAILS_ENV}
    - NODE_ENV=${NODE_ENV}
    - INSTALLATION_ENV=${INSTALLATION_ENV}
    - RAILS_LOG_TO_STDOUT=${RAILS_LOG_TO_STDOUT}
    - LOG_LEVEL=${LOG_LEVEL}
    - DEFAULT_LOCALE=${DEFAULT_LOCALE}
    - POSTGRES_HOST=${POSTGRES_HOST}
    - POSTGRES_PORT=${POSTGRES_PORT}
    - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    - POSTGRES_USERNAME=${POSTGRES_USERNAME}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - REDIS_URL=${REDIS_URL}
    - ENABLE_ACCOUNT_SIGNUP=${ENABLE_ACCOUNT_SIGNUP}
    - MAILER_SENDER_EMAIL=${MAILER_SENDER_EMAIL}
    - SMTP_ADDRESS=${SMTP_ADDRESS}
    - SMTP_PORT=${SMTP_PORT}
    - SMTP_AUTHENTICATION=${SMTP_AUTHENTICATION}
    - SMTP_ENABLE_STARTTLS_AUTO=${SMTP_ENABLE_STARTTLS_AUTO}
    - SMTP_USERNAME=${SMTP_USERNAME}
    - SMTP_PASSWORD=${SMTP_PASSWORD}
    - ACTIVE_STORAGE_SERVICE=${ACTIVE_STORAGE_SERVICE}
    - STORAGE_BUCKET_NAME=${STORAGE_BUCKET_NAME}
    - STORAGE_ACCESS_KEY_ID=${STORAGE_ACCESS_KEY_ID}
    - STORAGE_SECRET_ACCESS_KEY=${STORAGE_SECRET_ACCESS_KEY}
    - STORAGE_REGION=${STORAGE_REGION}
    - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
    - STORAGE_FORCE_PATH_STYLE=${STORAGE_FORCE_PATH_STYLE}

services:
  chatwoot-rails:
    <<: *a1
    depends_on:
      chatwoot-postgres:
        condition: service_started
      chatwoot-redis:
        condition: service_started
    entrypoint: docker/entrypoints/rails.sh
    command:
      - bundle
      - exec
      - sh
      - -c
      - rails db:chatwoot_prepare && rails s -p 3000 -b 0.0.0.0
    restart: always

  chatwoot-sidekiq:
    <<: *a1
    depends_on:
      chatwoot-postgres:
        condition: service_started
      chatwoot-redis:
        condition: service_started
    command:
      - bundle
      - exec
      - sidekiq
      - -C
      - config/sidekiq.yml
    restart: always

  chatwoot-postgres:
    image: pgvector/pgvector:pg14
    restart: always
    volumes:
      - chatwoot-postgres-data:/var/lib/postgresql/data
      - ./init-vector.sql:/docker-entrypoint-initdb.d/init-vector.sql
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  chatwoot-redis:
    image: redis:alpine
    restart: always
    volumes:
      - chatwoot-redis-data:/data

volumes:
  chatwoot-storage: null
  chatwoot-postgres-data: null
  chatwoot-redis-data: null
