version: '3'

networks:
  integrisoft-network:
    external: true

services:
  base: &base
    image: chatwoot/chatwoot:latest
    env_file: .env ## Change this file for customized env variables
    volumes:
      - storage_data:/app/storage
    networks:
      - integrisoft-network

  rails:
    <<: *base
    depends_on:
      # - postgres
      - redis-chatwoot
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: docker/entrypoints/rails.sh
    command: ['bundle', 'exec', 'rails', 's', '-p', '3000', '-b', '0.0.0.0']
    restart: always
    networks:
      - integrisoft-network

  sidekiq:
    <<: *base
    depends_on:
      # - postgres
      - redis-chatwoot
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']
    restart: always
    networks:
      - integrisoft-network

  # postgres:
  #   image: pgvector/pgvector:pg16
  #   restart: always
  #   ports:
  #     - '127.0.0.1:5433:5432'
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=chatwoot
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=development@dev
  #   networks:
  #     - integrisoft-network

  redis-chatwoot:
    image: redis:alpine
    restart: always
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
    ports:
      - '127.0.0.1:6380:6379'
    networks:
      - integrisoft-network

volumes:
  storage_data:
  postgres_data:
  redis_data:
