[phases.setup]
nixPkgs = [
  'imagemagick',
  'rustc',
  'procps',
  'libpq-dev',
  'libmagickwand-dev',
  'libvips-dev',
  'git',
  'curl',
  'autoconf',
  'bison',
  'build-essential',
  'libssl-dev',
  'libyaml-dev',
  'libreadline6-dev',
  'zlib1g-dev',
  'libncurses5-dev',
  'libffi-dev',
  'libgdbm6',
  'libgdbm-dev',
  'libdb-dev'
]

cmds = [
  'curl -fsSL https://github.com/rbenv/rbenv-installer/raw/HEAD/bin/rbenv-installer | bash -s stable',
  'echo "" >> /root/.profile && echo "eval \"$(~/.rbenv/bin/rbenv init -)\"" >> /root/.profile',
  '. /root/.profile',
  'rbenv install 3.4.4',
  'rbenv global 3.4.4',
  'gem install bundler:2.5.16'
]

[phases.install]
cmds = [
  'bundle install',
  'bundle exec bootsnap precompile --gemfile'
]

[phases.build]
cmds = [
  'bundle exec rake assets:precompile',
  'bundle exec bootsnap precompile app/ lib/'
]

[start]
cmd = 'bundle exec rails ip_lookup:setup && bundle exec rails db:chatwoot_prepare && bin/rails server -p $PORT -e $RAILS_ENV'
