{
  "$schema": "https://railway.app/railway.schema.json",
  "services": [
    {
      "name": "chatwoot-web",
      "builder": "dockerfile",
      "healthcheckPath": "/healthz",
      "startCommand": "bundle exec rails s -p $PORT -b 0.0.0.0"
    },
    {
      "name": "chatwoot-worker",
      "builder": "dockerfile",
      "startCommand": "bundle exec sidekiq -C config/sidekiq.yml"
    }
  ]
}