apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "chatwoot.fullname" . }}-worker
  creationTimestamp: null
  labels:
    app: {{ template "chatwoot.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ int .Values.worker.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "chatwoot.fullname" . }}
      release: "{{ .Release.Name }}"
      role: worker
  strategy:
    type: {{ .Values.deploymentStrategy.type }}
    {{- if eq .Values.deploymentStrategy.type "RollingUpdate" }}
    rollingUpdate:
      maxSurge: {{ default 1 .Values.deploymentStrategy.maxSurge  }}
      maxUnavailable: {{ default 1 .Values.deploymentStrategy.maxUnavailable }}
    {{- end }}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ template "chatwoot.fullname" . }}
        release: "{{ .Release.Name }}"
        role: worker
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      containers:
        - args:
            - bundle
            - exec
            - sidekiq
            - -C
            - config/sidekiq.yml
          env:
          {{- if .Values.postgresql.auth.existingSecret }}
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.postgresql.auth.existingSecret }}
                key: {{ default "password" .Values.postgresql.auth.secretKeys.adminPasswordKey }}
          {{- end }}
          {{- if .Values.redis.auth.existingSecret }}
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.redis.auth.existingSecret }}
                key: {{ default "password" .Values.redis.auth.existingSecretKey }}
          {{- end }}
          envFrom:
            - secretRef:
                name: {{ template "chatwoot.fullname" . }}-env
          {{- if .Values.existingEnvSecret }}
            - secretRef:
                name: {{ .Values.existingEnvSecret }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          name: {{ .Chart.Name }}-workers
          {{- with .Values.worker.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
            {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: cache
              mountPath: /app/tmp
          {{- with .Values.extraVolumeMounts }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
      serviceAccountName: {{ include "chatwoot.serviceAccountName" . }}
      {{- if .Values.securityContext }}
      securityContext: {{ .Values.securityContext | toYaml | nindent 8 }}
      {{- end }}
      volumes:
        - name: cache
          emptyDir: {}
      {{- with .Values.extraVolumes }}
      {{- toYaml . | nindent 8 }}
      {{- end }}

