@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Thin-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Thin-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-ThinItalic-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-ThinItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-ExtraLight-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-ExtraLight-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-ExtraLightItalic-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-ExtraLightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Light-BETA.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-LightItalic-BETA.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-LightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Regular.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Italic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Italic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Medium.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Medium.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-MediumItalic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-MediumItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-SemiBoldItalic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-SemiBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Bold.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Bold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-BoldItalic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-BoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-ExtraBold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-ExtraBoldItalic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-ExtraBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-Black.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-Black.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("~shared/assets/fonts/Inter-BlackItalic.woff2?v=3.11") format("woff2"),
       url("~shared/assets/fonts/Inter-BlackItalic.woff?v=3.11") format("woff");
}
