@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Thin.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Thin.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-ExtraLight.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-ExtraLight.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Light.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Light.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Regular.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Regular.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Medium.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Medium.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-SemiBold.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-SemiBold.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Bold.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Bold.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-ExtraBold.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-ExtraBold.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
<<<<<<< HEAD
  font-family: Vazirmatn;
  src: url('~shared/assets/fonts/VazirmatnSans/Vazirmatn-Black.woff2') format('woff2');
=======
  font-family: 'Inter';
  src: url('shared/assets/fonts/'Inter'Sans/'Inter'-Black.woff2') format('woff2');
>>>>>>> 499218cecfdd39a077cd3ddeeae1800d2d0e7cf5
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
