<div id="footer" class="container-fluid">
  <p class="copy">Copyright &copy; 2023 - 2023 武汉市汤米科技工作室 鄂ICP备2023005873号-1</p>
  <!-- <div style="display: flex;justify-content: center;">
    <img src="/brand-assets/zs_wx.jpeg" style="width:150px;height:150px;float:left;margin: 10px;text-align:center;">
    <img src="/brand-assets/pub_wx.png" style="width:421px;height:150px;float:left;margin: 10px;text-align:center;">
  </div> -->
</div>

<style scoped>
#footer {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #08c8c8;
  overflow: hidden;
  text-align: center;
}
.logo {
  width: 95px;
  height: 45px;
  margin: 50px auto 20px;
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.address_tel_fax {
  color: white;
  font-size: 14px;
  margin: 10px 0;
}
.email_wx {
  color: white;
  font-size: 14px;
}
.copy {
  color: white;
  font-size: 14px;
  margin: 5px 0 5px;
}
@media screen and (max-width: 997px) {
  .title {
    font-size: 20px;
  }
  .address_tel_fax {
    font-size: 12px;
  }
  .email_wx {
    font-size: 12px;
  }
  .copy {
    font-size: 12px;
    margin: 30px 0 10px;
  }
}
</style>
