{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for Chatwoot server.",
    "version": "1.0.0",
    "title": "Chatwoot",
    "termsOfService": "https://www.chatwoot.com/terms-of-service/",
    "contact": {
      "email": "hello@chatwoot.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "app.chatwoot.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "securityDefinitions": {
    "userApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token can be obtained by visiting the profile page or via rails console. Provides access to  endpoints based on the user permissions levels. This token can be saved by an external system when user is created via API, to perform activities on behalf of the user."
    },
    "agentBotApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token should be provided by system admin or obtained via rails console. This token can be used to build bot integrations and can only access limited apis."
    },
    "platformAppApiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "api_access_token",
      "description": "This token can be obtained by the system admin after creating a platformApp. This token should be used to provision agent bots, accounts, users and their roles."
    }
  },
  "security": [
    {
      "userApiKey": [

      ]
    }
  ],
  "paths": {
    "/platform/api/v1/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "create-an-account",
        "summary": "Create an Account",
        "description": "Create an Account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/account_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "get-details-of-an-account",
        "summary": "Get an account details",
        "description": "Get the details of an account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given account does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "update-an-account",
        "summary": "Update an account",
        "description": "Update an account's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/account_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/platform_account"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "delete-an-account",
        "summary": "Delete an Account",
        "description": "Delete an Account",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The account does not exist"
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}/account_users": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account Users"
        ],
        "operationId": "list-all-account-users",
        "summary": "List all Account Users",
        "description": "List all account users",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of account users",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "integer",
                    "description": "The ID of the user"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "The ID of the user"
                  },
                  "role": {
                    "type": "string",
                    "description": "whether user is an administrator or agent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Account Users"
        ],
        "operationId": "create-an-account-user",
        "summary": "Create an Account User",
        "description": "Create an Account User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user_id",
                "role"
              ],
              "properties": {
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "role": {
                  "type": "string",
                  "description": "whether user is an administrator or agent"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "account_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                },
                "role": {
                  "type": "string",
                  "description": "whether user is an administrator or agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Account Users"
        ],
        "operationId": "delete-an-account-user",
        "summary": "Delete an Account User",
        "description": "Delete an Account User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user_id"
              ],
              "properties": {
                "user_id": {
                  "type": "integer",
                  "description": "The ID of the user"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The account does not exist"
          }
        }
      }
    },
    "/platform/api/v1/agent_bots": {
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "list-all-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of agent bots",
              "items": {
                "$ref": "#/definitions/agent_bot"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "create-an-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "get-details-of-a-single-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given agent bot ID does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "update-an-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "delete-an-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The agent bot does not exist"
          }
        }
      }
    },
    "/platform/api/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "create-a-user",
        "summary": "Create a User",
        "description": "Create a User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/platform/api/v1/users/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-details-of-a-user",
        "summary": "Get an user details",
        "description": "Get the details of an user",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given user does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "operationId": "update-a-user",
        "summary": "Update a user",
        "description": "Update a user's attributes",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "delete-a-user",
        "summary": "Delete a User",
        "description": "Delete a User",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The user does not exist"
          }
        }
      }
    },
    "/platform/api/v1/users/{id}/login": {
      "parameters": [
        {
          "$ref": "#/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-sso-url-of-a-user",
        "summary": "Get User SSO Link",
        "description": "Get the sso link of a user",
        "security": [
          {
            "platformAppApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "SSO url to autenticate the user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given user does not exist"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        }
      ],
      "post": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "create-a-contact",
        "summary": "Create a contact",
        "description": "Create a contact",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_contact_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        }
      ],
      "get": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "get-details-of-a-contact",
        "summary": "Get a contact",
        "description": "Get the details of a contact",
        "security": [

        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given contact does not exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "update-a-contact",
        "summary": "Update a contact",
        "description": "Update a contact's attributes",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_contact_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_contact"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "create-a-conversation",
        "summary": "Create a conversation",
        "description": "Create a conversation",
        "security": [

        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_conversation"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "list-all-contact-conversations",
        "summary": "List all conversations",
        "description": "List all conversations for the contact",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of conversations",
              "items": {
                "$ref": "#/definitions/public_conversation"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Messages API"
        ],
        "operationId": "create-a-message",
        "summary": "Create a message",
        "description": "Create a message",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_message_create_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_message"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Messages API"
        ],
        "operationId": "list-all-converation-messages",
        "summary": "List all messages",
        "description": "List all messages in the conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of messages",
              "items": {
                "$ref": "#/definitions/public_message"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages/{message_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/parameters/conversation_id"
        },
        {
          "$ref": "#/parameters/message_id"
        }
      ],
      "patch": {
        "tags": [
          "Messages API"
        ],
        "operationId": "update-a-message",
        "summary": "Update a message",
        "description": "Update a message",
        "security": [

        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/public_message_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/public_message"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "list-all-account-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available for the current account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of agent bots",
              "items": {
                "$ref": "#/definitions/agent_bot"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "create-an-account-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot in the account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "get-details-of-a-single-account-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot in the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given agent bot ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "update-an-account-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agent_bot_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "delete-an-account-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot from the account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The agent bot does not exist in the account"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "get-account-agents",
        "summary": "List Agents in Account",
        "description": "Get Details of Agents in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "add-new-agent-to-account",
        "summary": "Add a New Agent",
        "description": "Add a new Agent to Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "email",
                "role"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full Name of the agent"
                },
                "email": {
                  "type": "string",
                  "description": "Email of the Agent"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "agent",
                    "administrator"
                  ],
                  "description": "Whether its administrator or agent"
                },
                "availability_status": {
                  "type": "string",
                  "enum": [
                    "available",
                    "busy",
                    "offline"
                  ],
                  "description": "The availability setting of the agent."
                },
                "auto_offline": {
                  "type": "boolean",
                  "description": "Whether the availability status of agent is configured to go offline automatically when away."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Agents"
        ],
        "operationId": "update-agent-in-account",
        "summary": "Update Agent in Account",
        "description": "Update an Agent in Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the agent to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "agent",
                    "administrator"
                  ],
                  "description": "Whether its administrator or agent"
                },
                "availability": {
                  "type": "string",
                  "enum": [
                    "available",
                    "busy",
                    "offline"
                  ],
                  "description": "The availability setting of the agent."
                },
                "auto_offline": {
                  "type": "boolean",
                  "description": "Whether the availability status of agent is configured to go offline automatically when away."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "operationId": "delete-agent-from-account",
        "summary": "Remove an Agent from Account",
        "description": "Remove an Agent from Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the agent to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "get-account-canned-response",
        "summary": "List all Canned Responses in an Account",
        "description": "Get Details of Canned Responses in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all canned responses",
              "items": {
                "$ref": "#/definitions/canned_response"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "add-new-canned-response-to-account",
        "summary": "Add a New Canned Response",
        "description": "Add a new Canned Response to Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/canned_response_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/canned_response"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Canned Response"
        ],
        "operationId": "update-canned-response-in-account",
        "summary": "Update Canned Response in Account",
        "description": "Update a Canned Response in Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the canned response to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/canned_response_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/canned_response"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "delete-canned-response-from-account",
        "summary": "Remove a Canned Response from Account",
        "description": "Remove a Canned Response from Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the canned response to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Canned Response not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-account-custom-attribute",
        "summary": "List all custom attributes in an account",
        "parameters": [
          {
            "name": "attribute_model",
            "in": "query",
            "type": "string",
            "enum": [
              "0",
              "1"
            ],
            "description": "conversation_attribute(0)/contact_attribute(1)",
            "required": true
          }
        ],
        "description": "Get details of custom attributes in an Account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all custom attributes",
              "items": {
                "$ref": "#/definitions/custom_attribute"
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "add-new-custom-attribute-to-account",
        "summary": "Add a new custom attribute",
        "description": "Add a new custom attribute to account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/custom_attribute_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-details-of-a-single-custom-attribute",
        "summary": "Get a custom attribute details",
        "description": "Get the details of a custom attribute in the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given attribute ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "update-custom-attribute-in-account",
        "summary": "Update custom attribute in Account",
        "description": "Update a custom attribute in account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the custom attribute to be updated."
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/custom_attribute_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/custom_attribute"
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "delete-custom-attribute-from-account",
        "summary": "Remove a custom attribute from account",
        "description": "Remove a custom attribute from account",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "The ID of the custom attribute to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Custom attribute not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactList",
        "description": "Listing all the resolved contacts with pagination (Page size = 15) . Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "List Contacts",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/contact_sort_param"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactCreate",
        "description": "Create a new Contact",
        "summary": "Create Contact",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contact_create"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/extended_contact"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "type": "number",
          "description": "ID of the contact",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDetails",
        "summary": "Show Contact",
        "description": "Get a contact belonging to the account using ID",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/extended_contact"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactUpdate",
        "summary": "Update Contact",
        "description": "Update a contact belonging to the account using ID",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contact_update"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_base"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDelete",
        "summary": "Delete Contact",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/conversations": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactConversations",
        "summary": "Contact Conversations",
        "description": "Get conversations associated to that contact",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_conversations"
            }
          },
          "404": {
            "description": "Contact not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactSearch",
        "description": "Search the resolved contacts using a search key, currently supports email search (Page size = 15). Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "Search Contacts",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Search using contact `name`, `identifier`, `email` or `phone number`"
          },
          {
            "$ref": "#/parameters/contact_sort_param"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "$ref": "#/definitions/contact_list"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/filter": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactFilter",
        "description": "Filter contacts with custom filter options and pagination",
        "summary": "Contact Filter",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "payload",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "attribute_key": {
                    "type": "string",
                    "description": "filter attribute name"
                  },
                  "filter_operator": {
                    "type": "string",
                    "description": "filter operator name",
                    "enum": [
                      "equal_to",
                      "not_equal_to",
                      "contains",
                      "does_not_contain"
                    ]
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "array of the attribute values to filter"
                  },
                  "query_operator": {
                    "type": "string",
                    "description": "query operator name",
                    "enum": [
                      "AND",
                      "OR"
                    ]
                  }
                }
              },
              "example": [
                {
                  "attribute_key": "name",
                  "filter_operator": "equal_to",
                  "values": [
                    "en"
                  ],
                  "query_operator": "AND"
                },
                {
                  "attribute_key": "country_code",
                  "filter_operator": "equal_to",
                  "values": [
                    "us"
                  ],
                  "query_operator": "nil"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contact_inboxes": {
      "post": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactInboxCreation",
        "description": "Create a contact inbox record for an inbox",
        "summary": "Create contact inbox",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "inbox_id"
              ],
              "properties": {
                "inbox_id": {
                  "type": "number",
                  "description": "The ID of the inbox"
                },
                "source_id": {
                  "type": "string",
                  "description": "Contact Inbox Source Id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contact_inboxes"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          },
          "422": {
            "description": "Incorrect payload"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contactable_inboxes": {
      "get": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactableInboxesGet",
        "description": "Get List of contactable Inboxes",
        "summary": "Get Contactable Inboxes",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/contactable_inboxes"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          },
          "422": {
            "description": "Incorrect payload"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/meta": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "conversationListMeta",
        "description": "Get open, unassigned and all Conversation counts",
        "summary": "Get Conversation Counts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": [
              "open",
              "resolved",
              "pending",
              "snoozed"
            ],
            "default": "open",
            "description": "Filter by conversation status."
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Filters conversations with messages containing the search term"
          },
          {
            "name": "inbox_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "team_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "labels",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "mine_count": {
                      "type": "number"
                    },
                    "unassigned_count": {
                      "type": "number"
                    },
                    "assigned_count": {
                      "type": "number"
                    },
                    "all_count": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "conversationList",
        "description": "List all the conversations with pagination",
        "summary": "Conversations List",
        "parameters": [
          {
            "name": "assignee_type",
            "in": "query",
            "type": "string",
            "enum": [
              "me",
              "unassigned",
              "all",
              "assigned"
            ],
            "default": "all",
            "description": "Filter conversations by assignee type."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": [
              "open",
              "resolved",
              "pending",
              "snoozed"
            ],
            "default": "open",
            "description": "Filter by conversation status."
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Filters conversations with messages containing the search term"
          },
          {
            "name": "inbox_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "team_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "labels",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "default": 1,
            "description": "paginate through conversations"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "operationId": "newConversation",
        "summary": "Create New Conversation",
        "description": "Creating a conversation in chatwoot requires a source id. \n\n Learn more about source_id: https://github.com/chatwoot/chatwoot/wiki/Building-on-Top-of-Chatwoot:-Importing-Existing-Contacts-and-Creating-Conversations",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "source_id": {
                  "type": "string",
                  "description": "Conversation source id"
                },
                "inbox_id": {
                  "type": "string",
                  "description": "Id of inbox in which the conversation is created <br/> Allowed Inbox Types: Website, Phone, Api, Email "
                },
                "contact_id": {
                  "type": "string",
                  "description": "Contact Id for which conversation is created"
                },
                "additional_attributes": {
                  "type": "object",
                  "description": "Lets you specify attributes like browser information"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "open",
                    "resolved",
                    "pending"
                  ],
                  "description": "Specify the conversation whether it's pending, open, closed"
                },
                "assignee_id": {
                  "type": "string",
                  "description": "Agent Id for assigning a conversation to an agent"
                },
                "team_id": {
                  "type": "string",
                  "description": "Team Id for assigning a conversation to a team"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the conversation"
                },
                "account_id": {
                  "type": "number",
                  "description": "Account Id"
                },
                "inbox_id": {
                  "type": "number",
                  "description": "ID of the inbox"
                }
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/filter": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations"
        ],
        "operationId": "conversationFilter",
        "description": "Filter conversations with custom filter options and pagination",
        "summary": "Conversations Filter",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "payload",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "attribute_key": {
                    "type": "string",
                    "description": "filter attribute name"
                  },
                  "filter_operator": {
                    "type": "string",
                    "description": "filter operator name",
                    "enum": [
                      "equal_to",
                      "not_equal_to",
                      "contains",
                      "does_not_contain"
                    ]
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "array of the attribute values to filter"
                  },
                  "query_operator": {
                    "type": "string",
                    "description": "query operator name",
                    "enum": [
                      "AND",
                      "OR"
                    ]
                  }
                }
              },
              "example": [
                {
                  "attribute_key": "browser_language",
                  "filter_operator": "not_eq",
                  "values": [
                    "en"
                  ],
                  "query_operator": "AND"
                },
                {
                  "attribute_key": "status",
                  "filter_operator": "eq",
                  "values": [
                    "pending"
                  ],
                  "query_operator": "nil"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_list"
            }
          },
          "400": {
            "description": "Bad Request Error",
            "schema": {
              "$ref": "#/definitions/bad_request_error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "get": {
        "tags": [
          "Conversations"
        ],
        "operationId": "get-details-of-a-conversation",
        "summary": "Conversation Details",
        "description": "Get all details regarding a conversation with all messages in the conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_show"
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}/toggle_status": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations"
        ],
        "operationId": "toggle-status-of-a-conversation",
        "summary": "Toggle Status",
        "description": "Toggles the status of the conversation between open and resolved",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "status"
              ],
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "open",
                    "resolved",
                    "pending"
                  ],
                  "description": "The status of the conversation"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_status_toggle"
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}/assignments": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversation Assignment"
        ],
        "operationId": "assign-a-conversation",
        "summary": "Assign Conversation",
        "description": "Assign a conversation to an agent or a team",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assignee_id": {
                  "type": "number",
                  "description": "Id of the assignee user"
                },
                "team_id": {
                  "type": "number",
                  "description": "Id of the team. If the assignee_id is present, this param would be ignored"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}/labels": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "get": {
        "tags": [
          "Conversation Labels"
        ],
        "operationId": "list-all-labels-of-a-conversation",
        "summary": "List Labels",
        "description": "Lists all the labels of a conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_labels"
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Conversation Labels"
        ],
        "operationId": "conversation-add-labels",
        "summary": "Add Labels",
        "description": "Add labels to a conversation. Note that this API would overwrite the existing list of labels associated to the conversation.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "labels": {
                  "type": "array",
                  "description": "Array of labels (comma-separated strings)",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/conversation_labels"
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes": {
      "get": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "listAllInboxes",
        "summary": "List all inboxes",
        "description": "List all inboxes available in the current account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of inboxes",
              "items": {
                "$ref": "#/definitions/inbox"
              }
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes/{id}/": {
      "get": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "GetInbox",
        "summary": "Get an inbox",
        "description": "Get an inbox available in the current account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the inbox",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/inbox"
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes/": {
      "post": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "inboxCreation",
        "summary": "Create an inbox",
        "description": "You can create more than one website inbox in each account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the inbox"
                },
                "avatar": {
                  "type": "string",
                  "format": "binary",
                  "description": "File for avatar image"
                },
                "channel": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "web_widget"
                      ]
                    },
                    "website_url": {
                      "type": "string",
                      "description": "URL at which the widget will be loaded"
                    },
                    "welcome_title": {
                      "type": "string",
                      "description": "Welcome title to be displayed on the widget"
                    },
                    "welcome_tagline": {
                      "type": "string",
                      "description": "Welcome tagline to be displayed on the widget"
                    },
                    "agent_away_message": {
                      "type": "string",
                      "description": "A message which will be sent if there is not agent available. This is not available if agentbot is connected"
                    },
                    "widget_color": {
                      "type": "string",
                      "description": "A Hex-color string used to customize the widget"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/inbox"
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes/{id}": {
      "patch": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "updateInbox",
        "summary": "Update Inbox",
        "description": "Add avatar and disable auto assignment for an inbox",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the inbox",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "enable_auto_assignment"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the inbox"
                },
                "enable_auto_assignment": {
                  "type": "boolean",
                  "description": "Enable Auto Assignment"
                },
                "avatar": {
                  "type": "string",
                  "format": "binary",
                  "description": "Image file for avatar"
                },
                "channel": {
                  "type": "object",
                  "properties": {
                    "website_url": {
                      "type": "string",
                      "description": "URL at which the widget will be loaded"
                    },
                    "welcome_title": {
                      "type": "string",
                      "description": "Welcome title to be displayed on the widget"
                    },
                    "welcome_tagline": {
                      "type": "string",
                      "description": "Welcome tagline to be displayed on the widget"
                    },
                    "agent_away_message": {
                      "type": "string",
                      "description": "A message which will be sent if there is not agent available. This is not available if agentbot is connected"
                    },
                    "widget_color": {
                      "type": "string",
                      "description": "A Hex-color string used to customize the widget"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/inbox"
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes/{id}/agent_bot": {
      "get": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "getInboxAgentBot",
        "summary": "Show Inbox Agent Bot",
        "description": "See if an agent bot is associated to the Inbox",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the inbox",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/agent_bot"
            }
          },
          "404": {
            "description": "Inbox not found, Agent bot not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inboxes/{id}/set_agent_bot": {
      "post": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "updateAgentBot",
        "summary": "Add or remove agent bot",
        "description": "To add an agent bot pass agent_bot id, to remove agent bot from an inbox pass null",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "description": "ID of the inbox",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "agent_bot"
              ],
              "properties": {
                "agent_bot": {
                  "type": "number",
                  "description": "Agent bot ID"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "404": {
            "description": "Inbox not found, Agent bot not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inbox_members/{inbox_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/inbox_id"
        }
      ],
      "get": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "get-inbox-members",
        "summary": "List Agents in Inbox",
        "description": "Get Details of Agents in an Inbox",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/inbox_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "patch": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "update-agents-in-inbox",
        "summary": "Update Agents in Inbox",
        "description": "All agents except the one passed in params will be removed",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "inbox_id",
                "user_ids"
              ],
              "properties": {
                "inbox_id": {
                  "type": "string",
                  "description": "The ID of the inbox"
                },
                "user_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs of users to be added to the inbox"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          },
          "422": {
            "description": "User must exist"
          }
        }
      },
      "delete": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "delete-agent-in-inbox",
        "summary": "Remove an Agent from Inbox",
        "description": "Remove an Agent from Inbox",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "inbox_id",
                "user_ids"
              ],
              "properties": {
                "inbox_id": {
                  "type": "string",
                  "description": "The ID of the inbox"
                },
                "user_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs of users to be deleted from the inbox"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          },
          "422": {
            "description": "User must exist"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/inbox_members": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Inboxes"
        ],
        "operationId": "add-new-agent-to-inbox",
        "summary": "Add a New Agent",
        "description": "Add a new Agent to Inbox",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "inbox_id",
                "user_ids"
              ],
              "properties": {
                "inbox_id": {
                  "type": "string",
                  "description": "The ID of the inbox"
                },
                "user_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs of users to be added to the inbox"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          },
          "422": {
            "description": "User must exist"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "operationId": "list-all-messages",
        "summary": "Get messages",
        "description": "List all messages of a conversation",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of messages",
              "items": {
                "allOf": [
                  {
                    "$ref": "#/definitions/generic_id"
                  },
                  {
                    "$ref": "#/definitions/message"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "operationId": "create-a-new-message-in-a-conversation",
        "summary": "Create New Message",
        "description": "Create a new message in the conversation",
        "security": [
          {
            "userApiKey": [

            ]
          },
          {
            "agentBotApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/conversation_message_create"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/generic_id"
                },
                {
                  "$ref": "#/definitions/message"
                }
              ]
            }
          },
          "404": {
            "description": "Conversation not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/conversations/{conversation_id}/messages/{message_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/conversation_id"
        },
        {
          "$ref": "#/parameters/message_id"
        }
      ],
      "delete": {
        "tags": [
          "Messages"
        ],
        "operationId": "delete-a-message",
        "summary": "Delete a message",
        "description": "Delete a message and it's attachments from the conversation.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The message or conversation does not exist in the account"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/integrations/apps": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "operationId": "get-details-of-all-integrations",
        "summary": "List all the Integrations",
        "description": "Get the details of all Integrations available for the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of Integration apps",
              "items": {
                "$ref": "#/definitions/integrations_app"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Url not found"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/integrations/hooks": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "operationId": "create-an-integration-hook",
        "summary": "Create an integration hook",
        "description": "Create an integration hook",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/integrations_hook_create_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/integrations_hook"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/integrations/hooks/{hook_id}": {
      "patch": {
        "tags": [
          "Integrations"
        ],
        "operationId": "update-an-integrations-hook",
        "summary": "Update an Integration Hook",
        "description": "Update an Integration Hook",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/hook_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/integrations_hook_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/integrations_hook"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "operationId": "delete-an-integration-hook",
        "summary": "Delete an Integration Hook",
        "description": "Delete an Integration Hook",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/hook_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The hook does not exist in the account"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "operationId": "fetchProfile",
        "summary": "Fetch user profile",
        "description": "Get the user profile details",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/teams": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "list-all-teams",
        "summary": "List all teams",
        "description": "List all teams available in the current account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of teams",
              "items": {
                "$ref": "#/definitions/team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "create-a-team",
        "summary": "Create a team",
        "description": "Create a team in the account",
        "parameters": [
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/team_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/team"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/teams/{team_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/team_id"
        }
      ],
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "get-details-of-a-single-team",
        "summary": "Get a team details",
        "description": "Get the details of a team in the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/team"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The given team ID does not exist in the account"
          }
        }
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "operationId": "update-a-team",
        "summary": "Update a team",
        "description": "Update a team's attributes",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/team_create_update_payload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/team"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "operationId": "delete-a-team",
        "summary": "Delete a team",
        "description": "Delete a team from the account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "The team does not exist in the account"
          }
        }
      }
    },
    "/accounts/{account-id}/teams/{team_id}/team_members": {
      "parameters": [
        {
          "$ref": "#/parameters/account_id"
        },
        {
          "$ref": "#/parameters/team_id"
        }
      ],
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "get-team-members",
        "summary": "List Agents in Team",
        "description": "Get Details of Agents in an Team",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/team_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all agents in the team",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "404": {
            "description": "Inbox not found"
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "add-new-agent-to-team",
        "summary": "Add a New Agent",
        "description": "Add a new Agent to Team",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user_ids"
              ],
              "properties": {
                "user_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs of users to be added to the team"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "description": "Array of all active agents",
              "items": {
                "$ref": "#/definitions/agent"
              }
            }
          },
          "404": {
            "description": "Team not found"
          },
          "403": {
            "description": "Access denied"
          },
          "422": {
            "description": "User must exist"
          }
        }
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "operationId": "update-agents-in-team",
        "summary": "Update Agents in Team",
        "description": "All agents except the one passed in params will be removed",
        "security": [
          {
            "userApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
[...]
