{
  "openapi": "3.0.4",
  "info": {
    "title": "Chatwoot",
    "description": "This is the API documentation for Chatwoot server.",
    "version": "1.1.0",
    "termsOfService": "https://www.chatwoot.com/terms-of-service/",
    "contact": {
      "email": "hello@chatwoot.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.chatwoot.com/"
    }
  ],
  "paths": {
    "/platform/api/v1/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "create-an-account",
        "summary": "Create an Account",
        "description": "Create an Account",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/platform_account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "get-details-of-an-account",
        "summary": "Get an account details",
        "description": "Get the details of an account",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/platform_account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given account does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "update-an-account",
        "summary": "Update an account",
        "description": "Update an account's attributes",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/platform_account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "delete-an-account",
        "summary": "Delete an Account",
        "description": "Delete an Account",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The account does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/accounts/{account_id}/account_users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account Users"
        ],
        "operationId": "list-all-account-users",
        "summary": "List all Account Users",
        "description": "List all account users",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account_user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account Users"
        ],
        "operationId": "create-an-account-user",
        "summary": "Create an Account User",
        "description": "Create an Account User",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account_user_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "integer",
                      "description": "The ID of the account"
                    },
                    "user_id": {
                      "type": "integer",
                      "description": "The ID of the user"
                    },
                    "role": {
                      "type": "string",
                      "description": "whether user is an administrator or agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account Users"
        ],
        "operationId": "delete-an-account-user",
        "summary": "Delete an Account User",
        "description": "Delete an Account User",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The account does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/agent_bots": {
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "list-all-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of agent bots",
                  "items": {
                    "$ref": "#/components/schemas/agent_bot"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "create-an-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/platform_agent_bot_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "get-details-of-a-single-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given agent bot ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "update-an-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/platform_agent_bot_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentBots"
        ],
        "operationId": "delete-an-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The agent bot does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "create-a-user",
        "summary": "Create a User",
        "description": "Create a User",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/users/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-details-of-a-user",
        "summary": "Get an user details",
        "description": "Get the details of an user",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given user does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "operationId": "update-a-user",
        "summary": "Update a user",
        "description": "Update a user's attributes",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "delete-a-user",
        "summary": "Delete a User",
        "description": "Delete a User",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The user does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/platform/api/v1/users/{id}/login": {
      "parameters": [
        {
          "$ref": "#/components/parameters/platform_user_id"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-sso-url-of-a-user",
        "summary": "Get User SSO Link",
        "description": "Get the sso link of a user",
        "security": [
          {
            "platformAppApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "SSO url to autenticate the user"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given user does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        }
      ],
      "get": {
        "tags": [
          "Inbox API"
        ],
        "operationId": "get-details-of-a-inbox",
        "summary": "Inbox details",
        "description": "Get the details of an inbox",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_inbox"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given inbox does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        }
      ],
      "post": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "create-a-contact",
        "summary": "Create a contact",
        "description": "Create a contact",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/public_contact_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        }
      ],
      "get": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "get-details-of-a-contact",
        "summary": "Get a contact",
        "description": "Get the details of a contact",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given contact does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts API"
        ],
        "operationId": "update-a-contact",
        "summary": "Update a contact",
        "description": "Update a contact's attributes",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/public_contact_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "create-a-conversation",
        "summary": "Create a conversation",
        "description": "Create a conversation",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/public_conversation_create_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "list-all-contact-conversations",
        "summary": "List all conversations",
        "description": "List all conversations for the contact",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of conversations",
                  "items": {
                    "$ref": "#/components/schemas/public_conversation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        }
      ],
      "get": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "get-single-conversation",
        "summary": "Get a single conversation",
        "description": "Retrieves the details of a specific conversation",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/toggle_status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "resolve-conversation",
        "summary": "Resolve a conversation",
        "description": "Marks a conversation as resolved",
        "security": [],
        "responses": {
          "200": {
            "description": "Conversation resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_conversation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/toggle_typing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "toggle-typing-status",
        "summary": "Toggle typing status",
        "description": "Toggles the typing status in a conversation",
        "security": [],
        "parameters": [
          {
            "name": "typing_status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Typing status, either 'on' or 'off'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "typing_status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off"
                    ],
                    "description": "The typing status to set",
                    "example": "on"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Typing status toggled successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/update_last_seen": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Conversations API"
        ],
        "operationId": "update-last-seen",
        "summary": "Update last seen",
        "description": "Updates the last seen time of the contact in a conversation",
        "security": [],
        "responses": {
          "200": {
            "description": "Last seen updated successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        }
      ],
      "post": {
        "tags": [
          "Messages API"
        ],
        "operationId": "create-a-message",
        "summary": "Create a message",
        "description": "Create a message",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/public_message_create_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Messages API"
        ],
        "operationId": "list-all-converation-messages",
        "summary": "List all messages",
        "description": "List all messages in the conversation",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of messages",
                  "items": {
                    "$ref": "#/components/schemas/public_message"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/v1/inboxes/{inbox_identifier}/contacts/{contact_identifier}/conversations/{conversation_id}/messages/{message_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/public_inbox_identifier"
        },
        {
          "$ref": "#/components/parameters/public_contact_identifier"
        },
        {
          "$ref": "#/components/parameters/conversation_id"
        },
        {
          "$ref": "#/components/parameters/message_id"
        }
      ],
      "patch": {
        "tags": [
          "Messages API"
        ],
        "operationId": "update-a-message",
        "summary": "Update a message",
        "description": "Update a message",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/public_message_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public_message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/survey/responses/{conversation_uuid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/conversation_uuid"
        }
      ],
      "get": {
        "tags": [
          "CSAT Survey Page"
        ],
        "operationId": "get-csat-survey-page",
        "summary": "Get CSAT survey page",
        "description": "You can redirect the client to this URL, instead of implementing the CSAT survey component yourself.",
        "security": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get-account-details",
        "summary": "Get account details",
        "description": "Get the details of the current account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account_show_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "operationId": "update-account",
        "summary": "Update account",
        "description": "Update account details, settings, and custom attributes",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account_update_payload"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/account_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account_detail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (requires administrator role)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "list-all-account-agent-bots",
        "summary": "List all AgentBots",
        "description": "List all agent bots available for the current account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of agent bots",
                  "items": {
                    "$ref": "#/components/schemas/agent_bot"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "create-an-account-agent-bot",
        "summary": "Create an Agent Bot",
        "description": "Create an agent bot in the account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agent_bot_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agent_bots/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "$ref": "#/components/parameters/agent_bot_id"
        }
      ],
      "get": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "get-details-of-a-single-account-agent-bot",
        "summary": "Get an agent bot details",
        "description": "Get the details of an agent bot in the account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given agent bot ID does not exist in the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "update-an-account-agent-bot",
        "summary": "Update an agent bot",
        "description": "Update an agent bot's attributes",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agent_bot_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_bot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account AgentBots"
        ],
        "operationId": "delete-an-account-agent-bot",
        "summary": "Delete an AgentBot",
        "description": "Delete an AgentBot from the account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The agent bot does not exist in the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "get-account-agents",
        "summary": "List Agents in Account",
        "description": "Get Details of Agents in an Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of all active agents",
                  "items": {
                    "$ref": "#/components/schemas/agent"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "add-new-agent-to-account",
        "summary": "Add a New Agent",
        "description": "Add a new Agent to Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agent_create_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/agents/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Agents"
        ],
        "operationId": "update-agent-in-account",
        "summary": "Update Agent in Account",
        "description": "Update an Agent in Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the agent to be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agent_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "operationId": "delete-agent-from-account",
        "summary": "Remove an Agent from Account",
        "description": "Remove an Agent from Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the agent to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "get-account-canned-response",
        "summary": "List all Canned Responses in an Account",
        "description": "Get Details of Canned Responses in an Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of all canned responses",
                  "items": {
                    "$ref": "#/components/schemas/canned_response"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "add-new-canned-response-to-account",
        "summary": "Add a New Canned Response",
        "description": "Add a new Canned Response to Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/canned_response_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/canned_response"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/canned_responses/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "patch": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "update-canned-response-in-account",
        "summary": "Update Canned Response in Account",
        "description": "Update a Canned Response in Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the canned response to be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/canned_response_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/canned_response"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Canned Responses"
        ],
        "operationId": "delete-canned-response-from-account",
        "summary": "Remove a Canned Response from Account",
        "description": "Remove a Canned Response from Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the canned response to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Canned Response not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-account-custom-attribute",
        "summary": "List all custom attributes in an account",
        "parameters": [
          {
            "name": "attribute_model",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "conversation_attribute(0)/contact_attribute(1)",
            "required": true
          }
        ],
        "description": "Get details of custom attributes in an Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of all custom attributes",
                  "items": {
                    "$ref": "#/components/schemas/custom_attribute"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "add-new-custom-attribute-to-account",
        "summary": "Add a new custom attribute",
        "description": "Add a new custom attribute to account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom_attribute_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom_attribute"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/custom_attribute_definitions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "schema": {
            "type": "number"
          },
          "description": "ID of the custom attribute",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "get-details-of-a-single-custom-attribute",
        "summary": "Get a custom attribute details",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "description": "Get the details of a custom attribute in the account",
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the custom attribute to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom_attribute"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given attribute ID does not exist in the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "update-custom-attribute-in-account",
        "summary": "Update custom attribute in Account",
        "description": "Update a custom attribute in account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the custom attribute to be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom_attribute_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom_attribute"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Attributes"
        ],
        "operationId": "delete-custom-attribute-from-account",
        "summary": "Remove a custom attribute from account",
        "description": "Remove a custom attribute from account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the custom attribute to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Custom attribute not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactList",
        "description": "Listing all the resolved contacts with pagination (Page size = 15). Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "List Contacts",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "$ref": "#/components/parameters/contact_sort_param"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts_list_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactCreate",
        "description": "Create a new Contact",
        "summary": "Create Contact",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contact_create_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extended_contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "ID of the contact"
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDetails",
        "summary": "Show Contact",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "description": "Get a contact belonging to the account using ID",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_show_response"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactUpdate",
        "summary": "Update Contact",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "description": "Update a contact belonging to the account using ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contact_update_payload"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_base"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactDelete",
        "summary": "Delete Contact",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "description": "Delete a contact belonging to the account using ID",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/conversations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "ID of the contact"
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactConversations",
        "summary": "Contact Conversations",
        "description": "Get conversations associated with that contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID of the contact"
          }
        ],
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_conversations_response"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/labels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "ID of the contact"
        }
      ],
      "get": {
        "tags": [
          "Contact Labels"
        ],
        "operationId": "list-all-labels-of-a-contact",
        "summary": "List Labels",
        "description": "Lists all the labels of a contact",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_labels"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact Labels"
        ],
        "operationId": "contact-add-labels",
        "summary": "Add Labels",
        "description": "Add labels to a contact. Note that this API would overwrite the existing list of labels associated to the conversation.",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "labels"
                ],
                "properties": {
                  "labels": {
                    "type": "array",
                    "description": "Array of labels (comma-separated strings)",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "support",
                      "billing"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_labels"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactSearch",
        "description": "Search the resolved contacts using a search key, currently supports email search (Page size = 15). Resolved contacts are the ones with a value for identifier, email or phone number",
        "summary": "Search Contacts",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search using contact `name`, `identifier`, `email` or `phone number`"
          },
          {
            "$ref": "#/components/parameters/contact_sort_param"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts_list_response"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/filter": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "contactFilter",
        "description": "Filter contacts with custom filter options and pagination",
        "summary": "Contact Filter",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute_key": {
                          "type": "string",
                          "description": "filter attribute name"
                        },
                        "filter_operator": {
                          "type": "string",
                          "description": "filter operator name",
                          "enum": [
                            "equal_to",
                            "not_equal_to",
                            "contains",
                            "does_not_contain"
                          ]
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "array of the attribute values to filter"
                        },
                        "query_operator": {
                          "type": "string",
                          "description": "query operator name",
                          "enum": [
                            "AND",
                            "OR"
                          ]
                        }
                      }
                    },
                    "example": [
                      {
                        "attribute_key": "name",
                        "filter_operator": "equal_to",
                        "values": [
                          "en"
                        ],
                        "query_operator": "AND"
                      },
                      {
                        "attribute_key": "country_code",
                        "filter_operator": "equal_to",
                        "values": [
                          "us"
                        ],
                        "query_operator": null
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts_list_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contact_inboxes": {
      "post": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactInboxCreation",
        "description": "Create a contact inbox record for an inbox",
        "summary": "Create contact inbox",
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "number"
            },
            "description": "ID of the contact",
            "required": true
          }
        ],
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "inbox_id"
                ],
                "properties": {
                  "inbox_id": {
                    "type": "number",
                    "description": "The ID of the inbox",
                    "example": 1
                  },
                  "source_id": {
                    "type": "string",
                    "description": "Contact Inbox Source Id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_inboxes"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "422": {
            "description": "Incorrect payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/contacts/{id}/contactable_inboxes": {
      "get": {
        "tags": [
          "Contact"
        ],
        "operationId": "contactableInboxesGet",
        "description": "Get List of contactable Inboxes",
        "summary": "Get Contactable Inboxes",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "number"
            },
            "description": "ID of the contact",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contactable_inboxes_response"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "422": {
            "description": "Incorrect payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/automation_rules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "get-account-automation-rule",
        "summary": "List all automation rules in an account",
        "parameters": [
          {
            "$ref": "#/components/parameters/account_id"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Get details of automation rules in an Account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/automation_rule"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "add-new-automation-rule-to-account",
        "summary": "Add a new automation rule",
        "description": "Add a new automation rule to account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/automation_rule_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/automation_rule"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/automation_rules/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        },
        {
          "name": "id",
          "in": "path",
          "schema": {
            "type": "number"
          },
          "description": "ID of the Automation Rule",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "get-details-of-a-single-automation-rule",
        "summary": "Get a automation rule details",
        "description": "Get the details of a automation rule in the account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the automation rule to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/automation_rule"
                },
                "example": {
                  "payload": {
                    "id": 90,
                    "account_id": 1,
                    "name": "add-label-bug-if-message-contains-bug",
                    "description": "add-label-bug-if-message-contains-bug",
                    "event_name": "message_created",
                    "conditions": [
                      {
                        "values": [
                          "incoming"
                        ],
                        "attribute_key": "message_type",
                        "query_operator": "and",
                        "filter_operator": "equal_to"
                      },
                      {
                        "values": [
                          "bug"
                        ],
                        "attribute_key": "content",
                        "filter_operator": "contains"
                      }
                    ],
                    "actions": [
                      {
                        "action_name": "add_label",
                        "action_params": [
                          "bugs",
                          "support-query"
                        ]
                      }
                    ],
                    "created_on": 1650555440,
                    "active": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "The given rule ID does not exist in the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "update-automation-rule-in-account",
        "summary": "Update automation rule in Account",
        "description": "Update a automation rule in account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the automation rule to be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/automation_rule_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/automation_rule"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Automation Rule"
        ],
        "operationId": "delete-automation-rule-from-account",
        "summary": "Remove a automation rule from account",
        "description": "Remove a automation rule from account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The ID of the automation rule to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          },
          "404": {
            "description": "automation rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{account_id}/portals": {
      "parameters": [
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "post": {
        "tags": [
          "Help Center"
        ],
        "operationId": "add-new-portal-to-account",
        "summary": "Add a new portal",
        "description": "Add a new portal to account",
        "security": [
          {
            "userApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portal_create_update_payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/portal"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bad_request_error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Help Center"
        ],
        "operationId": "get-portal",
        "summary": "List all portals in an account",
[...]
