<style type="text/css">
  .quoted-text--content {
    box-sizing:border-box;
    padding:8px 16px;
    margin:0 0 20px;
    font-size:14px;
    border-left:5px solid #eeeeee
  }
</style>

<p>Hi {{user.available_name}}, </p>

<p>You've been mentioned in a conversation. <b>{{message.sender_display_name}}</b> wrote:</p>
<blockquote class='quoted-text--content'>
  {{message.text_content}}
</blockquote>

<p><a href="{{ action_url }}">View Message</a></p>
