<p>Hi <%= @agent.available_name %>,</p>

<p>Time to save the world. A new conversation has been created in <%= @conversation.inbox.name %></p>

<p>
Click <%=
  link_to 'here',
  app_account_conversation_url(account_id: @conversation.account_id, id: @conversation.display_id)
%> to get cracking.
</p>
