<section class="main-content__body">
 <hr/>
  <div class="form-actions">
  <p class="text-color-red">Caution: Any actions executed after impersonate will appear as if performed by the impersonated user - [<%= page.resource.name %> ]</p>
    <a class='button' target='_blank' href='<%= page.resource.generate_sso_link %>'>Impersonate user </a>
  </div>
</section>

