# 💥
# 💥 FILE WILL BE OVERWRITTEN
# 💥

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[Makefile]
indent_size = 4
indent_style = tab
