.page-title {
  font-size: $font-size-big;
}

.page-sub-title {
  font-size: $font-size-large;
}

.block-title {
  font-size: $font-size-medium;
}

.sub-block-title {
  font-size: $font-size-default;
}

.text-block-title {
  font-size: $font-size-small;
}

a {
  font-size: $font-size-small;
}

p {
  font-size: $font-size-small;
}