// Buttons
.button {
  @apply appearance-none bg-n-brand border border-solid border-n-brand text-white cursor-pointer inline-block text-sm h-10 leading-none outline-none outline-0 py-1 px-4 text-center no-underline select-none align-middle whitespace-nowrap;

  &:focus,
  &:hover {
    @apply no-underline border-n-brand brightness-110;
  }

  &:active,
  &.active {
    @apply no-underline border-n-brand brightness-125;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &.small {
    @apply text-xs h-6 py-1 px-3;
  }

  &.large {
    @apply text-base h-12 py-2 px-6;
  }

  &.block {
    width: 100%;
  }

  &.transparent {
    background: transparent;
    border: 0;
    height: auto;
  }

  &.compact {
    padding: 0;
  }
}
