@import 'reset';
@import 'variables';
@import 'buttons';
@import 'mixins';
@import 'forms';

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  height: 100%;
}

.woot-widget-wrap {
  height: 100%;
}
