@import 'reset';
@import 'variables';
@import 'buttons';
@import 'mixins';
@import 'forms';
@import 'shared/assets/fonts/inter';
@import '~ionicons/scss/ionicons';
@import '~spinkit/scss/spinners/7-three-bounce';

html,
body {
  font-family: $font-family;
  font-size: 10px;
  height: 100%;
}

.woot-widget-wrap {
  height: 100%;
}

.close-button {
  cursor: pointer;
  position: relative;
  width: $space-two;

  &::before,
  &::after {
    background-color: $color-heading;
    content: ' ';
    height: $space-normal;
    left: $space-small;
    position: absolute;
    top: $space-micro;
    width: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.is-mobile {
  .header-wrap {
    .close-button {
      display: block !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
