<div class='feature-container'>
  <% field.data.each do |key,val| %>
    <div class='feature-cell'>
    <% if ['audit_logs', 'response_bot'].include? key %>
    <span class='icon-container'><i class="ion ion-asterisk"></i></span>
    <% end %>
    <span><%= key %></span> 
    <span class='value-container'><%= val.present? ? '✅' : '❌' %> </span>
    </div>
  <% end %>
</div>

