openapi: '3.1.0'
info:
  title: Chatwoot - Client API
  description: Client API endpoints for Chatwoot
  version: 1.1.0
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    email: hello@chatwoot.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://app.chatwoot.com/
tags:
  - name: Contacts API
    description: APIs for managing contacts from client applications
  - name: Conversations API
    description: APIs for managing conversations from client applications
  - name: Messages API
    description: APIs for managing messages from client applications
paths:
  $ref: ../paths/index.yml
components:
  schemas:
    $ref: ../definitions/index.yml
  parameters:
    $ref: ../parameters/index.yml
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Available from Chatwoot v4.19.0. Send an existing API token as Authorization: Bearer <token>. Get a user token from Profile Settings, an agent bot token from Settings > Agent Bots, or a platform app token from Super Admin after creating a platform app. The token retains its existing permissions. The api_access_token header remains supported for compatibility.'
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: "Deprecated starting in v4.19.0. Use bearerAuth with Authorization: Bearer <token> instead. The api_access_token header remains supported for backward compatibility. This token can be obtained by visiting the profile page or via rails console. Provides access to endpoints based on the user permissions levels."