openapi: '3.1.0'
info:
  title: Chatwoot - Platform API
  description: Platform API endpoints for Chatwoot
  version: 1.1.0
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    email: hello@chatwoot.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://app.chatwoot.com/
tags:
  - name: Accounts
    description: Platform account management
  - name: Account Users
    description: Manage users within platform accounts
  - name: AgentBots
    description: Manage agent bots on the platform
  - name: Users
    description: Platform user management
paths:
  $ref: ../paths/index.yml
components:
  schemas:
    $ref: ../definitions/index.yml
  parameters:
    $ref: ../parameters/index.yml
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Available from Chatwoot `v4.19.0`. Send an existing API token as `Authorization: Bearer <token>`. Find user tokens in **Profile Settings**, agent bot tokens in **Settings → Agent Bots**, and platform app tokens in **Super Admin** after creating a platform app. Tokens retain their existing permissions. The `api_access_token` header remains supported for compatibility.'
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: "Deprecated starting in Chatwoot `v4.19.0`. **Recommended:** use `bearerAuth` with `Authorization: Bearer <token>`. The `api_access_token` header remains supported for backward compatibility. This token can be obtained by visiting the profile page or via rails console. Provides access to endpoints based on the user permissions levels."
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: '**Recommended from Chatwoot `v4.19.0`:** use `bearerAuth` with `Authorization: Bearer <token>`. A system admin can obtain this token after creating a platform app. It can provision agent bots, accounts, users, and their roles.'