openapi: '3.1.0'
info:
  title: Chatwoot - Platform API
  description: Platform API endpoints for Chatwoot
  version: 1.1.0
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    email: hello@chatwoot.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://app.chatwoot.com/
tags:
  - name: Accounts
    description: Platform account management
  - name: Account Users
    description: Manage users within platform accounts
  - name: AgentBots
    description: Manage agent bots on the platform
  - name: Users
    description: Platform user management
paths:
  $ref: ../paths/index.yml
components:
  schemas:
    $ref: ../definitions/index.yml
  parameters:
    $ref: ../parameters/index.yml
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send an existing user, agent bot, or platform app token as `Authorization: Bearer <token>`. Get tokens from **Profile Settings**, **Settings → Agent Bots**, or **Super Admin**, respectively. Existing permissions still apply; the `api_access_token` header remains supported. Available from Chatwoot `v4.19.0`.'
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: 'Get a user token from **Profile Settings**. The `api_access_token` header remains supported but will be deprecated in a future release; use `bearerAuth` when available.'
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: 'Use `bearerAuth` from Chatwoot `v4.19.0`. Get a platform app token in **Super Admin** after creating the app. It can provision agent bots, accounts, users, and their roles.'
