openapi: '3.1.0'
info:
  title: Chatwoot - Platform API
  description: Platform API endpoints for Chatwoot
  version: 1.1.0
  termsOfService: https://www.chatwoot.com/terms-of-service/
  contact:
    email: hello@chatwoot.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://app.chatwoot.com/
tags:
  - name: Accounts
    description: Platform account management
  - name: Account Users
    description: Manage users within platform accounts
  - name: AgentBots
    description: Manage agent bots on the platform
  - name: Users
    description: Platform user management
paths:
  $ref: ../paths/index.yml
components:
  schemas:
    $ref: ../definitions/index.yml
  parameters:
    $ref: ../parameters/index.yml
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Use an existing API token with `Authorization: Bearer <token>`. Find user tokens in **Profile Settings**, agent bot tokens in **Settings → Agent Bots**, and platform app tokens in **Super Admin**. Available in Chatwoot `v4.19.0` and later.'
    userApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: 'Find your API token in **Profile Settings**. The `api_access_token` header remains supported, but will be deprecated in a future release. For new integrations, use Bearer authentication.'
    platformAppApiKey:
      type: apiKey
      in: header
      name: api_access_token
      description: 'Create a platform app in **Super Admin** to get its token. For new integrations, use Bearer authentication in Chatwoot `v4.19.0` and later. Platform app tokens can provision agent bots, accounts, users, and roles.'
