<%#
# SecretField Index Partial
%>
<%= javascript_include_tag "secretField" %>
<div data-secret-text="<%= field.data %>" class="cell-data__secret-field">
  <span data-secret-masked="true">••••••••••</span>
  <button onclick="toggleSecretField(event)" data-secret-toggler>
    <svg width="20" height="20">
      <use xlink:href="#eye-show" />
    </svg>
  </button>
  <button onclick="copySecretField(event)" data-secret-copier>
    <svg width="20" height="20">
      <use xlink:href="#icon-copy" />
    </svg>
  </button>
</div>
