<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/landing/_next/static/media/e4af272ccee01ff0-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" as="image" href="/hero-laptop.gif" />
    <link rel="preload" as="image" href="/hero-mobile.gif" />
    <link rel="stylesheet" href="/landing/_next/static/css/5d16acdb659cbb39.css" data-precedence="next" />
    <link rel="preload" as="script" fetchPriority="low"
        href="/landing/_next/static/chunks/webpack-048bcda7d9f7cbce.js" />
    <script src="/landing/_next/static/chunks/4bd1b696-3e831eac4e385cb9.js" async=""></script>
    <script src="/landing/_next/static/chunks/684-c99564ab451c1a00.js" async=""></script>
    <script src="/landing/_next/static/chunks/main-app-a29fbc9494a997e7.js" async=""></script>
    <script src="/landing/_next/static/chunks/435-f810953cb3557885.js" async=""></script>
    <script src="/landing/_next/static/chunks/app/page-a957d386f7665c53.js" async=""></script>
    <meta name="next-size-adjust" content="" />
    <title>jangkau.ai - Otomatiskan Komunikasi Bisnismu dengan Bantuan AI</title>
    <meta name="description"
        content="Sambungkan Agen AI ke chat WhatsApp &amp; Telegram. Jika perlu bantuan lebih lanjut, Bisa langsung diteruskan ke tim kamu kalau diperlukan." />
    <meta name="generator" content="v0.dev" />
    <script src="/landing/_next/static/chunks/polyfills-42372ed130431b0a.js" noModule=""></script>
</head>

<body class="__className_6ba611">
    <main class="min-h-screen">
        <div class="header shadow-lg">
            <div class="w-[85%] mx-auto">
                <div class="flex justify-between items-center gap-4 mx-auto text-white"><img alt="Jangkau AI"
                        loading="lazy" width="180" height="37" decoding="async" data-nimg="1" style="color:transparent"
                        src="/brand_primary.svg" /><span class="nav_link"><a
                            class="rounded-full px-6 py-2 text-sm bg-[#389947] text-white hover:bg-[#1c5625] font-semibold inline-block text-center"
                            href="./app/login">Login</a></span></div>
            </div>
        </div>
        <div
            style="position:relative;width:100%;min-height:100vh;user-select:none;cursor:default;overflow:hidden;background:linear-gradient(to bottom right, #389947, #1f2f1f)">
            <div
                style="position:absolute;inset:0;background-image:linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);background-repeat:repeat;background-size:40px 40px;background-position:0px 0px;pointer-events:none;z-index:0">
            </div>
            <div
                style="position:relative;z-index:10;pointer-events:auto;user-select:text;width:100%;height:100%;overflow-y:auto">
                <section class="min-h-screen text-white flex items-center px-4 py-24">
                    <div
                        class="w-[85%] mx-auto flex flex-col lg:flex-row items-center justify-between gap-12 lg:gap-20">
                        <div class="w-full lg:w-[40%] max-w-xl space-y-6">
                            <h1 class="text-4xl text-center lg:text-left md:text-[3.5rem] font-bold leading-[0.9]"
                                style="opacity:0;transform:translateY(-20px)">Otomatiskan Komunikasi Bisnismu dengan
                                Bantuan AI</h1>
                            <p class="text-md text-center lg:text-left text-gray-200" style="opacity:0"><span
                                    class="index-module_type__E-SaG"></span></p>
                            <div class="text-center lg:text-left" style="opacity:0;transform:translateY(30px)"><button
                                    class="inline-flex items-center justify-center gap-2 whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 rounded-full px-6 py-5 text-base bg-white text-[#389947] hover:bg-[#F8AB40] hover:text-white font-semibold shadow-lg h-12">Mulai
                                    Sekarang</button><a href="./app/auth/signup" target="_blank"
                                    rel="noopener noreferrer"
                                    class="rounded-full px-10 py-3 ml-3 text-base bg-[#F8AB40] text-[#333333] hover:bg-[#bb8232] font-semibold shadow-lg inline-block text-center">Daftar</a>
                            </div>
                        </div>
                        <div class="w-600px md:w-[775px] frame-section relative"
                            style="opacity:0;transform:translateX(100px)">
                            <div class="swiper w-full h-auto">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="/hero-laptop.gif" alt=""
                                            class="imgSlide-laptop" /><img src="/hero-mobile.gif" alt=""
                                            class="imgSlide-phone" /></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="bg-fading-grid w-full py-16 bg-white">
            <div class="max-w-5xl mx-auto px-4">
                <h1 class="text-3xl md:text-5xl font-bold mb-12 text-center"
                    style="opacity:0;transform:translateY(20px)">Fitur Unggulan</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                    <div class="flex items-center space-x-4" style="opacity:0;transform:translateY(20px)">
                        <div
                            class="rounded-full flex items-center justify-center transition hover:scale-105 hover:shadow-lg">
                            <img alt="Terhubung ke Web Chat, WhatsApp &amp; Telegram" loading="lazy" width="100"
                                height="100" decoding="async" data-nimg="1" class="object-contain"
                                style="color:transparent" src="/ic_connect.png" /></div>
                        <p class="font-semibold text-lg">Terhubung ke Web Chat, WhatsApp &amp; Telegram</p>
                    </div>
                    <div class="flex items-center space-x-4" style="opacity:0;transform:translateY(20px)">
                        <div
                            class="rounded-full flex items-center justify-center transition hover:scale-105 hover:shadow-lg">
                            <img alt="Bisa Ganti ke Tim CS Kapan Aja" loading="lazy" width="100" height="100"
                                decoding="async" data-nimg="1" class="object-contain" style="color:transparent"
                                src="/ic_ai_human.png" /></div>
                        <p class="font-semibold text-lg">Bisa Ganti ke Tim CS Kapan Aja</p>
                    </div>
                    <div class="flex items-center space-x-4" style="opacity:0;transform:translateY(20px)">
                        <div
                            class="rounded-full flex items-center justify-center transition hover:scale-105 hover:shadow-lg">
                            <img alt="Laporan &amp; Statistik Lengkap" loading="lazy" width="100" height="100"
                                decoding="async" data-nimg="1" class="object-contain" style="color:transparent"
                                src="/ic_analytic.png" /></div>
                        <p class="font-semibold text-lg">Laporan &amp; Statistik Lengkap</p>
                    </div>
                    <div class="flex items-center space-x-4" style="opacity:0;transform:translateY(20px)">
                        <div
                            class="rounded-full flex items-center justify-center transition hover:scale-105 hover:shadow-lg">
                            <img alt="Jawaban Otomatis untuk Pertanyaan Umum" loading="lazy" width="100" height="100"
                                decoding="async" data-nimg="1" class="object-contain" style="color:transparent"
                                src="/ic_automation.png" /></div>
                        <p class="font-semibold text-lg">Jawaban Otomatis untuk Pertanyaan Umum</p>
                    </div>
                </div>
            </div>
        </section>
        <div
            style="position:relative;width:100%;min-height:100vh;user-select:none;cursor:default;overflow:hidden;background:linear-gradient(to bottom right, #389947, #1f2f1f)">
            <div
                style="position:absolute;inset:0;background-image:linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);background-repeat:repeat;background-size:40px 40px;background-position:0px 0px;pointer-events:none;z-index:0">
            </div>
            <div
                style="position:relative;z-index:10;pointer-events:auto;user-select:text;width:100%;height:100%;overflow-y:auto">
                <div id="pricing-section" class="py-16">
                    <div dir="ltr" data-orientation="horizontal" class="w-[70%] mx-auto mb-12">
                        <div class="flex flex-col items-center justify-between w-full mb-4 md:mb-0">
                            <h1 class="text-3xl md:text-5xl font-bold mb-4 md:mb-0 text-white text-center">Fitur
                                Lengkap.</h1>
                            <h2 class="text-2xl md:text-4xl font-bold mb-8 text-white text-center">Harga Jelas.</h2>
                            <div role="tablist" aria-orientation="horizontal"
                                class="h-10 items-center justify-center rounded-md p-1 grid w-72 grid-cols-2 bg-[#ffffff1a] data-[state=active]:text-foreground text-white"
                                tabindex="-1" data-orientation="horizontal" style="outline:none"><button type="button"
                                    role="tab" aria-selected="true" aria-controls="radix-«Rf1tb»-content-monthly"
                                    data-state="active" id="radix-«Rf1tb»-trigger-monthly"
                                    class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
                                    tabindex="-1" data-orientation="horizontal"
                                    data-radix-collection-item="">Bulanan</button><button type="button" role="tab"
                                    aria-selected="false" aria-controls="radix-«Rf1tb»-content-yearly"
                                    data-state="inactive" id="radix-«Rf1tb»-trigger-yearly"
                                    class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
                                    tabindex="-1" data-orientation="horizontal"
                                    data-radix-collection-item="">Tahunan</button></div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center text-white ">
                        <div class="w-[80%] md:w-[70%] mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-16 z-0 ">
                            <div class="rounded-lg bg-background/10 backdrop-blur-[6px] overflow-hidden">
                                <div class="flex gap-5 flex-col rounded-lg rounded-b-none pricing-card-border">
                                    <div class="flex justify-between items-center px-8 pt-8 relative">
                                        <div class="flex items-center gap-[10px]"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-thumbs-up">
                                                <path d="M7 10v12"></path>
                                                <path
                                                    d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z">
                                                </path>
                                            </svg>
                                            <p class="text-[20px] leading-[30px] font-semibold">Paket Pemula</p>
                                        </div>
                                    </div>
                                    <div class="mt-6 flex flex-col px-8">
                                        <div
                                            class="text-[50px] md:text-[70px] leading-[96px] tracking-[-1.6px] font-medium">
                                            549k</div>
                                        <div class="font-medium text-[16px]">IDR per <!-- -->bulan</div>
                                    </div>
                                    <div class="px-8">
                                        <div data-orientation="horizontal" role="none"
                                            class="shrink-0 h-[1px] w-full bg-border"></div>
                                    </div>
                                    <div class="px-8 text-[16px] leading-[24px]">Cocok untuk UMKM</div>
                                </div>
                                <div class="px-8 mt-8"><a
                                        class="inline-flex hover:bg-white hover:text-green-700 items-center justify-center whitespace-nowrap rounded-md text-md font-medium cursor-pointer ring-offset-background transition-colors focus:ring-ring focus:ring-2 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 relative bg-[#fcfcfc33] text-white secondary-button-animation disabled:bg-[#191A1A] h-11 px-5 py-[10px] w-full"
                                        href="/app/auth/signup">Mulai Sekarang</a></div>
                                <ul class="p-8 flex flex-col gap-2">
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">1.000 Pengguna Aktif</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">2 BOT AI</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">5.000 Balasan AI</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">5 Admin Manusia</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Inbox Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dokumentasi Lengkap</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dukungan Standar</span></li>
                                </ul>
                            </div>
                            <div class="rounded-lg bg-background/10 backdrop-blur-[6px] overflow-hidden">
                                <div
                                    class="flex gap-5 flex-col rounded-lg rounded-b-none pricing-card-border border-gold">
                                    <div class="featured-yellow-highlight-bg"></div>
                                    <div class="featured-hard-blur-bg"></div>
                                    <div class="featured-vertical-hard-blur-bg"></div>
                                    <div class="featured-soft-blur-bg"></div>
                                    <div class="flex justify-between items-center px-8 pt-8 relative">
                                        <div class="flex items-center gap-[10px]"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-sparkles">
                                                <path
                                                    d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z">
                                                </path>
                                                <path d="M20 3v4"></path>
                                                <path d="M22 5h-4"></path>
                                                <path d="M4 17v2"></path>
                                                <path d="M5 18H3"></path>
                                            </svg>
                                            <p class="text-[20px] leading-[30px] font-semibold">Paket Bisnis</p>
                                        </div>
                                        <div
                                            class="flex items-center px-3 py-1 rounded-sm border border-[#6b6b3e] text-[14px] leading-[21px] featured-card-badge">
                                            Paling populer</div>
                                    </div>
                                    <div class="mt-6 flex flex-col px-8">
                                        <div
                                            class="text-[50px] md:text-[70px] leading-[96px] tracking-[-1.6px] font-medium">
                                            1.599K</div>
                                        <div class="font-medium text-[16px]">IDR per <!-- -->bulan</div>
                                    </div>
                                    <div class="px-8">
                                        <div data-orientation="horizontal" role="none"
                                            class="shrink-0 h-[1px] w-full bg-border"></div>
                                    </div>
                                    <div class="px-8 text-[16px] leading-[24px]">Untuk bisnis dengan 1.000+ chat per
                                        hari.</div>
                                </div>
                                <div class="px-8 mt-8"><a
                                        class="inline-flex hover:bg-white hover:text-green-700 items-center justify-center whitespace-nowrap rounded-md text-md font-medium cursor-pointer ring-offset-background transition-colors focus:ring-ring focus:ring-2 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 relative bg-[#fcfcfc33] text-white secondary-button-animation disabled:bg-[#191A1A] h-11 px-5 py-[10px] w-full"
                                        href="/app/auth/signup">Mulai Sekarang</a></div>
                                <ul class="p-8 flex flex-col gap-2">
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">5.000 Pengguna Aktif</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">5 Agen AI</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">20.000 Balasan AI</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">20 Admin Manusia</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Inbox Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dokumentasi Lengkap</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dukungan Standar</span></li>
                                </ul>
                            </div>
                            <div class="rounded-lg bg-background/10 backdrop-blur-[6px] overflow-hidden">
                                <div class="flex gap-5 flex-col rounded-lg rounded-b-none pricing-card-border">
                                    <div class="flex justify-between items-center px-8 pt-8 relative">
                                        <div class="flex items-center gap-[10px]"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-castle">
                                                <path d="M22 20v-9H2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"></path>
                                                <path d="M18 11V4H6v7"></path>
                                                <path d="M15 22v-4a3 3 0 0 0-3-3a3 3 0 0 0-3 3v4"></path>
                                                <path d="M22 11V9"></path>
                                                <path d="M2 11V9"></path>
                                                <path d="M6 4V2"></path>
                                                <path d="M18 4V2"></path>
                                                <path d="M10 4V2"></path>
                                                <path d="M14 4V2"></path>
                                            </svg>
                                            <p class="text-[20px] leading-[30px] font-semibold">Paket Premium</p>
                                        </div>
                                    </div>
                                    <div class="mt-6 flex flex-col px-8">
                                        <div
                                            class="text-[50px] md:text-[70px] leading-[96px] tracking-[-1.6px] font-medium">
                                            11.999K</div>
                                        <div class="font-medium text-[16px]">IDR per <!-- -->bulan</div>
                                    </div>
                                    <div class="px-8">
                                        <div data-orientation="horizontal" role="none"
                                            class="shrink-0 h-[1px] w-full bg-border"></div>
                                    </div>
                                    <div class="px-8 text-[16px] leading-[24px]">Untuk bisnis yang butuh performa AI
                                        maksimal</div>
                                </div>
                                <div class="px-8 mt-8"><a
                                        class="inline-flex hover:bg-white hover:text-green-700 items-center justify-center whitespace-nowrap rounded-md text-md font-medium cursor-pointer ring-offset-background transition-colors focus:ring-ring focus:ring-2 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 relative bg-[#fcfcfc33] text-white secondary-button-animation disabled:bg-[#191A1A] h-11 px-5 py-[10px] w-full"
                                        href="/app/auth/signup">Mulai Sekarang</a></div>
                                <ul class="p-8 flex flex-col gap-2">
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Pengguna Aktif Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Agen AI Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">200.000 Balasan AI</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Admin Manusia Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Inbox Tanpa Batas</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dokumentasi Lengkap</span></li>
                                    <li class="flex gap-x-3"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-check">
                                            <path d="M20 6 9 17l-5-5"></path>
                                        </svg><span class="text-base">Dukungan Khusus</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-12 px-6 bg-white border-t">
            <div class="max-w-6xl mx-auto">
                <h2 class="text-3xl font-bold mb-8">FAQ</h2>
                <div class="space-y-4">
                    <div class="w-full" data-orientation="vertical">
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R4d9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«Rd9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apa itu jangkau.ai?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R4d9tb»" hidden="" role="region"
                                aria-labelledby="radix-«Rd9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R4l9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«Rl9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apa bedanya jangkau.ai dengan chatbot biasa?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R4l9tb»" hidden="" role="region"
                                aria-labelledby="radix-«Rl9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R4t9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«Rt9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Bagaimana sistem AI-nya bekerja?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R4t9tb»" hidden="" role="region"
                                aria-labelledby="radix-«Rt9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R559tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R159tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apakah saya bisa mencoba dulu sebelum
                                    berlangganan?<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R559tb»" hidden="" role="region"
                                aria-labelledby="radix-«R159tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R5d9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R1d9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apa itu MAU (Monthly Active Users)?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R5d9tb»" hidden="" role="region"
                                aria-labelledby="radix-«R1d9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R5l9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R1l9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apa yang dimaksud dengan AI Response?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R5l9tb»" hidden="" role="region"
                                aria-labelledby="radix-«R1l9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R5t9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R1t9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apa yang terjadi kalau kuota MAU atau AI Response
                                    habis?<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R5t9tb»" hidden="" role="region"
                                aria-labelledby="radix-«R1t9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R659tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R259tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apakah saya bisa lihat laporan atau statistiknya?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R659tb»" hidden="" role="region"
                                aria-labelledby="radix-«R259tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                        <div data-state="closed" data-orientation="vertical" class="border-b">
                            <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                                    aria-controls="radix-«R6d9tb»" aria-expanded="false" data-state="closed"
                                    data-orientation="vertical" id="radix-«R2d9tb»"
                                    class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                                    data-radix-collection-item="">Apakah bisa bayar pakai kartu kredit?<svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg></button></h3>
                            <div data-state="closed" id="radix-«R6d9tb»" hidden="" role="region"
                                aria-labelledby="radix-«R2d9tb»" data-orientation="vertical"
                                class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                                style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-12 px-6 bg-gray-50 border-t">
            <div class="max-w-6xl mx-auto">
                <div class="mb-8">
                    <p class="font-semibold">PT Radya Labs Teknologi</p>
                    <p class="text-gray-600">Jl. Sidomukti No.14, Sukaluyu, Kec. Cibeunying Kaler, Kota Bandung, Jawa
                        Barat 40123</p>
                </div>
                <div class="flex justify-between items-center pt-8 border-t">
                    <div class="text-sm text-gray-600">Copyright © <!-- -->2025<!-- --> Jangkau.ai. All rights reserved.
                    </div>
                    <div class="flex space-x-4"><a aria-label="Instagram" href="https://www.instagram.com/radyalabs/">
                            <div class="w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center"><span
                                    class="sr-only">Instagram</span><svg width="32" height="32" viewBox="0 0 0.96 0.96"
                                    xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                    <path
                                        d="M.694.218a.048.048 0 1 0 .048.048.05.05 0 0 0-.048-.048m.184.097A.3.3 0 0 0 .86.218.2.2 0 0 0 .814.147.2.2 0 0 0 .743.101.3.3 0 0 0 .646.082C.602.08.589.08.48.08S.358.08.315.082a.3.3 0 0 0-.097.019.2.2 0 0 0-.071.046.2.2 0 0 0-.046.071.3.3 0 0 0-.019.097C.08.358.08.371.08.48s0 .122.002.165a.3.3 0 0 0 .019.097.2.2 0 0 0 .046.071.2.2 0 0 0 .071.046.3.3 0 0 0 .097.019C.358.88.371.88.48.88S.602.88.645.878A.3.3 0 0 0 .742.859.2.2 0 0 0 .813.813.2.2 0 0 0 .859.742.3.3 0 0 0 .877.645C.877.603.879.589.879.48s0-.122-.002-.165M.806.64a.2.2 0 0 1-.014.074.1.1 0 0 1-.03.046.1.1 0 0 1-.046.03.2.2 0 0 1-.074.014C.602.806.587.806.482.806s-.12 0-.16-.002A.2.2 0 0 1 .244.792.1.1 0 0 1 .2.762.1.1 0 0 1 .17.716.2.2 0 0 1 .154.64C.154.6.152.585.152.48s0-.12.002-.16A.2.2 0 0 1 .168.244.1.1 0 0 1 .2.2.1.1 0 0 1 .244.168.2.2 0 0 1 .32.154C.36.154.375.152.48.152s.12 0 .16.002a.2.2 0 0 1 .074.014A.1.1 0 0 1 .762.2a.1.1 0 0 1 .03.044.2.2 0 0 1 .014.076c.002.04.002.055.002.16s0 .12-.002.16M.48.275A.205.205 0 1 0 .686.48.205.205 0 0 0 .48.275m0 .338A.133.133 0 1 1 .613.48.133.133 0 0 1 .48.613">
                                    </path>
                                </svg></div>
                        </a><a aria-label="LinkedIn" href="https://www.linkedin.com/company/radya-labs/">
                            <div class="w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center"><span
                                    class="sr-only">LinkedIn</span><svg class="w-6 h-6" width="32" height="32"
                                    viewBox="0 0 0.6 0.6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M.18.24v.2m.24 0v-.1a.08.08 0 1 0-.16 0v.1M.16.18H.2M.06.02h.48a.04.04 0 0 1 .04.04v.48a.04.04 0 0 1-.04.04H.06A.04.04 0 0 1 .02.54V.06A.04.04 0 0 1 .06.02Z"
                                        stroke="#000" stroke-width=".04"></path>
                                </svg></div>
                        </a><a aria-label="X" href="https://x.com/radyalabs">
                            <div class="w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center"><span
                                    class="sr-only">X</span><svg class="w-5 h-5" viewBox="0 0 32 32.533" width="32"
                                    height="32.533">
                                    <path
                                        d="M24.347 0H30.4L19.68 13.893 32 32.533h-9.733l-7.733-11.147-9.067 11.147H0L11.627 17.28 0 0h9.973l6.96 10.133zm-1.414 29.6h4.533L9.333 2.933H4.8z">
                                    </path>
                                </svg></div>
                        </a></div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/landing/_next/static/chunks/webpack-048bcda7d9f7cbce.js" async=""></script>
    <script>(self.__next_f = self.__next_f || []).push([0])</script>
    <script>self.__next_f.push([1, "1:\"$Sreact.fragment\"\n2:I[7555,[],\"\"]\n3:I[1295,[],\"\"]\n4:I[3063,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"Image\"]\n5:I[6874,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"\"]\n6:I[6459,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"default\"]\n7:I[1990,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"default\"]\n8:I[9797,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"default\"]\n9:I[392,[\"435\",\"static/chunks/435-f810953cb3557885.js\",\"974\",\"static/chunks/app/page-a957d386f7665c53.js\"],\"default\"]\nb:I[9665,[],\"OutletBoundary\"]\ne:I[9665,[],\"ViewportBoundary\"]\n10:I[9665,[],\"MetadataBoundary\"]\n12:I[6614,[],\"\"]\n:HL[\"/landing/_next/static/media/e4af272ccee01ff0-s.p.woff2\",\"font\",{\"crossOrigin\":\"\",\"type\":\"font/woff2\"}]\n:HL[\"/landing/_next/static/css/5d16acdb659cbb39.css\",\"style\"]\na:T43a,M.694.218a.048.048 0 1 0 .048.048.05.05 0 0 0-.048-.048m.184.097A.3.3 0 0 0 .86.218.2.2 0 0 0 .814.147.2.2 0 0 0 .743.101.3.3 0 0 0 .646.082C.602.08.589.08.48.08S.358.08.315.082a.3.3 0 0 0-.097.019.2.2 0 0 0-.071.046.2.2 0 0 0-.046.071.3.3 0 0 0-.019.097C.08.358.08.371.08.48s0 .122.002.165a.3.3 0 0 0 .019.097.2.2 0 0 0 .046.071.2.2 0 0 0 .071.046.3.3 0 0 0 .097.019C.358.88.371.88.48.88S.602.88.645.878A.3.3 0 0 0 .742.859.2.2 0 0 0 .813.813.2.2 0 0 0 .859.742.3.3 0 0 0 .877.645C.877.603.879.589.879.48s0-.122-.002-.165M.806.64a.2.2 0 0 1-.014.074.1.1 0 0 1-.03.046.1.1 0 0 1-.046.03.2.2 0 0 1-.074.014C.602.806.587.806.482.806s-.12 0-.16-.002A.2.2 0 0 1 .244.792.1.1 0 0 1 .2.762.1.1 0 0 1 .17.716.2.2 0 0 1 .154.64C.154.6.152.585.152.48s0-.12.002-.16A.2.2 0 0 1 .168.244.1.1 0 0 1 .2.2.1.1 0 0 1 .244.168.2.2 0 0 1 .32.154C.36.154.375.152.48.152s.12 0 .16.002a.2.2 0 0 1 .074.014A.1.1 0 0 1 .762.2a.1.1 0 0 1 .03.044.2.2 0 0 1 .014.076c.002.04.002.055.002.16s0 .12-.002.16M.48.275A.205.205 0 1 0 ."])</script>
    <script>self.__next_f.push([1, "686.48.205.205 0 0 0 .48.275m0 .338A.133.133 0 1 1 .613.48.133.133 0 0 1 .48.613"])</script>
    <script>self.__next_f.push([1, "0:{\"P\":null,\"b\":\"jDG4ev7tVjHxOE1sthgGB\",\"p\":\"/landing\",\"c\":[\"\",\"\"],\"i\":false,\"f\":[[[\"\",{\"children\":[\"__PAGE__\",{}]},\"$undefined\",\"$undefined\",true],[\"\",[\"$\",\"$1\",\"c\",{\"children\":[[[\"$\",\"link\",\"0\",{\"rel\":\"stylesheet\",\"href\":\"/landing/_next/static/css/5d16acdb659cbb39.css\",\"precedence\":\"next\",\"crossOrigin\":\"$undefined\",\"nonce\":\"$undefined\"}]],[\"$\",\"html\",null,{\"lang\":\"en\",\"children\":[null,[\"$\",\"body\",null,{\"className\":\"__className_6ba611\",\"children\":[\"$\",\"$L2\",null,{\"parallelRouterKey\":\"children\",\"error\":\"$undefined\",\"errorStyles\":\"$undefined\",\"errorScripts\":\"$undefined\",\"template\":[\"$\",\"$L3\",null,{}],\"templateStyles\":\"$undefined\",\"templateScripts\":\"$undefined\",\"notFound\":[[[\"$\",\"title\",null,{\"children\":\"404: This page could not be found.\"}],[\"$\",\"div\",null,{\"style\":{\"fontFamily\":\"system-ui,\\\"Segoe UI\\\",Roboto,Helvetica,Arial,sans-serif,\\\"Apple Color Emoji\\\",\\\"Segoe UI Emoji\\\"\",\"height\":\"100vh\",\"textAlign\":\"center\",\"display\":\"flex\",\"flexDirection\":\"column\",\"alignItems\":\"center\",\"justifyContent\":\"center\"},\"children\":[\"$\",\"div\",null,{\"children\":[[\"$\",\"style\",null,{\"dangerouslySetInnerHTML\":{\"__html\":\"body{color:#000;background:#fff;margin:0}.next-error-h1{border-right:1px solid rgba(0,0,0,.3)}@media (prefers-color-scheme:dark){body{color:#fff;background:#000}.next-error-h1{border-right:1px solid rgba(255,255,255,.3)}}\"}}],[\"$\",\"h1\",null,{\"className\":\"next-error-h1\",\"style\":{\"display\":\"inline-block\",\"margin\":\"0 20px 0 0\",\"padding\":\"0 23px 0 0\",\"fontSize\":24,\"fontWeight\":500,\"verticalAlign\":\"top\",\"lineHeight\":\"49px\"},\"children\":404}],[\"$\",\"div\",null,{\"style\":{\"display\":\"inline-block\"},\"children\":[\"$\",\"h2\",null,{\"style\":{\"fontSize\":14,\"fontWeight\":400,\"lineHeight\":\"49px\",\"margin\":0},\"children\":\"This page could not be found.\"}]}]]}]}]],[]],\"forbidden\":\"$undefined\",\"unauthorized\":\"$undefined\"}]}]]}]]}],{\"children\":[\"__PAGE__\",[\"$\",\"$1\",\"c\",{\"children\":[[\"$\",\"main\",null,{\"className\":\"min-h-screen\",\"children\":[[\"$\",\"div\",null,{\"className\":\"header shadow-lg\",\"children\":[\"$\",\"div\",null,{\"className\":\"w-[85%] mx-auto\",\"children\":[\"$\",\"div\",null,{\"className\":\"flex justify-between items-center gap-4 mx-auto text-white\",\"children\":[[\"$\",\"$L4\",null,{\"src\":\"/brand_primary.svg\",\"alt\":\"Jangkau AI\",\"width\":180,\"height\":37}],[\"$\",\"span\",null,{\"className\":\"nav_link\",\"children\":[\"$\",\"$L5\",null,{\"href\":\"./app/login\",\"className\":\"rounded-full px-6 py-2 text-sm bg-[#389947] text-white hover:bg-[#1c5625] font-semibold inline-block text-center\",\"children\":\"Login\"}]}]]}]}]}],[\"$\",\"$L6\",null,{}],[\"$\",\"$L7\",null,{}],[\"$\",\"$L8\",null,{}],[\"$\",\"$L9\",null,{}],[\"$\",\"footer\",null,{\"className\":\"py-12 px-6 bg-gray-50 border-t\",\"children\":[\"$\",\"div\",null,{\"className\":\"max-w-6xl mx-auto\",\"children\":[[\"$\",\"div\",null,{\"className\":\"mb-8\",\"children\":[[\"$\",\"p\",null,{\"className\":\"font-semibold\",\"children\":\"PT Radya Labs Teknologi\"}],[\"$\",\"p\",null,{\"className\":\"text-gray-600\",\"children\":\"Jl. Sidomukti No.14, Sukaluyu, Kec. Cibeunying Kaler, Kota Bandung, Jawa Barat 40123\"}]]}],[\"$\",\"div\",null,{\"className\":\"flex justify-between items-center pt-8 border-t\",\"children\":[[\"$\",\"div\",null,{\"className\":\"text-sm text-gray-600\",\"children\":[\"Copyright © \",2025,\" Jangkau.ai. All rights reserved.\"]}],[\"$\",\"div\",null,{\"className\":\"flex space-x-4\",\"children\":[[\"$\",\"$L5\",null,{\"href\":\"https://www.instagram.com/radyalabs/\",\"aria-label\":\"Instagram\",\"children\":[\"$\",\"div\",null,{\"className\":\"w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center\",\"children\":[[\"$\",\"span\",null,{\"className\":\"sr-only\",\"children\":\"Instagram\"}],[\"$\",\"svg\",null,{\"width\":\"32\",\"height\":\"32\",\"viewBox\":\"0 0 0.96 0.96\",\"xmlns\":\"http://www.w3.org/2000/svg\",\"data-name\":\"Layer 1\",\"children\":[\"$\",\"path\",null,{\"d\":\"$a\"}]}]]}]}],[\"$\",\"$L5\",null,{\"href\":\"https://www.linkedin.com/company/radya-labs/\",\"aria-label\":\"LinkedIn\",\"children\":[\"$\",\"div\",null,{\"className\":\"w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center\",\"children\":[[\"$\",\"span\",null,{\"className\":\"sr-only\",\"children\":\"LinkedIn\"}],[\"$\",\"svg\",null,{\"className\":\"w-6 h-6\",\"width\":\"32\",\"height\":\"32\",\"viewBox\":\"0 0 0.6 0.6\",\"fill\":\"none\",\"xmlns\":\"http://www.w3.org/2000/svg\",\"children\":[\"$\",\"path\",null,{\"d\":\"M.18.24v.2m.24 0v-.1a.08.08 0 1 0-.16 0v.1M.16.18H.2M.06.02h.48a.04.04 0 0 1 .04.04v.48a.04.04 0 0 1-.04.04H.06A.04.04 0 0 1 .02.54V.06A.04.04 0 0 1 .06.02Z\",\"stroke\":\"#000\",\"strokeWidth\":\".04\"}]}]]}]}],[\"$\",\"$L5\",null,{\"href\":\"https://x.com/radyalabs\",\"aria-label\":\"X\",\"children\":[\"$\",\"div\",null,{\"className\":\"w-8 h-8 rounded-full hover:bg-gray-200 flex items-center justify-center\",\"children\":[[\"$\",\"span\",null,{\"className\":\"sr-only\",\"children\":\"X\"}],[\"$\",\"svg\",null,{\"className\":\"w-5 h-5\",\"viewBox\":\"0 0 32 32.533\",\"width\":\"32\",\"height\":\"32.533\",\"children\":[\"$\",\"path\",null,{\"d\":\"M24.347 0H30.4L19.68 13.893 32 32.533h-9.733l-7.733-11.147-9.067 11.147H0L11.627 17.28 0 0h9.973l6.96 10.133zm-1.414 29.6h4.533L9.333 2.933H4.8z\"}]}]]}]}]]}]]}]]}]}]]}],\"$undefined\",null,[\"$\",\"$Lb\",null,{\"children\":[\"$Lc\",\"$Ld\",null]}]]}],{},null,false]},null,false],[\"$\",\"$1\",\"h\",{\"children\":[null,[\"$\",\"$1\",\"el7jcl-uXg2MVW-frBwO3\",{\"children\":[[\"$\",\"$Le\",null,{\"children\":\"$Lf\"}],[\"$\",\"meta\",null,{\"name\":\"next-size-adjust\",\"content\":\"\"}]]}],[\"$\",\"$L10\",null,{\"children\":\"$L11\"}]]}],false]],\"m\":\"$undefined\",\"G\":[\"$12\",\"$undefined\"],\"s\":false,\"S\":true}\n"])</script>
    <script>self.__next_f.push([1, "f:[[\"$\",\"meta\",\"0\",{\"charSet\":\"utf-8\"}],[\"$\",\"meta\",\"1\",{\"name\":\"viewport\",\"content\":\"width=device-width, initial-scale=1\"}]]\nc:null\n"])</script>
    <script>self.__next_f.push([1, "d:null\n11:[[\"$\",\"title\",\"0\",{\"children\":\"jangkau.ai - Otomatiskan Komunikasi Bisnismu dengan Bantuan AI\"}],[\"$\",\"meta\",\"1\",{\"name\":\"description\",\"content\":\"Sambungkan Agen AI ke chat WhatsApp \u0026 Telegram. Jika perlu bantuan lebih lanjut, Bisa langsung diteruskan ke tim kamu kalau diperlukan.\"}],[\"$\",\"meta\",\"2\",{\"name\":\"generator\",\"content\":\"v0.dev\"}]]\n"])</script>
</body>

</html>