<div class="flex items-center gap-2">
  <%= f.check_box(
        field.attribute,
        class: "h-4 w-4 text-woot-500 bg-n-solid-2 border border-n-weak rounded focus:ring-2 focus:ring-woot-500 focus:ring-offset-0"
      ) %>
  <%= f.label field.attribute, class: "text-sm font-medium text-n-slate-12" %>
</div>
