<% author_size = category.articles.published.order(position: :asc).map(&:author).uniq.size %>
<% if author_size > 0 %>
  <div class="flex flex-row items-center gap-1">
    <div class="flex flex-row items-center -space-x-2">
        <% category.articles.published.order(position: :asc).map(&:author).uniq.take(3).each do |author| %>
          <%= render "public/api/v1/portals/thumbnail", author: author, size: 6 %>
        <% end %>
    </div>
    <% if !show_expanded %>
        <span class="text-sm font-medium text-slate-600 dark:text-slate-400"><%= author_size > 1 ? "#{author_size} #{I18n.t('public_portal.common.authors')}" : "#{author_size} #{I18n.t('public_portal.common.author')}" %></span>
    <% else %>
        <% first_author = category.articles.published.order(position: :asc).map(&:author).uniq.first %>
        <span class="text-base font-medium text-slate-600 dark:text-slate-400">
            <% if author_size > 1 %>
            <%= "#{I18n.t('public_portal.common.by')} #{first_author.name} and #{author_size - 1} #{author_size - 1 > 1 ? I18n.t('public_portal.common.others') : I18n.t('public_portal.common.other')}" %>
            <% else %>
            <%= "#{I18n.t('public_portal.common.by')} #{first_author.name}" %>
            <% end %>
        </span>
    <% end %>
  </div>
<% end %>
