
<footer class="pt-16 pb-8 flex flex-col items-center justify-center">
  <div class="mx-auto max-w-2xl">
    <p class="text-slate-700 dark:text-slate-100 py-2 text-center">
      <%= I18n.t('public_portal.footer.made_with') %> <a class="hover:underline" href="https://www.onehash.ai/chat" target="_blank" rel="noopener noreferrer nofoll/ow">OneHash</a> 💙
    </p>
  </div>
</footer>
