
<section class="bg-gradient-to-b from-white to-slate-75 pt-8 pb-16 md:py-16 flex flex-col items-center justify-center">
  <div class="mx-auto w-full max-w-2xl flex flex-col items-center">
    <h1 class="text-2xl px-5 md:text-4xl text-slate-900 font-semibold subpixel-antialiased leading-normal text-center">
      <%= portal.header_text %>
    </h1>
    <p class="text-slate-600 py-2 text-center my-2 max-w-sm leading-normal"><%= I18n.t('public_portal.hero.sub_title') %></p>
    <div id="search-wrap"></div>
  </div>
</section>
