
<section class="bg-gradient-to-b from-white to-black-50 pt-8 pb-16 md:py-16 flex flex-col items-center justify-center">
  <div class="mx-auto max-w-2xl">
    <h1 class="text-2xl px-5 md:text-4xl text-slate-900 font-semibold subpixel-antialiased leading-relaxed text-center">
      <%= portal.header_text %>
    </h1>
    <p class="text-slate-700 py-2 text-center mt-10">Browse the categories below</p>
  </div>
</section>
