
<section class="pt-8 pb-16 md:py-16 flex flex-col w-full bg-woot-50" style="background-color: <%= @portal.config['light_color'] %>">
  <div class="mx-auto max-w-3xl px-4 items-center flex flex-col ">
    <h1 class="text-2xl md:text-4xl text-slate-900 font-medium font-heading subpixel-antialiased leading-normal text-center">
      <%= portal.header_text %>
    </h1>
    <p class="text-slate-600 text-center text-lg leading-normal pt-6 pb-4"><%= I18n.t('public_portal.hero.sub_title') %></p>
    <div id="search-wrap"></div>
  </div>
</section>
