<!-- This example requires Tailwind CSS v2.0+ -->
<section class="bg-white lg:container mx-auto py-16 flex flex-col items-center justify-center">
  <h1 class="text-4xl text-slate-900 font-semibold subpixel-antialiased leading-relaxed"><%= portal.header_text %></h1>
  <p class="text-slate-700 py-2"><%= portal.header_text %></p>
  <input class="appearance-none block w-full  max-w-lg bg-slate-50 text-slate-700 border text-lg border-slate-100 rounded py-4 px-4 mb-3 leading-tight focus:outline-none focus:bg-white mt-4" id="grid-first-name" type="text" placeholder="Search for article by title or body...">
</section>
