<div class="max-w-6xl h-full w-full flex-grow flex flex-col items-center justify-center mx-auto py-16 px-4 relative">
    <div class="text-center mb-12">
        <span class="text-8xl">🚫</span>
    </div>
    <h1 class="text-6xl text-center font-semibold text-slate-800 dark:text-slate-100 leading-relaxed">Help Center Not Active</h1>
    <p class="text-center text-slate-700 dark:text-slate-300 my-1">This help center is currently not active. Please contact the site administrator for more information.</p>
    <div class="text-center my-8">
        <p class="text-slate-600 dark:text-slate-400 text-sm">If you are the administrator, please upgrade your plan to activate the help center.</p>
    </div>
</div>
