
<%= render "public/api/v1/portals/hero", portal: @portal %>

<div class="max-w-4xl w-full flex-grow mx-auto py-16">
  <div class="grid grid-cols-2 gap-x-32 gap-y-12">
    <% @portal.categories.each do |category| %>
      <%= render "public/api/v1/portals/category-block", category: category, portal: @portal %>
    <% end %>
  </div>
</div>


