@import '~vue2-datepicker/scss/index';

.mx-datepicker-popup {
  z-index: 99999;
}

.date-picker {
  &.no-margin {
    .mx-input {
      margin-bottom: 0;
    }
  }

  &:not(.auto-width) {
    .mx-datepicker-range {
      width: 320px;
    }
  }

  .mx-datepicker {
    width: 100%;
  }

  .mx-input {
    border: 1px solid var(--s-200);
    border-radius: var(--border-radius-normal);
    box-shadow: none;
    display: flex;
    height: 4rem;
  }

  .mx-input:disabled,
  .mx-input[readonly] {
    background-color: var(--white);
    cursor: pointer;
  }
}

.mx-datepicker-inline {
  width: 100%;

  .mx-calendar {
    width: 100%;
  }

  .cell.disabled {
    background-color: var(--s-25);
    color: var(--s-200);
  }

  .mx-time-item.disabled {
    background-color: var(--s-25);
  }

  .today {
    font-weight: var(--font-weight-bold);
  }

  .mx-datepicker-main {
    border: 0;
  }

  .mx-time-header {
    border: 0;
  }
}
