@import '~dashboard/assets/scss/variables';

.formulate-input {
  .formulate-input-errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .formulate-input-error {
    color: var(--r-400);
    display: block;
    font-size: var(--font-size-small);
    font-weight: $font-weight-normal;
    margin-bottom: $space-one;
    width: 100%;
  }
}
