.button {
  font-family: $body-font-family;
  font-weight: $font-weight-medium;

  &.round {
    border-radius: 1000px;
  }
}

.card {
  padding: var(--space-small);
}

.button-wrapper .button.link.grey-btn {
  margin-left: var(--space-normal);
}

.tooltip {
  border-radius: $space-smaller;
  font-size: $font-size-mini;
  max-width: 15rem;
  padding: $space-smaller $space-small;
  z-index: 9999;
}

code {
  border: 0;
  font-family: 'Monaco', Verdana;
  font-size: $font-size-mini;

  &.hljs {
    background: $color-background;
    border-radius: var(--border-radius-large);
    padding: $space-two;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}
