.bg-light {
  @include background-light;
}

.flex-center {
  display: flex;
  @include flex-align(center, middle);
}

.bottom-space-fix {
  margin-bottom: auto;
}

.full-height {
  @include full-height();
}

input, textarea {
  border-radius: 4px !important;
}
