.bg-light {
  @include background-light;
}

.flex-center {
  @include flex-align(center, middle);
  display: flex;
}

.bottom-space-fix {
  margin-bottom: auto;
}

.full-height {
  @include full-height();
}

.spinner {
  @include color-spinner();
  display: inline-block;
  height: $space-medium;
  padding: $zero $space-medium;
  position: relative;
  vertical-align: middle;
  width: $space-medium;

  &.message {
    @include normal-shadow;
    background: $color-white;
    border-radius: $space-large;
    left: 0;
    margin: $space-slab auto;
    padding: $space-normal;
    top: 0;

    &::before {
      margin-left: -$space-slab;
      margin-top: -$space-slab;
    }
  }

  &.small {
    height: $space-normal;
    width: $space-normal;

    &::before {
      height: $space-normal;
      margin-top: -$space-small;
      width: $space-normal;
    }
  }
}


input,
textarea,
select {
  border-radius: var(--space-smaller) !important;
}

.input-group {
  .input-group-label:first-child {
    border-bottom-left-radius: var(--space-smaller);
    border-top-left-radius: var(--space-smaller);
  }

  .input-group-field {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
