html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-wrapper {
  @include full-height;
  flex-grow: 0;
  min-height: 0;
  width: 100%;
}

.banner + .app-wrapper {
  .button--fixed-right-top {
    top: 5.6 * $space-one;
  }

  .off-canvas-content {
    .button--fixed-right-top {
      top: $space-small;
    }
  }
}

is-closed .app-root {
  @include flex;
  flex-direction: column;
}

.app-content {
  @include flex;
  @include full-height;
  min-height: 0;
  overflow: hidden;
}

.view-box {
  @include full-height;
  @include space-between-column;

  height: 100vh;
  margin: 0;
}

.view-panel {
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
  padding: $space-normal;
}

.content-box {
  overflow: auto;
  padding: $space-normal;
}

.back-button {
  @include flex;

  align-items: center;
  color: $color-woot;
  cursor: pointer;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  margin-right: $space-normal;

  &::before {
    font-size: $font-size-large;
    margin-right: $space-small;
    vertical-align: text-bottom;
  }
}

.button-spinner {
  float: right;
}

.no-items-error-message {
  @include flex;
  @include full-height;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  img {
    max-width: $space-mega;
    padding: $space-one;
  }
}
