// scss-lint:disable PropertySortOrder
@layer base {
  // NEXT COLORS START
  :root {
    // slate
    --slate-1: 252 252 252;
    --slate-2: 249 249 249;
    --slate-3: 240 240 240;
    --slate-4: 232 232 232;
    --slate-5: 225 225 225;
    --slate-6: 218 218 218;
    --slate-7: 206 206 206;
    --slate-8: 187 187 187;
    --slate-9: 141 141 141;
    --slate-10: 131 131 131;
    --slate-11: 100 100 100;
    --slate-12: 31 31 31;

    --iris-1: 253 253 253;
    --iris-2: 249 249 249;
    --iris-3: 242 242 242;
    --iris-4: 233 233 233;
    --iris-5: 222 222 222;
    --iris-6: 208 208 208;
    --iris-7: 190 190 190;
    --iris-8: 163 163 163;
    --iris-9: 100 100 100;
    --iris-10: 90 90 90;
    --iris-11: 92 92 92;
    --iris-12: 45 45 45;

    --blue-1: 253 253 253;
    --blue-2: 249 249 249;
    --blue-3: 242 242 242;
    --blue-4: 234 234 234;
    --blue-5: 223 223 223;
    --blue-6: 209 209 209;
    --blue-7: 191 191 191;
    --blue-8: 165 165 165;
    --blue-9: 118 118 118;
    --blue-10: 102 102 102;
    --blue-11: 96 96 96;
    --blue-12: 45 45 45;

    --ruby-1: 253 253 253;
    --ruby-2: 249 249 249;
    --ruby-3: 238 238 238;
    --ruby-4: 228 228 228;
    --ruby-5: 217 217 217;
    --ruby-6: 204 204 204;
    --ruby-7: 187 187 187;
    --ruby-8: 165 165 165;
    --ruby-9: 106 106 106;
    --ruby-10: 96 96 96;
    --ruby-11: 74 74 74;
    --ruby-12: 41 41 41;

    --amber-1: 253 253 253;
    --amber-2: 250 250 250;
    --amber-3: 245 245 245;
    --amber-4: 236 236 236;
    --amber-5: 226 226 226;
    --amber-6: 213 213 213;
    --amber-7: 195 195 195;
    --amber-8: 169 169 169;
    --amber-9: 200 200 200;
    --amber-10: 189 189 189;
    --amber-11: 108 108 108;
    --amber-12: 56 56 56;

    --teal-1: 253 253 253;
    --teal-2: 249 249 249;
    --teal-3: 243 243 243;
    --teal-4: 234 234 234;
    --teal-5: 223 223 223;
    --teal-6: 208 208 208;
    --teal-7: 188 188 188;
    --teal-8: 162 162 162;
    --teal-9: 133 133 133;
    --teal-10: 124 124 124;
    --teal-11: 103 103 103;
    --teal-12: 50 50 50;

    --gray-1: 252 252 252;
    --gray-2: 249 249 249;
    --gray-3: 240 240 240;
    --gray-4: 232 232 232;
    --gray-5: 224 224 224;
    --gray-6: 217 217 217;
    --gray-7: 206 206 206;
    --gray-8: 187 187 187;
    --gray-9: 141 141 141;
    --gray-10: 131 131 131;
    --gray-11: 100 100 100;
    --gray-12: 32 32 32;

    --violet-1: 252 252 252;
    --violet-2: 249 249 249;
    --violet-3: 242 242 242;
    --violet-4: 231 231 231;
    --violet-5: 221 221 221;
    --violet-6: 208 208 208;
    --violet-7: 186 186 186;
    --violet-8: 162 162 162;
    --violet-9: 100 100 100;
    --violet-10: 95 95 95;
    --violet-11: 95 95 95;
    --violet-12: 44 44 44;

    --background-color: 247 247 247;
    --surface-1: 254 254 254;
    --surface-2: 255 255 255;
    --surface-active: 255 255 255;
    --background-input-box: 0, 0, 0, 0.03;
    --text-blue: 19 19 19;
    --text-purple: 7 7 7;
    --text-amber: 25 25 25;
    --border-container: 236 236 236;
    --border-strong: 227 227 227;
    --border-weak: 234 234 234;
    --border-blue-strong: 56 56 56;
    --solid-1: 255 255 255;
    --solid-2: 255 255 255;
    --solid-3: 255 255 255;
    --solid-active: 255 255 255;
    --solid-amber: 230 230 230;
    --solid-blue: 234 234 234;
    --solid-blue-2: 253 253 253;
    --solid-iris: 233 233 233;
    --solid-purple: 233 233 233;
    --solid-red: 212 212 212;
    --solid-amber-button: 222 222 222;
    --card-color: 255 255 255;
    --overlay: 0, 0, 0, 0.12;
    --overlay-avatar: 255, 255, 255, 0.67;
    --button-color: 255 255 255;
    --button-hover-color: 255, 255, 255, 0.2;
    --label-background: 247 247 247;
    --label-border: 0, 0, 0, 0.04;

    --alpha-1: 215, 215, 215, 0.22;
    --alpha-2: 197, 197, 197, 0.22;
    --alpha-3: 255, 255, 255, 0.96;
    --black-alpha-1: 0, 0, 0, 0.12;
    --black-alpha-2: 0, 0, 0, 0.04;
    --border-blue: 118, 118, 118, 0.5;
    --white-alpha: 255, 255, 255, 0.8;

    // Voice call widget - light mode
    --call-widget: 34, 34, 34, 0.95;
    --call-widget-border: 255, 255, 255, 0.1;
    --call-widget-text: 238, 238, 238, 1;
    --call-widget-sub-text: 177, 177, 177, 1;
  }

  .dark {
    // slate
    --slate-1: 17 17 17;
    --slate-2: 25 25 25;
    --slate-3: 34 34 34;
    --slate-4: 42 42 42;
    --slate-5: 49 49 49;
    --slate-6: 58 58 58;
    --slate-7: 71 71 71;
    --slate-8: 96 96 96;
    --slate-9: 110 110 110;
    --slate-10: 123 123 123;
    --slate-11: 180 180 180;
    --slate-12: 238 238 238;

    --iris-1: 20 20 20;
    --iris-2: 23 23 23;
    --iris-3: 36 36 36;
    --iris-4: 45 45 45;
    --iris-5: 55 55 55;
    --iris-6: 67 67 67;
    --iris-7: 79 79 79;
    --iris-8: 95 95 95;
    --iris-9: 100 100 100;
    --iris-10: 116 116 116;
    --iris-11: 179 179 179;
    --iris-12: 225 225 225;

    --blue-1: 16 16 16;
    --blue-2: 23 23 23;
    --blue-3: 36 36 36;
    --blue-4: 44 44 44;
    --blue-5: 56 56 56;
    --blue-6: 76 76 76;
    --blue-7: 83 83 83;
    --blue-8: 99 99 99;
    --blue-9: 118 118 118;
    --blue-10: 104 104 104;
    --blue-11: 175 175 175;
    --blue-12: 224 224 224;

    --ruby-1: 19 19 19;
    --ruby-2: 23 23 23;
    --ruby-3: 29 29 29;
    --ruby-4: 33 33 33;
    --ruby-5: 42 42 42;
    --ruby-6: 54 54 54;
    --ruby-7: 71 71 71;
    --ruby-8: 93 93 93;
    --ruby-9: 106 106 106;
    --ruby-10: 123 123 123;
    --ruby-11: 171 171 171;
    --ruby-12: 220 220 220;

    --amber-1: 18 18 18;
    --amber-2: 24 24 24;
    --amber-3: 34 34 34;
    --amber-4: 41 41 41;
    --amber-5: 51 51 51;
    --amber-6: 64 64 64;
    --amber-7: 82 82 82;
    --amber-8: 105 105 105;
    --amber-9: 200 200 200;
    --amber-10: 208 208 208;
    --amber-11: 200 200 200;
    --amber-12: 232 232 232;

    --teal-1: 19 19 19;
    --teal-2: 26 26 26;
    --teal-3: 38 38 38;
    --teal-4: 47 47 47;
    --teal-5: 58 58 58;
    --teal-6: 72 72 72;
    --teal-7: 88 88 88;
    --teal-8: 105 105 105;
    --teal-9: 133 133 133;
    --teal-10: 142 142 142;
    --teal-11: 170 170 170;
    --teal-12: 224 224 224;

    --gray-1: 17 17 17;
    --gray-2: 25 25 25;
    --gray-3: 34 34 34;
    --gray-4: 42 42 42;
    --gray-5: 49 49 49;
    --gray-6: 58 58 58;
    --gray-7: 72 72 72;
    --gray-8: 96 96 96;
    --gray-9: 110 110 110;
    --gray-10: 123 123 123;
    --gray-11: 180 180 180;
    --gray-12: 238 238 238;

    --violet-1: 19 19 19;
    --violet-2: 23 23 23;
    --violet-3: 36 36 36;
    --violet-4: 43 43 43;
    --violet-5: 53 53 53;
    --violet-6: 65 65 65;
    --violet-7: 79 79 79;
    --violet-8: 97 97 97;
    --violet-9: 100 100 100;
    --violet-10: 120 120 120;
    --violet-11: 162 162 162;
    --violet-12: 224 224 224;

    --background-color: 29 29 29;
    --surface-1: 21 21 21;
    --surface-2: 23 23 23;
    --surface-active: 57 57 57;
    --background-input-box: 255, 255, 255, 0.02;
    --text-blue: 231 231 231;
    --text-purple: 234 234 234;
    --text-amber: 248 248 248;
    --border-strong: 46 46 46;
    --border-weak: 31 31 31;
    --border-blue-strong: 223 223 223;
    --solid-1: 23 23 23;
    --solid-2: 30 30 30;
    --solid-3: 45 45 45;
    --solid-active: 57 57 57;
    --solid-amber: 51 51 51;
    --solid-blue: 51 51 51;
    --solid-blue-2: 29 29 29;
    --solid-iris: 45 45 45;
    --solid-purple: 55 55 55;
    --solid-red: 45 45 45;
    --solid-amber-button: 222 222 222;
    --card-color: 30 30 30;
    --overlay: 0, 0, 0, 0.4;
    --overlay-avatar: 0, 0, 0, 0.05;
    --button-color: 43 43 43;
    --button-hover-color: 0, 0, 0, 0.15;
    --label-background: 38 38 38;
    --label-border: 255, 255, 255, 0.03;

    --alpha-1: 36, 36, 36, 0.8;
    --alpha-2: 153, 153, 153, 0.12;
    --alpha-3: 34, 34, 34, 0.95;
    --black-alpha-1: 0, 0, 0, 0.3;
    --black-alpha-2: 0, 0, 0, 0.2;
    --border-blue: 118, 118, 118, 0.5;
    --border-container: 255, 255, 255, 0;
    --white-alpha: 255, 255, 255, 0.1;

    // Voice call widget - dark mode
    --call-widget: 53, 53, 53, 1;
    --call-widget-border: 255, 255, 255, 0.07;
    --call-widget-text: 238, 238, 238, 1;
    --call-widget-sub-text: 177, 177, 177, 1;
  }
}
// NEXT COLORS END
