@import 'shared/assets/fonts/inter';

@import 'variables';

@import '~spinkit/scss/spinners/7-three-bounce';
@import '~ionicons/scss/ionicons';

@import 'mixins';
@import 'foundation-settings';
@import 'helper-classes';
@import 'foundation-sites/scss/foundation';
@import '~bourbon/core/bourbon';

@include foundation-everything($flex: true);

@import 'woot';
