@import 'shared/assets/fonts/inter';
@import 'shared/assets/stylesheets/colors';
@import 'shared/assets/stylesheets/spacing';
@import 'shared/assets/stylesheets/font-size';
@import 'shared/assets/stylesheets/font-weights';
@import 'shared/assets/stylesheets/shadows';
@import 'shared/assets/stylesheets/border-radius';
@import 'variables';

@import '~spinkit/scss/spinners/7-three-bounce';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~shared/assets/stylesheets/ionicons';

@import 'mixins';
@import 'foundation-settings';
@import 'helper-classes';
@import 'foundation-sites/scss/foundation';

@include foundation-prototype-spacing;
@import '~bourbon/core/bourbon';

@include foundation-everything($flex: true);

@import 'typography';
@import 'layout';
@import 'animations';

@import 'foundation-custom';
@import 'widgets/buttons';
@import 'widgets/forms';

@import 'plugins/multiselect';
