<section class="main-content__body">
 <hr/>
  <%= form_for([:reset_cache, namespace, page.resource], method: :post, html: { class: "form" }) do |f| %>
    <div class="form-actions">
      <p class="pb-3">This will clear the IndexedDB cache keys from redis. <br>The next load will fetch the data from backend.</p>
      <%= f.submit 'Reset Frontend Cache' %>
    </div>
  <% end %>
</section>
