{
    "swagger": "2.0",
    "info": {
        "title": "IQ Fluence API",
        "description": "\n## Introduction\nIQ Fluence API provides access to the audience demographic and psychographic attributes of Instagram, YouTube and TikTok influencers based on their active audience and social media presence.\nWe currently support user lookups by user ID or username for Instagram, YouTube and TikTok.\n\n## Error codes\nIn case of error the API returns the HTTP status code different from 200 (4xx or 5xx code) and response is formatted as such:\n```\n{\n    \"success\": false,\n    \"error\": \"code\",\n    \"error_message\": \"message\"\n}\n```\n\nPossible values for the `error` field are bellow.\n\nHTTP status code 400:\n\n| Code | Comment |\n| --- | --- |\n| bad_request | Request body contains invalid parameters. `message` field contains details. |\n| account_not_found | There are no such account on social media network, may be it has been removed. |\n| account_data_removed | Information has been removed at the request of the account holder. |\n| account_removed | Account has been removed from social media network. |\n| account_is_private | The user has made his account private. |\n| empty_audience | We have no audience for this account. |\n| retry_later | We are updating audience on this account right now. Try again in 5-10 minutes. |\n| bad_filter | Bad filter value. May be returned in the Search or AD |\n| comment_unavailable | Comments you are trying to reach do not exist. |\n| media_not_found | Media you are trying to reach does not exist. |\n| entity_not_found | Entity (account, video, etc.) you are trying to reach does not exist. |\n| entity_is_private | Cannot access requested entity due to access restrictions (like private or geo/age restricted posts). |\n| no_tokens_remaining | There are no enough credits to process the request. |\n| daily_tokens_limit_exceeded | Your daily credits spending limit exceeded. The start and end of the day are in UTC. |\n\nHTTP status code 401:\n\n| Code | Comment |\n| --- | --- |\n| not_authenticated | You haven't provided API Key with the request. |\n\nHTTP status code 403:\n\n| Code | Comment |\n| --- | --- |\n| invalid_api_key | API Key you provided is invalid. |\n| permission_denied | You don't have permission for this operation. |\n| token_is_disabled | Your account has been disabled for some reason. Ask support for details. |\n| tokens_expired | Your credits are expired. Ask your manager for details. |\n\nHTTP status code 404:\n\n| Code | Comment |\n| --- | --- |\n| not_found | URL you have called does not exists. |\n\nHTTP status code 405:\n\n| Code | Comment |\n| --- | --- |\n| method_not_allowed | A wrong HTTP method was used. Most often it's the use of GET on endpoint accepting POST only |\n\nHTTP status code 420:\n\n| Code | Comment |\n| --- | --- |\n| conn_limit_exceeded | You have more than 100 HTTP connections opened concurrently (1000 for raw API endpoints). |\n\nHTTP status code 429:\n\n| Code | Comment |\n| --- | --- |\n| rate_limit_exceeded | Subscription requests rate limit exceeded. |\n\nHTTP status code 500:\n\n| Code | Comment |\n| --- | --- |\n| internal_server_error | Something goes wrong while processing your request. Try again later. |\n",
        "version": "v2.0"
    },
    "host": "api.iqfluence.io",
    "schemes": [
        "https"
    ],
    "basePath": "/v2.0",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "header": {
            "type": "apiKey",
            "name": "X-Api-Key",
            "description": "",
            "in": "header"
        }
    },
    "security": [
        {
            "header": []
        }
    ],
    "paths": {
        "/api/account/credits-balance/": {
            "get": {
                "operationId": "credits-balance",
                "summary": "Get API credits balance",
                "description": "Returns the current balance of API credits (tokens) and expiration date if applicable.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreditsBalance"
                        }
                    }
                },
                "tags": [
                    "Finance"
                ]
            },
            "parameters": []
        },
        "/api/dict/brand-logos/{brand_id}": {
            "get": {
                "operationId": "get-brand-logo",
                "summary": "Get Brand logo",
                "description": "Get brand logo image file.",
                "parameters": [
                    {
                        "name": "brand_id",
                        "in": "path",
                        "description": "",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Dictionaries"
                ],
                "security": []
            },
            "parameters": [
                {
                    "name": "brand_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/dict/interests/": {
            "get": {
                "operationId": "list-interests-and-brands",
                "summary": "List Interests and Brands",
                "description": "List of all interests and brands that can be used as a filter in Search or may be returned in the Audience Data report. We recommend that you cache this dictionary because it updates rarely. You can always write to us to update this dictionary with new brands of your choosing.\n\nInstagram Only.\n",
                "parameters": [
                    {
                        "name": "hide_deprecated",
                        "in": "query",
                        "description": "",
                        "type": "boolean",
                        "default": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Interests"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": {
                                    "interests": [
                                        {
                                            "id": 1,
                                            "name": "Television & Film",
                                            "count": 13454,
                                            "deprecated": true
                                        }
                                    ],
                                    "brands": [
                                        {
                                            "id": 46,
                                            "name": "Aéropostale",
                                            "count": 111,
                                            "deprecated": false,
                                            "interest": [
                                                {
                                                    "id": 7
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Dictionaries"
                ]
            },
            "parameters": []
        },
        "/api/dict/langs/": {
            "get": {
                "operationId": "list-languages",
                "summary": "List Languages",
                "description": "List all supported languages ordered by descending of their frequency. They can be used as a filter in Search or may be returned in the Audience Data report. We recommend that you cache this dictionary because it updates rarely.",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LangList"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": [
                                    {
                                        "code": "en",
                                        "name": "English",
                                        "count": 20972231
                                    },
                                    {
                                        "code": "es",
                                        "name": "Spanish",
                                        "count": 14818868
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Dictionaries"
                ]
            },
            "parameters": []
        },
        "/api/dict/relevant-tags/": {
            "get": {
                "operationId": "relevant-tags",
                "summary": "Get relevant topic tags",
                "description": "Returns relevant topic tags for the query like in the relevance [search filter](#operation/search-for-influencers).",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query. Use `#` symbol for hashtags and `@` for usernames, don't forget to encode them properly as a part of URI.\n\nExamples: `q=%23prank` to search for `#prank`, `q=%40instagram` to search for `@instagram`.\n\nFor YouTube you can use channel ID instead of username, i.e. `@UCBR8-60-B28hp2BmDPdntcQ` for the official YouTube's channel.",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limits the maximum number of results",
                        "required": false,
                        "type": "integer",
                        "default": 60,
                        "maximum": 100,
                        "minimum": 1
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TopicTensor"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": [
                                    {
                                        "tag": "#prank",
                                        "distance": 5.960464477539063e-08,
                                        "freq": 11.34840453280178,
                                        "tag_cnt": 84830
                                    },
                                    {
                                        "tag": "#pranks",
                                        "distance": 0.0885847806930542,
                                        "freq": 9.283590833715776,
                                        "tag_cnt": 10760
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Dictionaries"
                ]
            },
            "parameters": []
        },
        "/api/dict/users/": {
            "get": {
                "operationId": "list-users",
                "summary": "List Users",
                "description": "Autocomplete users who are available under audience lookalike or relevance filters or just social media accounts.",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limits the maximum number of results",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "maximum": 1000,
                        "minimum": 1
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "lookalike",
                            "topic-tags",
                            "search"
                        ]
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserList"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": [
                                    {
                                        "user_id": "1523104692",
                                        "username": "tiktok",
                                        "fullname": "TikTok",
                                        "picture": "https://img.iqfluence.io/v2?mb0KwpL92uYofJiSjDn1%2F6peL1lBwv3s%2BUvShHERlDae1vys6ENzDOn3uhaSPVAjpdySAcQ7wq3PYwHt33VgtxQQDNh2f4lvfzmdDWKIPj1p5sRP9UcLBUIL3ACrmru5Wwq5%2BhsabX0Nc9aXCBbcsw%3D%3D",
                                        "followers": 26729222,
                                        "is_verified": true
                                    },
                                    {
                                        "user_id": "4684098783",
                                        "username": "tiktokindia",
                                        "fullname": "TikTok India",
                                        "picture": "https://img.iqfluence.io/v2?mb0KwpL92uYofJiSjDn1%2F6peL1lBwv3s%2BUvShHERlDaou00V3dIWSDHq8sLncF6YX7lfSokHA4ODt70uSVDU9D8X%2F3%2FOal2mbqAMH1WNCtahHA8VQHUnFryFmuar8xh%2FWwq5%2BhsabX0Nc9aXCBbcsw%3D%3D",
                                        "followers": 3423196,
                                        "is_verified": true
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Dictionaries"
                ]
            },
            "parameters": []
        },
        "/api/exports/": {
            "get": {
                "operationId": "list-data-exports",
                "summary": "List Data Exports",
                "description": "All your data exports sorted by added_at field in descending order",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PaginatedExports"
                        }
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": []
        },
        "/api/exports/contacts/": {
            "get": {
                "operationId": "export-contacts",
                "summary": "Get contact details",
                "description": "Get contact details for specific user\n\n### $ Paid request\n\nCost is 0.04 credits per every success response.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Influencer username, userId for link to user's profile page",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ContactExport"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "user_profile": {
                                    "user_id": "6662064380831727622",
                                    "sec_uid": "MS4wLjABAAAAK7hKfiii3bm_djeSUfQ-4Kza1zBJzqKVkxcu2ufy7rcP6qcu1PvlxIyvccoQ-ECh",
                                    "username": "abc",
                                    "url": "https://www.tiktok.com/@6662064380831727622",
                                    "picture": "https://p16-amd-va.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/940fa5860d990069dd200ea7aef3df07.jpeg",
                                    "fullname": "ABC Australia",
                                    "contacts": [
                                        {
                                            "type": "linktree",
                                            "value": "abctok",
                                            "formatted_value": "https://linktr.ee/abctok"
                                        }
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ContactExportError"
                        },
                        "examples": {
                            "application/json": {
                                "success": false,
                                "error": "no_contacts"
                            }
                        }
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": []
        },
        "/api/exports/new/": {
            "post": {
                "operationId": "new-data-export",
                "summary": "New Data Export",
                "description": "Order new data export from our search engine.\nUse ```dry_run=true``` parameter to estimate the number of available accounts matching certain filters.\n\nInformation in export file includes:\n* basic influencer info and highlights for specified filters,\n* contact details,\n* influencer demographics (gender,age,geo location).\n\nThere are no limits for data export - you can export any amount of influencers until you have enough amount of credits.\n\n### $ Paid request\n\nThis request holds credits on your account until the report will be ready.\nHolden amount calculated as follows 0.04 credits per every exported account.\n\nOnce the report is ready, we charge credits for the real amount of gathered accounts with the same unit price.\n\nCall this endpoint with dry_run=true to estimate costs before ordering a new data export.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewDataExportRequest"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DataExport"
                        }
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": []
        },
        "/api/exports/{export_id}/": {
            "get": {
                "operationId": "data-export-info",
                "summary": "Data Export info",
                "description": "Get information about single specific data export.",
                "parameters": [
                    {
                        "name": "report_id",
                        "in": "path",
                        "description": "ID of the data export you received from [New Data Export](#operation/new-data-export) operation",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DataExport"
                        }
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": [
                {
                    "name": "export_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/exports/{export_id}/files/{fmt}/": {
            "get": {
                "operationId": "fetch-data-export-report",
                "summary": "Fetch Data Export file",
                "description": "\nDownload data export file in on of specified formats - GZIPed CSV or JSON, XLSX.\n",
                "parameters": [
                    {
                        "name": "export_id",
                        "in": "path",
                        "description": "ID of the report you received from [New Data Export](#operation/new-data-export) operation",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "fmt",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "csv",
                            "json",
                            "xlsx"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "json-each-row",
                        "schema": {
                            "$ref": "#/definitions/ExportAccount"
                        }
                    },
                    "204": {
                        "description": "Returns if your export is not ready"
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": [
                {
                    "name": "export_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "fmt",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/geos/": {
            "get": {
                "operationId": "list-geolocations",
                "summary": "List Geolocations",
                "description": "List geo locations under certain filters.\n\nTo get whole list just set limit=50000, there are about 32k geo locations in the dictionary.\n",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit search results",
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "country_code",
                        "in": "query",
                        "description": "Limit results to specific country",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Provide comma-separated list of types (city,state,country) to limit search results to these types.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GeoList"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "id": 51800,
                                    "type": [
                                        "city"
                                    ],
                                    "name": "London",
                                    "title": "London, United Kingdom",
                                    "country": {
                                        "id": 62149
                                    }
                                },
                                {
                                    "id": 297756,
                                    "type": [
                                        "city"
                                    ],
                                    "name": "Londrina",
                                    "title": "Londrina, Brazil",
                                    "country": {
                                        "id": 59470
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid arguments"
                    }
                },
                "tags": [
                    "Dictionaries"
                ]
            },
            "parameters": []
        },
        "/api/lists/": {
            "get": {
                "operationId": "list-list-of-influencers",
                "summary": "Get lists",
                "description": "Show all lists assigned with your account",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip specified amount of lists (pagination).",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit number of returned results. Maximum value is 10,000",
                        "required": false,
                        "type": "integer",
                        "default": 1000
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ListsListResponse"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": [
                                    {
                                        "id": 1,
                                        "type": "exported",
                                        "max_size": -1,
                                        "size": 100,
                                        "platform": "tiktok"
                                    },
                                    {
                                        "id": 40,
                                        "type": "custom",
                                        "max_size": -1,
                                        "size": 100,
                                        "platform": "youtube"
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "post": {
                "operationId": "create-new-list-of-influencers",
                "summary": "Create new custom list",
                "description": "You can create no more than 1000 custom lists per account. Ask support if you need more.",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "instagram",
                            "tiktok",
                            "youtube"
                        ],
                        "default": "instagram"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": {
                                    "id": 41,
                                    "type": "custom"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "parameters": []
        },
        "/api/lists/{list_id}/": {
            "get": {
                "operationId": "list-get-influencers",
                "summary": "Get users in list",
                "description": "",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Skip specified amount of users (pagination).",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit number of returned results. Maximum value is 10,000",
                        "required": false,
                        "type": "integer",
                        "default": 1000
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ListResponse"
                        },
                        "examples": {
                            "application/json": {
                                "success": true,
                                "data": [
                                    {
                                        "user_id": 3,
                                        "created_at": "2019-02-19 15:04:14.000000"
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "post": {
                "operationId": "add-to-list-of-influencers",
                "summary": "Add users to list",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserIdsList"
                        }
                    },
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "inserted_count": 5
                            }
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "delete": {
                "operationId": "remove-from-list-of-influencers",
                "summary": "Cleanup list",
                "description": "Remove users from the list.\nPass list of users to delete inside `user_ids` request body parameter.\n\nPass `full=true` query parameter to remove list completely (only for \"custom\" lists type).\nOnce deleted it is not shown in the list of lists and you can't get it contents.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserIdsList"
                        }
                    },
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "full",
                        "in": "query",
                        "description": "Pass true to remove list completely",
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "examples": {
                            "application/json": {
                                "success": true,
                                "removed_count": 5
                            }
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "parameters": [
                {
                    "name": "list_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/match_emails/": {
            "post": {
                "operationId": "match-emails",
                "summary": "Match emails",
                "description": "\nFor each email provided, find one or multiple social media accounts on Instagram, YouTube and TikTok who mentioned this email in their bio or as their contact email.\n\n### $ Paid request\n\nCost is 0.04 credits per every matched email.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MatchEmailsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MatchEmailsResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid arguments",
                        "examples": {
                            "application/json": {
                                "success": false,
                                "error": "bad_request",
                                "message": "Bad request.",
                                "errors": [
                                    {
                                        "emails": [
                                            "This field is required."
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "tags": [
                    "Data Export"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/audio/feed/": {
            "get": {
                "operationId": "ig-audio-feed",
                "summary": "Instagram Audio Feed",
                "description": "\nReturns Instagram audio feed starting from the latest one.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "audio_id",
                        "in": "query",
                        "description": "Instagram audio ID.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramAudioFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/hashtag/feed/": {
            "get": {
                "operationId": "ig-hashtag-feed",
                "summary": "Instagram Hashtag Feed",
                "description": "\nReturns Instagram hashtag feed starting from the latest one.\nUp to 30 posts on the page for \"recent posts\" feed and up to 9 for \"top posts\" feed.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "hashtag",
                        "in": "query",
                        "description": "Instagram hashtag (without `#` at the beginning)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "What kind of feed to return",
                        "required": false,
                        "type": "string",
                        "enum": [
                            [
                                "recent",
                                "Recent posts"
                            ],
                            [
                                "top",
                                "Top posts"
                            ]
                        ],
                        "default": "recent"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramTagFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/hashtag/info/": {
            "get": {
                "operationId": "ig-hashtag-info",
                "summary": "Instagram Hashtag Info",
                "description": "\nReturns Instagram hashtag info.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "hashtag",
                        "in": "query",
                        "description": "Instagram hashtag (without `#` at the beginning)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramTagInfo"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/media/comments/": {
            "get": {
                "operationId": "ig-media-comments",
                "summary": "Instagram Comments",
                "description": "\nGet comments for Instagram post with pagination. We can't guarantee the order of the comments, so don't rely on it.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Instagram post shortcode (digits and letters after https://www.instagram.com/p/)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramPostComments"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/media/comments/replies/": {
            "get": {
                "operationId": "ig-media-comments-replies",
                "summary": "Instagram Comments Replies",
                "description": "\n\n<div style=\"background-color: #f8f9fa; padding: 10px; border: 1px solid #ccc; border-radius: 5px;\">\n    ⚠️ Due to recent changes on <strong>Instagram's side</strong>, this API method has been affected.\n    As a result, when paging comments, you may encounter duplicate comments.\n    <br><br>We need some time to fix it. If you have any questions or need further assistance, please feel free to contact us.\n    We appreciate your patience and understanding.\n</div>\n\n\nGet replies to the specific comment of the post with pagination. We can't guarantee the order of the replies and how much replies returned per page, so don't rely on it.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Instagram post shortcode (digits and letters after https://www.instagram.com/p/)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment_id",
                        "in": "query",
                        "description": "comment id, you can get it from `pk` field in the comment info",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramPostCommentReplies"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/media/info/": {
            "get": {
                "operationId": "ig-media-info",
                "summary": "Instagram Media Info",
                "description": "\nReturns information about social media post (as well as reel and IGTV), i.e. post content, likes/comments/views numbers, mentions and geo tags.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Instagram post shortcode (digits and letters after https://www.instagram.com/p/)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramPostInfo"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/search/users/": {
            "get": {
                "operationId": "ig-searchusers",
                "summary": "Instagram Search Users",
                "description": "\nReturns Instagram users search result by the keyword.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword to search for.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramSerp"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/user/feed/": {
            "get": {
                "operationId": "ig-user-feed",
                "summary": "Instagram User Feed",
                "description": "\nReturns Instagram user feed starting from the latest one.\n12 posts on the page.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Instagram username, userId or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramPostFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/user/igtv/": {
            "get": {
                "operationId": "ig-user-igtv",
                "summary": "Instagram User IGTV",
                "description": "\nReturns Instagram user IGTV videos starting from the latest one.\nUp to 10 items on the page.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Instagram username, userId or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramIgtvFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/user/info/": {
            "get": {
                "operationId": "ig-user-info",
                "summary": "Instagram User Info",
                "description": "\nReturns Instagram user information by his ID or username.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Instagram username, userId or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramUserInfo"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/user/reels/": {
            "get": {
                "operationId": "ig-user-reels",
                "summary": "Instagram User Reels",
                "description": "\nReturns Instagram user reels starting from the latest one.\nUp to 12 items on the page.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Instagram username, userId or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramReelsFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/ig/usertags/feed/": {
            "get": {
                "operationId": "ig-usertags-feed",
                "summary": "Instagram User Tags Feed",
                "description": "\nReturns Instagram user tags feed starting from the latest one.\nUp to 21 posts on the page.\nTo get the next page pass content of ```end_cursor``` to the ```after``` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Instagram username, userId or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of end_cursor field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InstagramPostFeed"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "Instagram Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/challenge/feed/": {
            "get": {
                "operationId": "tt-challenge-feed",
                "summary": "TikTok Challenge Feed",
                "description": "\nReturns TikTok challenge (tag) feed information by its ID.\nUp to 30 posts on the page.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok challengeId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of `cursor` field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokChallengeFeedResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/challenge/info/": {
            "get": {
                "operationId": "tt-challenge-info",
                "summary": "TikTok Challenge Info",
                "description": "\nReturns TikTok challenge (tag) information by ID or hashtag.\n\nIf `url` is numeric - it's treated as challengeId.\nIf it contains link like `https://www.tiktok.com/tag/sometag`, then `sometag` is extracted as challenge hashtag.\nOtherwise, the whole `url` value is treated as challenge hashtag.\n\nIn the case of the numeric hashtag, pass it as a URL, e.g. `https://www.tiktok.com/tag/42` for `#42` challenge.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok challengeId or link to challenge's page or challenge hashtag.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokChallengeInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/comments/": {
            "get": {
                "operationId": "tt-comments",
                "summary": "TikTok Comments",
                "description": "\n\n<div style=\"background-color: #f8f9fa; padding: 10px; border: 1px solid #ccc; border-radius: 5px;\">\n    ⚠️ Due to recent changes on <strong>TikTok's side</strong>, this API method has been affected.\n    As a result, when paging comments, you may encounter duplicate comments.\n    <br><br>We need some time to fix it. If you have any questions or need further assistance, please feel free to contact us.\n    We appreciate your patience and understanding.\n</div>\n\n\nReturns TikTok comments list by media ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok media ID or link to video's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of `cursor` field from the last response to get next page",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokCommentsResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/music/feed/": {
            "get": {
                "operationId": "tt-music-feed",
                "summary": "TikTok Music Feed",
                "description": "\nReturns TikTok music feed information by its ID.\nUp to 30 posts on the page.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok musicId or link to music's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of `cursor` field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokMusicFeedResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/music/info/": {
            "get": {
                "operationId": "tt-music-info",
                "summary": "TikTok Music Info",
                "description": "\nReturns TikTok music information by ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok musicId or link to music's page.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokMusicInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/reply/comments/": {
            "get": {
                "operationId": "tt-reply-comments",
                "summary": "TikTok Comments Replies",
                "description": "\nReturns TikTok replies comments list by comment ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.\n",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok media ID or link to video's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment_id",
                        "in": "query",
                        "description": "TikTok comment ID (`cid`) from 'TikTok Comments' API response.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of `cursor` field from the last response to get next page",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokCommentsResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/resolve_short_link/": {
            "get": {
                "operationId": "tt-short-link-resolve",
                "summary": "TikTok Short Link Resolve",
                "description": "\nParses TikTok shortlinks like `https://vm.tiktok.com/abcd/`, `https://vt.tiktok.com/abcd/` and `https://www.tiktok.com/t/abcd/` and returns info about where this shortlink leads to.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok short link",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokResolvedShortlinkResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/search/users/": {
            "get": {
                "operationId": "tt-search-users",
                "summary": "TikTok Search Users",
                "description": "\nReturns TikTok users' search result by the keyword.\nUp to 10 items on the page.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword to search for.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokSearchUsersResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/user/feed/": {
            "get": {
                "operationId": "tt-user-feed",
                "summary": "TikTok User Feed",
                "description": "\nReturns TikTok user feed information by his secUid, ID or username.\nUp to 30 posts on the page.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits in case of secUid passed to `url` parameter and 0.06 credits in case of user ID, username or link.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok secUid, userId, username or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of `maxCursor` field from the last response to get next page",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokUserFeedResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/user/info/": {
            "get": {
                "operationId": "tt-user-info",
                "summary": "TikTok User Info",
                "description": "\nReturns TikTok user information by his ID, secUid or username.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok username, userId, secUid or link to user's profile page.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokUserInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/user/media/": {
            "get": {
                "operationId": "tt-media",
                "summary": "TikTok Media Info",
                "description": "\nReturns TikTok media information by ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok postId or link to post's page.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TiktokMediaInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/tt/user/media/video/": {
            "get": {
                "operationId": "tt-media-video",
                "summary": "TikTok Media Video Content",
                "description": "\nReturns TikTok video content by media ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.10 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "TikTok postId or link to post's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_source",
                        "in": "query",
                        "description": "The source of video.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "playAddr",
                            "downloadAddr"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary video data",
                        "headers": {
                            "Content-Type": {
                                "description": "The \"Content-Type\" header returned from social network",
                                "type": "string"
                            },
                            "X-Last-Modified": {
                                "description": "The \"Last-Modified\" header returned from social network",
                                "type": "string"
                            },
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    },
                    "400": {
                        "description": "Any kind of error in JSON format"
                    }
                },
                "tags": [
                    "TikTok Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/channel/info/": {
            "get": {
                "operationId": "yt-channel-info",
                "summary": "YouTube Channel Info",
                "description": "\nReturns YouTube channel information by ID.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube channel ID either itself or within a link to channel page (like this one https://www.youtube.com/channel/UCxxxx).You can pass username (or the link with username) instead but it is less preferable way.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/YouTubeChannelInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/channel/playlists/": {
            "get": {
                "operationId": "yt-channel-playlists",
                "summary": "YouTube Channel Playlists",
                "description": "\nRetrieve a feed of playlists for a YouTube channel by URL or ID passed to `url`.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube channel ID either itself or within a link to channel page (like this one https://www.youtube.com/channel/UCxxxx). You can pass username (or the link with username) instead but it is less preferable way.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sorted_by",
                        "in": "query",
                        "description": "Sorting option: `dd` (date added) or `lad` (last video added).",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "dd",
                            "lad"
                        ],
                        "default": "dd"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass the content of the `cursor` field from the last response to get the next page.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response containing playlists related to the channel.",
                        "schema": {
                            "$ref": "#/definitions/YouTubePlaylistsResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid input (e.g., missing identifier or invalid `sorted_by`)."
                    },
                    "500": {
                        "description": "Server error or issue with the request."
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/channel/videos/": {
            "post": {
                "operationId": "yt-channel-videos",
                "summary": "YouTube Channel Videos",
                "description": "\nReturns list of up to 30 YouTube videos on the channel under specific tab, with views and description preview.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/YouTubeChannelVideosRequestBody"
                        }
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube channelId or link to channel's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "videos_type",
                        "in": "query",
                        "description": "What tab to use",
                        "required": false,
                        "type": "string",
                        "enum": [
                            [
                                "videos",
                                "Videos under \"Videos\" tab (default)"
                            ],
                            [
                                "shorts",
                                "Videos under \"Shorts\" tab"
                            ],
                            [
                                "streams",
                                "Videos under \"Live\" tab"
                            ]
                        ],
                        "default": "videos"
                    },
                    {
                        "name": "sorted_by",
                        "in": "query",
                        "description": "Sorted by",
                        "required": false,
                        "type": "string",
                        "enum": [
                            [
                                "dd",
                                "Date Desc (default)"
                            ],
                            [
                                "p",
                                "Popularity"
                            ]
                        ],
                        "default": "dd"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "For pagination pass content of ```cursor``` field from the last response to get next page. For BC only, pass the one in the request body (see below).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/YouTubeChannelVideoListResponseData"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/channel/videos/uploaded/": {
            "get": {
                "operationId": "yt-videos-from-uploaded-playlist",
                "summary": "YouTube Uploaded Videos",
                "description": "\nReturns list of 100 videos uploaded to the channel.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits in case of channelId passed to `url` parameter and 0.04 credits in case of username.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube username, channelId or link to channel's page.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of ```cursor``` field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PlayListResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/hashtag/feed/": {
            "post": {
                "operationId": "yt-hashtag-feed",
                "summary": "YouTube Hashtag Feed",
                "description": "\nRetrieve a feed of videos associated with a specific hashtag. Supports pagination and allows filtering by tabs such as 'all' or 'shorts'.\n\nTo obtain the next page, pass the content of the `cursor` field to the `after` query parameter.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HashtagFeedRequestBody"
                        }
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube hashtag url (e.g., https://www.youtube.com/hashtag/example)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass the content of the `cursor` field from the last response to get the next page",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tab",
                        "in": "query",
                        "description": "Filter the feed by tab. Available options: `all` (default), `shorts`",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "all",
                            "shorts"
                        ],
                        "default": "all"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response containing videos related to the hashtag.",
                        "schema": {
                            "$ref": "#/definitions/HashtagFeedResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input (e.g., invalid `tab` or `after` parameter)."
                    },
                    "500": {
                        "description": "Server error or issue with the request."
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/hashtag/info/": {
            "get": {
                "operationId": "yt-hashtag-info",
                "summary": "YouTube Hashtag Information",
                "description": "\nReturns YouTube hashtag information by hashtag.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube hashtag (like #earth) or link to hashtag's page like 'https://www.youtube.com/hashtag/earth'.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/YouTubeHashtagInfoResponse"
                        },
                        "headers": {
                            "X-Credits-Cost": {
                                "description": "The number of spent credits",
                                "type": "number"
                            }
                        }
                    }
                },
                "tags": [
                    "YouTube Scraping API"
                ]
            },
            "parameters": []
        },
        "/api/raw/yt/playlist/": {
            "get": {
                "operationId": "yt-playlist-videos",
                "summary": "YouTube Playlist Videos",
                "description": "\nReturns list of 100 YouTube videos from any playlist by ID passed to `url`.\n\n### $ Paid request\n\nEvery successfully made request costs 0.02 credits.",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "YouTube playlistId.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Pass content of ```cursor``` field from the last response to get next page",
                        "required": false,
                        "type": "string"
                    }
[...]
