jxRequirements:
  ingress:
    namespaceSubDomain: "-pr{{ requiredEnv "PULL_NUMBER" }}."

image:
  repository: "{{ requiredEnv "DOCKER_REGISTRY" }}/{{ requiredEnv "DOCKER_REGISTRY_ORG" }}/{{ requiredEnv "APP_NAME" }}"
  tag: "{{ requiredEnv "VERSION" }}"
  pullPolicy: "Always"
