ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: $font-weight-medium;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
