<li>
  <% is_active = current_page?(url) %>
  <% base_class = "flex items-center gap-2 px-2 py-1.5 h-8 text-sm font-medium rounded-lg" %>
  <% active_class = is_active ? "text-n-blue-text bg-n-alpha-2" : "text-n-slate-11 hover:bg-n-alpha-2" %>
  <%= link_to(url, class: "#{base_class} #{active_class}") do %>
    <svg width="16" height="16" class="flex-shrink-0"><use xlink:href="#<%= icon %>" /></svg>
    <span><%= label %></span>
  <% end %>
</li>
