<p>Olá,</p>

<p>Sua importação de contatos foi concluída. Por favor, verifique a guia de contatos para visualizar os contatos importados.</p>

<p>Número de registros importados: {{meta['imported_contacts']}}</p>

<p>Número de registros com falha: {{meta['failed_contacts']}}</p>

{% if meta['failed_contacts'] == 0 %}
  <p>
    Clique <a href="{{action_url}}">aqui</a> para visualizar os contatos importados.
  </p>
{% else %}
  <p>
  Clique <a href="{{ action_url }}" target="_blank">aqui</a> para ver os registros com falha.
  </p>
{% endif %}