<p>Hello,</p>

<p>Your email inbox has been disconnected due to configuration errors. </p>
<p>Please update it to continue receiving messages.</p>

<p>
Click <a href="{{action_url}}">here</a> to re-connect.
</p>
