<p>Hello,</p>

<p>Your Email Inbox configuration is not working. </p>
<p>Please update the settings to continue receiving messages in Chatwoot</p>

<p>
Click <a href="{{action_url}}">here</a> to re-connect.
</p>
