<p>Olá,</p>

<p>Sua caixa de entrada de e-mails foi desconectada devido a erros de configuração.</p>

<p>Por favor, atualize-a para continuar recebendo mensagens.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>