<p>Hello,</p>

<p>Your contacts import upload failed, please check the attached file for the failed records. </p>
<p>Please check the contacts tab.</p>

Attachment [<a href="{{ attachment_url }}" _target="blank">Click here to view</a>]

<p>
Click <a href="{{action_url}}">here</a>
</p>
