<p>Olá,</p>

<p>O acesso à sua caixa de entrada do Facebook expirou.</p>
<p>Por favor, reconecte a Página do Facebook para continuar recebendo mensagens.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>