<p>Hello,</p>

<p>Your contact import has been completed. Please check the contacts tab to view the imported contacts.</p>

<p>Number of records imported. : {{imported_contacts}}</p>

<p>Number of records failed. : {{failed_contacts}}</p>

<p>
Attachment [<a href="{{ attachment_url }}" _target="blank">Click here to view</a>]
</p>
<p>
Click <a href="{{action_url}}">here</a>
</p>
