<p>Hello,</p>

<p>Here is the hourly chat report showing assigned and resolved chats for {{report_date}}.</p>

<p>
Click <a href="{{action_url}}">here</a> to download.
</p>

<p>Regards,<br>BiteSpeed</p>
