<p>Olá,</p>

<p>Sua integração com o Slack expirou. Para continuar recebendo mensagens no Slack, por favor, exclua a integração e conecte seu espaço de trabalho novamente.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para reconectar.
</p>