<p>Здравствуйте!</p>

<p>Срок доступа к каналу WhatsApp истёк.</p>
<p>Переавторизуйте WhatsApp, чтобы продолжить получать сообщения.</p>

<p>
Нажмите <a href="{{action_url}}">сюда</a>, чтобы переподключить.
</p>
