@import 'shared/assets/fonts/inter';
@import '../variables';
@import '~ionicons/scss/ionicons';

.button {
  background-color: $color-woot;
  border-radius: 1px solid $color-woot;
  color: $color-white;
}

.main-content__body{
  form{
    padding: 4rem;
  }
}

.report-card {
    margin: 10px;
    float: left;
    padding: 25px 50px;
    text-align: center;

    .metric{
    font-size: 30px;
    padding: 15px;
    font-weight: 200;
    }
}