@import 'shared/assets/fonts/inter';
@import '../variables';

body {
  background-color: $color-background;
  font-family: Inter;
}

.button {
  background-color: $color-woot;
  border-radius: 1px solid $color-woot;
  color: $color-white;
}

.app-container.super-admin{
  padding:0em;
}

.navigation{
  margin-left: 1.5em;
  margin-top: 2em;
}