<% content_for(:title) do %>
  Settings
<% end %>
<header class="flex px-8 py-4 items-center border-b border-n-weak" role="banner">
  <div class="border border-n-weak mr-4 p-2 rounded-full">
    <svg width="24" height="24"><use xlink:href="#icon-settings-2-line" /></svg>
  </div>
  <div class="flex flex-col h-14 justify-center">
    <h1 class="text-base font-medium leading-6 text-n-slate-12" id="page-title">
      <%= content_for(:title) %>
    </h1>
    <p class="text-sm font-normal leading-5 text-slate-500 m-0">Update your instance settings, access billing portal</p>
  </div>
</header>
<section class="main-content__body px-8">
  <div class="bg-white py-2 px-4 xl:px-0">
    <%= render 'general_settings' %>
  </div>
</section>
