apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: chatwoot
  labels:
    app: APP_NAME
spec:
  replicas: MIN_REPLICAS
  minReadySeconds: 50
  revisionHistoryLimit: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 1
  selector:
    matchLabels:
      app: APP_NAME
  template:
    metadata:
      labels:
        app: APP_NAME
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - chatwoot
      serviceAccountName: SERVICE_ACCOUNT
      containers:
        - name: APP_NAME
          image: DOCKER_IMAGE_NAME
          envFrom:
          - secretRef:
              name: SECRET_NAME
          readinessProbe:
            httpGet:
              path: /api
              port: 3000
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 2
          resources:
            limits:
              cpu: 'TOTAL_CPU'
              memory: 'LIMIT_MEMORY'
            requests:
              cpu: 'REQUEST_CPU'
              memory: 'REQUEST_MEMORY'
          ports:
            - containerPort: 3000
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: DEPLOYMENT_NAME-hpa
  namespace: chatwoot
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: DEPLOYMENT_NAME
  minReplicas: MIN_REPLICAS
  maxReplicas: MAX_REPLICAS
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
  - type: Resource    
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80            
