:root {
  --border-radius-small: 0.1875rem;
  --border-radius-normal: 0.3125rem;
  --border-radius-medium: 0.4375rem;
  --border-radius-large: 0.5625rem;
  --border-radius-full: 6.25rem;
  --border-radius-rounded: 50%;
}
