:root {
  --border-radius-small: 0.3rem;
  --border-radius-normal: 0.5rem;
  --border-radius-medium: 0.7rem;
  --border-radius-large: 0.9rem;
  --border-radius-full: 10rem;
  --border-radius-rounded: 50%;
}
