:root {
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.9);
  --black-transparent: rgba(0, 0, 0, 0.9);

  --w-25: #f5faff;
  --w-50: #ebf5ff;
  --w-75: #d6ebff;
  --w-100: #c2e1ff;
  --w-200: #99ceff;
  --w-300: #70baff;
  --w-400: #47a6ff;
  --w-500: #4952ff;
  --w-600: #1976cc;
  --w-700: #135899;
  --w-800: #0c3b66;
  --w-900: #061d33;

  --g-50: #e6f8e6;
  --g-100: #c4eec2;
  --g-200: #9de29a;
  --g-300: #6fd86f;
  --g-400: #44ce4b;
  --g-500: #00c41d;
  --g-600: #00b412;
  --g-700: #00a200;
  --g-800: #009000;
  --g-900: #007000;

  --y-50: #fefde8;
  --y-100: #fdfcc4;
  --y-200: #fcf68c;
  --y-300: #f9e736;
  --y-400: #f6d819;
  --y-500: #e6c00c;
  --y-600: #c69608;
  --y-700: #9e6b0a;
  --y-800: #835510;
  --y-900: #6f4514;

  --s-25: #f8fafc;
  --s-50: #f1f5f8;
  --s-75: #ebf0f5;
  --s-100: #e4ebf1;
  --s-200: #c9d7e3;
  --s-300: #aec3d5;
  --s-400: #93afc8;
  --s-500: #779bbb;
  --s-600: #446888;
  --s-700: #37546d;
  --s-800: #293f51;
  --s-900: #1b2836;

  --b-50: #f7f7f7;
  --b-100: #ececed;
  --b-200: #dddde0;
  --b-300: #c6c7ca;
  --b-400: #abacaf;
  --b-500: #96979c;
  --b-600: #6e6f73;
  --b-700: #5a5b5f;
  --b-800: #3c3d40;
  --b-900: #1b1c1f;

  --r-50: #ffebee;
  --r-100: #ffccd1;
  --r-200: #f69898;
  --r-300: #ef6f6f;
  --r-400: #f94b4a;
  --r-500: #ff382d;
  --r-600: #f02b2d;
  --r-700: #de1e27;
  --r-800: #d11320;
  --r-900: #c30011;

  --v-50: #ffffff;
  --v-100: #f5ebff;
  --v-200: #ddb8ff;
  --v-300: #c585ff;
  --v-400: #ac52ff;
  --v-500: #941fff;
  --v-600: #7b00eb;
  --v-700: #6000b8;
  --v-800: #450085;
  --v-900: #2b0052;

  // Common color aliases
  --color-woot: var(--w-500);

  --color-heading: #1f2d3d;
  --color-body: #3c4858;

  --color-border: var(--s-75);
  --color-border-light: var(--s-50);
  --color-border-dark: var(--s-100);

  --color-background: var(--s-50);
  --color-background-light: var(--s-25);

  // Social and inboxes brand colors
  --color-facebook-brand: #3b5998;
  --color-twitter-brand: #1da1f2;
  --color-whatsapp-brand: #25d366;
  --color-sms-twilio: #f42f46;
  --color-cloud-generic: #18b7b0;

  // Tech-debt
  --color-medium-gray: #8492a6;
}
