:root {
  --font-size-nano: 0.8rem;
  --font-size-micro: 1.0rem;
  --font-size-mini: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-default: 1.6rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.2rem;
  --font-size-big: 2.4rem;
  --font-size-bigger: 3.0rem;
  --font-size-mega: 3.4rem;
  --font-size-giga: 4.0rem;
}
