:root {
  --font-size-nano: 0.5rem;
  --font-size-micro: 0.625rem;
  --font-size-mini: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-default: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-two: 1.25rem;
  --font-size-large: 1.375rem;
  --font-size-big: 1.5rem;
  --font-size-bigger: 1.875rem;
  --font-size-mega: 2.125rem;
  --font-size-giga: 2.5rem;
}
