:root {
  --zero: 0;
  --space-micro: 0.125rem;
  --space-smaller: 0.25rem;
  --space-small: 0.5rem;
  --space-one: 0.625rem;
  --space-slab: 0.75rem;
  --space-normal: 1rem;
  --space-two: 1.25rem;
  --space-medium: 1.5rem;
  --space-large: 2rem;
  --space-larger: 3rem;
  --space-jumbo: 4rem;
  --space-mega: 6.25rem;
}
