:root {
  // spaces
  --space-zero: 0;
  --space-micro: 0.2rem;
  --space-smaller: 0.4rem;
  --space-half: 0.5rem;
  --space-small: 0.8rem;
  --space-one: 1rem;
  --space-slab: 1.2rem;
  --space-normal: 1.6rem;
  --space-two: 2rem;
  --space-medium: 2.4rem;
  --space-three: 3rem;
  --space-large: 3.2rem;
  --space-larger: 4.8rem;
  --space-jumbo: 6.4rem;
  --space-mega: 10rem;

  --space-minus-micro: -0.2rem;
  --space-minus-smaller: -0.4rem;
  --space-minus-small: -0.8rem;
  --space-minus-one: -1rem;
  --space-minus-slab: -1.2rem;
  --space-minus-normal: -1.6rem;
  --space-minus-two: -2rem;
  --space-minus-medium: -2.4rem;
  --space-minus-large: -3.2rem;
  --space-minus-larger: -4.8rem;
  --space-minus-jumbo: -6.4rem;
  --space-minus-mega: -10rem;
}
