:root {
  // z-index
  --z-index-minus: -1;
  --z-index-zero: 0;
  --z-index-low: 10;
  --z-index-twenty: 20;
  --z-index-normal: 100;
  --z-index-high: 1000;
  --z-index-higher: 2000;
  --z-index-much-higher: 5000;
  --z-index-very-high: 9999;
  --z-index-highest: 10000;
}
