:root {
  // z-index
  --zindex-zero: 0;
  --zindex-smaller: 10;
  --zindex-small: 100;
  --zindex-medium: 500;
  --zindex-large: 1000;
  --zindex-larger: 1500;
  --zindex-big: 5000;
  --zindex-bigger: 1000;
}
