<%= render "public/api/v1/portals/header", portal: @portal %>
<section class="bg-white lg:container max-w-4xl mx-auto py-6 px-4 flex flex-col items-center justify-center">

<%= render "public/api/v1/portals/category-block", category: @category, portal: @portal %>
</section>