<p>Olá,</p>

<p>A regra de automação <b>{{meta['rule_name']}}</b> foi desabilitada porque possui condições inválidas.</p>
<p>Isso geralmente acontece quando você exclui atributos personalizados que ainda estão sendo usados em regras de automação.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para atualizar as condições.
</p>
