<p>Hello there,</p>

<p>The automation rule <b>{{meta['rule_name']}}</b> has been disabled becuase it has invalid conditions.</p>
<p>This typically happens when you delete any custom attributes which are still being used in automation rules.</p>

<p>
Click <a href="{{action_url}}">here</a> to update the conditions.
</p>
