<p>Здравствуйте!</p>

<p>Правило автоматизации <b>{{meta['rule_name']}}</b> было отключено, так как содержит невалидные условия.</p>
<p>Обычно это происходит, когда удаляются пользовательские атрибуты, которые всё ещё используются в правилах.</p>

<p>
Нажмите <a href="{{action_url}}">сюда</a>, чтобы обновить условия.
</p>
