<p>Здравствуйте!</p>

<p>Импорт контактов завершён. Откройте раздел контактов, чтобы посмотреть результат.</p>

<p>Импортировано записей: {{meta['imported_contacts']}}</p>

<p>Ошибок импорта: {{meta['failed_contacts']}}</p>

{% if meta['failed_contacts'] == 0 %}
  <p>
    Нажмите <a href="{{action_url}}">сюда</a>, чтобы открыть импортированные контакты.
  </p>
{% else %}
  <p>
  Нажмите <a href="{{ action_url }}" target="_blank">сюда</a>, чтобы посмотреть записи с ошибками.
  </p>
{% endif %}
