<p>Olá,</p>

<p>Sua importação de contatos falhou. Parece que o arquivo CSV que você enviou pode não ser válido. Pedimos gentilmente que revise o arquivo e verifique se ele está em conformidade com o formato necessário.<p/>
