.main-content {
  margin-left: 14.375rem;
  background-color: $white;
  border-left: 1px solid $grey-1;
  flex: 1 1 100%;
  padding-bottom: 10vh;
}

.main-content__body {
  padding: 0 2rem 1rem;
}

.main-content__body--flush {
  padding-left: 0;
  padding-right: 0;
}

.main-content__header {
  align-items: center;
  border-bottom: $base-border;
  display: flex;
  padding: 1rem 2rem;
}

.main-content__page-title {
  font-size: 1.6em;
  margin-right: auto;
  font-weight: 500;
}
