$_navigation-link-padding: 0.625rem;

.logo-brand {
  margin-bottom: 1rem;
  padding: 1rem 0.25rem;
  text-align: center;
}

.navigation {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 14.375rem;
  z-index: 1023;

  li {
    align-items: center;
    display: flex;

    a {
      color: #6e6f73;
      text-decoration: none;
    }

    i {
      min-width: 1.5rem;
    }
  }
}

.navigation__link {
  background-color: transparent;
  color: #6e6f73;
  display: block;
  line-height: 1;
  margin-bottom: .25rem;
  padding: $_navigation-link-padding;

  &:hover {
    color: $blue;

    a {
      color: $blue;
    }
  }


  &.navigation__link--active {
    background-color: #f4f6fb;
    border-radius: $base-border-radius;
    color: $blue;

    a {
      color: $blue;
    }
  }
}

.logout {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
