<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Если вы не запрашивали это действие, просто проигнорируйте письмо.</p>
<p>Пароль не изменится, пока вы не перейдёте по ссылке и не зададите новый.</p>
