<p>Halo <%= @resource.email %>!</p>

<p>Seseorang telah meminta tautan untuk mengubah kata sandi Anda. Anda dapat melakukannya melalui tautan di bawah ini.</p>

<p><%= link_to 'Ubah kata sandi saya', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Jika Anda tidak meminta ini, mohon abaikan email ini.</p>
<p>Kata sandi Anda tidak akan berubah sampai Anda mengakses tautan di atas dan membuat yang baru.</p>
