<p><%= t('.greeting', email: @resource.email) %></p>

<p><%= t('.account_locked_info') %></p>

<p><%= t('.unlock_link_info') %></p>

<p><%= link_to t('.unlock_account_link'), unlock_url(@resource, unlock_token: @token), class: 'btn' %></p>
