<p>Halo <%= @resource.email %>!</p>

<p>Akun Anda telah dikunci karena terlalu banyak percobaan masuk yang tidak berhasil.</p>

<p>Klik tautan di bawah ini untuk membuka kunci akun Anda:</p>

<p><%= link_to 'Buka kunci akun saya', unlock_url(@resource, unlock_token: @token) %></p>
