<p><%= t('devise.mailer.unlock_instructions.greeting', email: @resource.email) %></p>

<p><%= t('devise.mailer.unlock_instructions.locked_account') %></p>

<p><%= t('devise.mailer.unlock_instructions.instructions') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
