<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за слишком большого количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
