.billing {
  @include full-height;

  .row {
    @include full-height;
  }

  .billing__stats {
    @include flex;
  }

  .billing__form {
    @include thin-border($color-border-light);
    @include margin($zero - $space-micro);
    @include full-height;
    background: $color-white;

    iframe {
      @include full-height;
      border: 0;
      width: 100%;
    }
  }

  .account-row {
    @include padding($space-normal);
    @include flex;
    flex-direction: column;
    // @include thin-border($color-border-light);
    // @include margin(-$space-micro $zero);
    background: $color-white;
    font-size: $font-size-small;

    .title {
      color: $color-heading;
      font-weight: $font-weight-medium;
    }

    .value {
      font-size: $font-size-mega;
      font-weight: $font-weight-light;
      text-transform: capitalize;
    }
  }
}

.account-locked {
  @include background-gray;
  @include margin(0);
}

.lock-message {
  @include flex;
  @include full-height;
  flex-direction: column;
  @include flex-align(center, middle);

  div {
    @include flex;
    @include full-height;
    flex-direction: column;
    @include flex-align(center, middle);

    img {
      @include margin($space-normal);
      width: 10rem;
    }

    span {
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
      text-align: center;
    }
  }
}
