$default-button-height: 2.5rem;

.button {
  align-items: center;
  display: inline-flex;
  height: $default-button-height;
  margin-bottom: 0;

  .button__content {
    width: 100%;

    img,
    svg {
      display: inline-block;
    }
  }

  .spinner {
    padding: 0 var(--space-small);
  }

  .icon--emoji+.button__content {
    padding-left: var(--space-small);
  }

  .icon--font+.button__content {
    padding-left: var(--space-small);
  }

  // @TODDO - Remove after moving all buttons to woot-button
  .icon+.button__content {
    padding-left: var(--space-small);
    width: auto;
  }

  &.expanded {
    display: flex;
    justify-content: center;
  }

  &.round {
    border-radius: $space-larger;
  }

  // @TODO Use with link

  &.compact {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.hollow {
    border-color: var(--s-200);
    color: var(--w-700);

    &.secondary {
      border-color: var(--s-200);
      color: var(--s-700);
    }

    &.success {
      border-color: var(--s-200);
      color: var(--g-700);
    }

    &.alert {
      border-color: var(--s-200);
      color: var(--r-700);
    }

    &.warning {
      border-color: var(--s-200);
      color: var(--y-700);
    }

    &:hover {
      @apply bg-slate-75 dark:bg-slate-900 border-slate-100 dark:border-slate-700;

      &.secondary {
        @apply border-slate-100 dark:border-slate-700;
      }

      &.success {
        @apply border-slate-100 dark:border-slate-700;
      }

      &.alert {
        @apply border-slate-100 dark:border-slate-700;
      }

      &.warning {
        @apply border-slate-100 dark:border-slate-700;
      }
    }
  }

  // Smooth style
  &.smooth {
    @apply bg-woot-50 dark:bg-woot-800 text-woot-700 dark:text-woot-100 hover:text-woot-700 dark:hover:text-woot-700 hover:bg-woot-100 dark:hover:bg-woot-900;

    &.secondary {
      @apply bg-slate-50 dark:bg-slate-700 text-slate-700 dark:text-slate-100 hover:bg-slate-100 dark:hover:bg-slate-800;
    }

    &.success {
      @apply bg-green-50 dark:bg-green-700 text-green-700 dark:text-green-100 hover:bg-green-100 dark:hover:bg-green-800;
    }

    &.alert {
      @apply bg-red-50 dark:bg-red-700 text-red-700 dark:text-red-100 hover:bg-red-100 dark:hover:bg-red-800;
    }

    &.warning {
      @apply bg-yellow-50 dark:bg-yellow-700 text-yellow-700 dark:text-yellow-100 hover:bg-yellow-100 dark:hover:bg-yellow-800;
    }
  }

  &.clear {
    // color: var(--w-700);
    @apply text-woot-500 dark:text-woot-500;

    &.secondary {
      @apply text-slate-700 dark:text-slate-100;
    }

    &.success {
      @apply text-green-700 dark:text-green-100;
    }

    &.alert {
      @apply text-red-700 dark:text-red-100;
    }

    &.warning {
      @apply text-yellow-700 dark:text-yellow-100;
    }

    &:hover {
      @apply hover:bg-woot-50 dark:hover:bg-woot-300;

      &.secondary {
        @apply hover:bg-slate-50 dark:hover:bg-slate-700;
      }

      &.success {
        @apply hover:bg-green-50 dark:hover:bg-green-800;
      }

      &.alert {
        @apply hover:bg-red-50 dark:hover:bg-red-800;
      }

      &.warning {
        @apply hover:bg-yellow-50 dark:hover:bg-yellow-800;
      }
    }
  }

  // Sizes
  &.tiny {
    height: var(--space-medium);

    .icon+.button__content {
      padding-left: var(--space-micro);
    }
  }

  &.small {
    height: var(--space-large);
    padding-bottom: var(--space-smaller);
    padding-top: var(--space-smaller);

    .icon+.button__content {
      padding-left: var(--space-smaller);
    }
  }

  &.large {
    height: var(--space-larger);
  }

  &.button--only-icon {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: $default-button-height;

    &.tiny {
      width: var(--space-medium);
    }

    &.small {
      width: var(--space-large);
    }

    &.large {
      width: var(--space-larger);
    }
  }

  &.link {
    height: auto;
    margin: 0;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
