.button {
  margin-bottom: 0;

  &.icon {
    padding-left: $space-normal;
    padding-right: $space-normal;

    i {
      padding-right: $space-small;
    }
  }

  &.nice {
    border-radius: $space-smaller;
  }

  &.hollow {
    &.link {
      border-color: transparent;
      padding-left: 0;

      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }

  >.icon {
    font-size: $font-size-default;
  }

  &.tiny {
    font-size: $font-size-mini;
    padding: $space-small $space-slab;
  }

  &.round {
    border-radius: $space-larger;
  }

  &.compact {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.button--fixed-right-top {
  position: fixed;
  right: $space-small;
  top: $space-small;
}
