@import '~dashboard/assets/scss/variables';

.widget-color--selector.vc-compact {
  border: 1px solid $color-border;
  box-shadow: none;
  margin-bottom: $space-normal;
  width: 356px;

  .vc-compact-color-item {
    height: 24px;
    width: 24px;
  }
}
