.filter-modal-content {
  border: 1px solid var(--color-border);
  border-radius: var(--space-half);
  padding: var(--space-one);
}

.filter--attributes {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-one);
}

.filter--attribute_clearbtn {
  cursor: pointer;
  font-size: var(--space-two);
  margin-left: var(--space-one);
}

.filter--attributes_select {
  margin-bottom: var(--space-zero) !important;
}

.filter--values_select {
  margin-bottom: var(--space-zero) !important;
}

.padding-right-small {
  padding-right: var(--space-one);
}

.margin-right-small {
  margin-right: var(--space-three-fourths);
}

.append-filter-btn {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--space-one-fourths);
  color: var(--color-woot);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-one-and-half);
  height: var(----space-medium);
  justify-content: center;
  padding: var(--space-one);
  width: 100%;
}

.filter-actions {
  margin: var(--space-two) var(--space-zero) var(--space-one);
}

.filter--attributes_input {
  margin-bottom: var(--space-zero) !important;
}

.filter--query_operator {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--space-one) var(--space-zero);
  position: relative;
}

.filter--query_operator_line {
  border-bottom: 1px solid var(--color-border);
  position: absolute;
  width: 100%;
  z-index: var(--z-index-low);
}

.filter--query_operator_container {
  margin: var(--space-zero);
  position: relative;
  z-index: var(--z-index-twenty);
}

.filter--query_operator_select {
  border: 0;
  margin-bottom: var(--space-zero) !important;
  padding: var(--space-zero) var(--space-three) var(--space-zero)
    var(--space-two);
  width: 100%;
}
