.filter-modal-content {
  border: 1px solid var(--color-border);
  border-radius: var(--space-half);
  padding: var(--space-one);
}
.filter--attributes {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-one);
}
.filter--attribute_clearbtn {
  font-size: var(--space-two);
  margin-left: var(--space-one);
  cursor: pointer;
}
.filter--attributes_select {
  margin-bottom: var(--space-zero) !important;
}

.filter--values_select {
  margin-bottom: var(--space-zero) !important;
}

.padding-right-small {
  padding-right: var(--space-one);
}
.margin-right-small {
  margin-right: var(--space-three-fourths);
}
.append-filter-btn {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--space-one-fourths);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-woot);
  font-size: var(--font-size-one-and-half);
  padding: var(--space-one);
  height: var(----space-medium);
  cursor: pointer;
}
.filter-actions {
  margin: var(--space-two) var(--space-zero) var(--space-one) var(--space-zero);
}
.filter--attributes_input {
  margin-bottom: var(--space-zero) !important;
}
.filter--query_operator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: var(--space-one) var(--space-zero);
}
.filter--query_operator_line {
  position: absolute;
  z-index: var(--z-index-low);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
.filter--query_operator_container {
  position: relative;
  z-index: var(--z-index-twenty);
  margin: var(--space-zero);
}
.filter--query_operator_select {
  width: 100%;
  margin-bottom: var(--space-zero) !important;
  border: none;
  padding: var(--space-zero) var(--space-three) var(--space-zero)
    var(--space-two);
}
