// scss-lint:disable QualifyingElement

label {
  @apply text-slate-800 dark:text-slate-200 block m-0 leading-7 text-sm font-medium;

  &.error {
    input {
      @apply mb-1;
    }
  }
}

textarea,
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='url'] {
  @apply block box-border w-full transition-colors focus:border-woot-500 dark:focus:border-woot-600 duration-[0.25s] ease-[ease-in-out] h-10 appearance-none mx-0 mt-0 mb-4 p-2 rounded-md text-base font-normal bg-white dark:bg-slate-900 focus:bg-white focus:dark:bg-slate-900 text-slate-900 dark:text-slate-100 border border-solid border-slate-200 dark:border-slate-600;

  &[disabled] {
    @apply bg-slate-200 dark:bg-slate-700 text-slate-400 dark:text-slate-400 border-slate-200 dark:border-slate-600;
  }
}

input[type='file'] {
  @apply bg-white dark:bg-slate-800 leading-[1.15] mb-4;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28110, 111, 115%29'></polygon></svg>");
  background-position: right -1rem center;
  background-size: 9px 6px;
  @apply h-10 mx-0 mt-0 mb-4 bg-origin-content focus-visible:outline-none bg-no-repeat py-2 pr-6 pl-2 rounded-md w-full text-base font-normal appearance-none transition-colors focus:border-woot-500 dark:focus:border-woot-600 duration-[0.25s] ease-[ease-in-out] bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 border border-solid border-slate-200 dark:border-slate-600;
}

.error {
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  input:not([type]),
  textarea,
  select,
  .multiselect > .multiselect__tags {
    @apply border border-solid border-red-400 dark:border-red-400;
  }

  @apply mb-1;

  .message {
    @apply text-red-400 dark:text-red-400 block text-sm mb-2.5 w-full;
  }
}

.button,
textarea,
input {
  &:focus {
    outline: none;
  }
}

.input-wrap {
  @apply text-slate-800 dark:text-slate-100 text-sm font-medium;
}

.help-text {
  @apply font-normal text-slate-600 dark:text-slate-400;
}

.input-group.small {
  input {
    @apply text-sm h-8;
  }

  .error {
    @apply border-red-400 dark:border-red-400;
  }
}

code {
  font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    '"Liberation Mono"', '"Courier New"', 'monospace';
  @apply text-xs border-0;

  &.hljs {
    @apply bg-slate-50 dark:bg-slate-300 rounded-lg p-5;
  }
}

p {
  text-rendering: optimizeLegibility;
  word-spacing: 0.12em;

  @apply mb-2 leading-[1.65];

  a {
    @apply text-woot-500 dark:text-woot-500 cursor-pointer;
  }
}
