.auth--wrap {
  display: flex;
  justify-content: center;
}

.flex-divided-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form--wrap {
  padding: 0 var(--space-mega);
}

.auth--footer {
  margin-top: var(--space-three);
  margin-bottom: var(--space-two);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 1200px) {
  .flex-divided-view {
    display: flex;
    justify-content: center;
    flex: 0.9;
  }

  .form--wrap {
    padding: 0 var(--space-two);
  }
}
