.auth-screen--view {
  display: flex;
  height: 100%;
  justify-content: center;
}

.flex-divided-view {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.form--wrap {
  padding: 0 var(--space-mega);
}

.auth-screen--footer {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: var(--space-two) 0;
}

@media screen and (max-width: 1200px) {
  .flex-divided-view {
    display: flex;
    flex: 0.9;
    justify-content: center;
  }

  .form--wrap {
    padding: 0 var(--space-two);
  }
}
