.ui-notification-container {
  max-width: 40rem;
  position: absolute;
  right: $space-normal;
  top: $space-normal;
  width: 100%;
  z-index: 9999;
}

.ui-notification {
  @include shadow;
  align-items: center;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $space-one;
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  min-height: 3rem;
  min-width: 24rem;
  padding: $space-normal $space-two;
  text-align: left;
}

.ui-notification-text {
  margin: 0;
}

.ui-refresh-button {
  color: $primary-color;
  font-size: $font-size-small;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.ui-notification-icon {
  color: $color-gray;
  width: $font-size-mega;
}

.ui-close-icon {
  color: $color-gray;
  font-size: $font-size-large;
}

.ui-close-button {
  &:hover {
    cursor: pointer;
  }
}
