.reports-option__rounded--item {
  border-radius: 100%;
  height: var(--space-two);
  width: var(--space-two);
}

.reports-option__item {
  flex-shrink: 0;
  margin-right: var(--space-small);
}

.reports-option__label--swatch {
  border: 1px solid var(--color-border);
}

.reports-option__wrap {
  align-items: center;
  display: flex;
}

.reports-option__title {
  margin: 0 var(--space-small);
}

.business-hours {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  padding-right: var(--space-normal);
}

.business-hours-text {
  font-size: var(--font-size-small);
  margin: 0 var(--space-small);
}

.switch {
  margin-bottom: var(--space-zero);
  margin-left: var(--space-small);
}
