.reply-box {
  @include light-shadow;
  border-bottom: 0;
  border-radius: $space-small;
  margin: $space-normal;
  margin-top: 0;
  max-height: $space-mega * 3;
  transition: box-shadow .35s $ease-in-out-cubic, height 2s $ease-in-out-cubic;

  &.is-focused {
    @include normal-shadow;
  }

  .reply-box__top {
    @include flex;
    @include flex-align($x: left, $y: middle);
    @include padding($space-one $space-normal);
    @include background-white;
    @include margin(0);
    border-top-left-radius: $space-small;
    border-top-right-radius: $space-small;
    position: relative;

    .canned {
      @include elegant-card;
      background: $color-white;
      border-bottom: $space-small solid $color-white;
      border-top: $space-small solid $color-white;
      left: 0;

      max-height: 14rem;
      overflow: auto;
      position: absolute;
      width: 24rem;
      z-index: 100;

      .active a {
        background: $color-woot;
      }
    }

    &.is-active {
      border-bottom-left-radius: $space-small;
      border-bottom-right-radius: $space-small;
    }

    &.is-private {
      background: lighten($warning-color, 38%);

      > input {
        background: lighten($warning-color, 38%);
      }
    }

    .icon {
      color: $medium-gray;
      cursor: pointer;
      font-size: $font-size-medium;
      margin-right: $space-small;

      &.active {
        color: $color-woot;
      }
    }

    .file-uploads > label {
      cursor: pointer;
    }

    .attachment {
      cursor: pointer;
      margin-right: $space-one;
      padding: 0 $space-small;
    }

    > textarea {
      @include ghost-input();
      @include margin(0);
      background: transparent;
      // Override min-height : 50px in foundation
      //
      max-height: $space-mega * 2.4;
      min-height: 4rem;
      resize: none;
    }
  }

  .reply-box__bottom {
    @include background-light;
    @include flex;
    @include flex-align($x: justify, $y: middle);
    @include border-light-top;
    border-bottom-left-radius: $space-small;
    border-bottom-right-radius: $space-small;

    .tabs {
      border: 0;
      flex: 1;
      padding: 0;

      .tabs-title {
        margin: 0;
        transition: all .2s $ease-in-out-cubic;
        transition-property: color, background;

        a {
          font-weight: $font-weight-medium;
          padding: $space-one $space-two;
        }

        &.is-private.is-active {
          background: lighten($warning-color, 38%);

          a {
            border-bottom-color: darken($warning-color, 15%);
            color: darken($warning-color, 15%);
          }
        }
      }

      .tabs-title:first-child {
        border-bottom-left-radius: $space-small;

        &.is-active {
          @include border-light-right;
          border-left: 0;

          a {
            border-bottom-left-radius: $space-small;
          }
        }
      }

      .is-active {
        @include background-white;
        @include border-light-left;
        @include border-light-right;
        margin-top: -1px;
      }

      .message-length {
        float: right;

        a {
          font-size: $font-size-mini;
        }
      }

      .message-error {
        color: $input-error-color;
      }
    }

    .send-button {
      border-bottom-right-radius: $space-small;
      height: 3.6rem;
      padding-left: $space-two;
      padding-right: $space-two;
      padding-top: $space-small;

      .icon {
        margin-left: $space-small;
      }
    }
  }
}
