.reply-box {
  transition: box-shadow .35s $swift-ease-out-function,
    height 2s $swift-ease-out-function;


  &.is-focused {
    box-shadow: var(--shadow);
  }

  .reply-box__top {
    .canned {
      @include elegant-card;
      background: $color-white;
      border-bottom: $space-small solid $color-white;
      border-top: $space-small solid $color-white;
      left: 0;

      max-height: 14rem;
      overflow: auto;
      position: absolute;
      width: 24rem;
      z-index: 100;

      .active a {
        background: $color-woot;
      }
    }

    .icon {
      color: $medium-gray;
      cursor: pointer;
      font-size: $font-size-medium;
      margin-right: $space-small;

      &.active {
        color: $color-woot;
      }
    }


    .attachment {
      cursor: pointer;
      margin-right: $space-one;
      padding: 0 $space-small;
    }

    >textarea {
      @include ghost-input();
      @include margin(0);
      background: transparent;
      // Override min-height : 50px in foundation
      //
      max-height: $space-mega * 2.4;
      min-height: 4.8rem;
      padding: var(--space-normal) 0 0;
      resize: none;
    }
  }

  &.is-private {
    background: var(--y-50);

    .reply-box__top {
      background: var(--y-50);

      >input {
        background: var(--y-50);
      }
    }
  }

  .file-uploads>label {
    cursor: pointer;

    &:hover .button--emoji {
      background: var(--b-200);
    }
  }

  .bottom-box .button--emoji.button--upload {
    height: var(--space-large);
    padding: 0;
    width: var(--space-large);

    .file-uploads {
      height: 100%;
      line-height: var(--space-large);
      width: 100%;
    }

    label {
      padding: var(--space-small);
    }
  }
}
