.search {
  @include flex;
  @include flex-align($x: left, $y: middle);
  padding: $space-one $space-normal;
  @include flex-shrink;
  transition: all 0.3s var(--ease-in-out-quad);

  > .icon {
    font-size: $font-size-medium;
    color: $medium-gray;
  }

  > input {
    @include ghost-input();
    margin: 0;
  }
}
