.tabs--container {
  display: flex;
}

.tabs--container--with-border {
  @include border-normal-bottom;
}

.tabs {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  display: flex;
  min-width: var(--space-mega);
  padding: 0 var(--space-normal);
}

.tabs--with-scroll {
  max-width: calc(100% - 64px);
  overflow: hidden;
  padding: 0 var(--space-smaller);
}

.tabs--scroll-button {
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  min-width: var(--space-large);
}

// Tab chat type
.tab--chat-type {
  @include flex;

  .tabs-title {
    a {
      font-size: var(--font-size-default);
      font-weight: var(--font-weight-medium);
      padding-bottom: var(--space-slab);
      padding-top: var(--space-slab);
    }
  }
}

.tabs-title {
  flex-shrink: 0;
  margin: 0 var(--space-small);

  .badge {
    @apply bg-slate-50 dark:bg-slate-800 rounded-md text-black-600 dark:text-black-100 text-xxs font-semibold my-0 mx-1 px-1 py-0;
  }

  &:first-child {
    @apply ml-0;
  }

  &:last-child {
    @apply mr-0;
  }

  &:hover,
  &:focus {
    a {
      @apply text-black-800 dark:text-black-200;
    }
  }

  a {
    @apply flex items-center flex-row border-b border-transparent text-black-600 dark:text-black-100 text-sm top-[1px] relative;
    transition: border-color 0.15s $swift-ease-out-function;
  }

  &.is-active {
    a {
      @apply border-b border-woot-500 text-woot-500 dark:text-woot-500;
    }

    .badge {
      @apply bg-woot-50 dark:bg-woot-500 text-woot-500 dark:text-woot-50 dark:bg-opacity-40;
    }
  }
}
