.tabs {
  @include padding($zero $space-normal);
  @include border-normal-bottom;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

// Tab chat type
.tab--chat-type {
  @include flex;

  .tabs-title {
    a {
      font-size: $font-size-default;
      padding-bottom: $space-slab;
      padding-top: $space-slab;
    }
  }
}

.tabs-title {
  @include margin($zero $space-one);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    a {
      color: darken($medium-gray, 20%);
    }
  }

  a {
    @include position(relative, 1px null null null);
    transition: all .15s $ease-in-out-cubic;
    border-bottom: 2px solid transparent;
    color: $medium-gray;
    font-size: $font-size-small;
  }

  &.is-active {
    a {
      border-bottom-color: $color-woot;
      color: $color-woot;
    }
  }
}
