.user-thumbnail-box {
  @include flex-shrink;
  position: relative;

  .user-thumbnail {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .source-badge {
    bottom: -$space-micro / 2;
    height: $space-slab;
    position: absolute;
    right: $zero;
    width: $space-slab;
  }
}
