table {
  border-spacing: 0;
  font-size: var(--font-size-small);

  thead {
    th {
      font-weight: var(--font-weight-bold);
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--color-border-light);
    }

    td {
      padding: var(--space-small);
    }
  }
}

.woot-table {
  tr {
    .show-if-hover {
      opacity: 0;
      transition: opacity 0.2s $swift-ease-out-function;
    }

    &:hover {
      .show-if-hover {
        opacity: 1;
      }
    }
  }

  .agent-name {
    display: block;
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
  }

  .woot-thumbnail {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .button-wrapper {
    @include flex-align(left, null);
    @include flex;
    flex-direction: row;
    min-width: 20rem;
  }

  .button {
    margin: 0;
  }
}
