table {
  border-spacing: 0;
  font-size: var(--font-size-small);

  thead {
    th {
      @apply font-medium text-left uppercase text-slate-900 dark:text-slate-200;
    }
  }

  tbody {
    tr {
      @apply border-b border-slate-50 dark:border-slate-700;
    }

    td {
      padding: var(--space-small);
    }
  }
}

.woot-table {
  tr {
    .show-if-hover {
      opacity: 0;
      transition: opacity 0.2s $swift-ease-out-function;
    }

    &:hover {
      .show-if-hover {
        opacity: 1;
      }
    }
  }

  .agent-name {
    display: block;
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
  }

  .woot-thumbnail {
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
  }

  .button-wrapper {
    @include flex-align(left, null);
    @include flex;
    flex-direction: row;
    min-width: 12.5rem;
  }

  .button {
    margin: 0;
  }
}

.ve-table {
  .ve-table-container.ve-table-border-around {
    @apply border-slate-200 dark:border-slate-600;
  }

  .ve-table-content {
    .ve-table-header .ve-table-header-tr .ve-table-header-th {
      @apply bg-slate-50 dark:bg-slate-700 text-slate-800 dark:text-slate-100 border-slate-100 dark:border-slate-600;
    }

    .ve-table-body .ve-table-body-tr .ve-table-body-td {
      @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 border-slate-75 dark:border-slate-800;
    }

    .ve-table-body.ve-table-row-hover .ve-table-body-tr:hover td {
      @apply bg-slate-50 dark:bg-slate-700 text-slate-800 dark:text-slate-100;
    }
  }
}
