<div class="flex flex-col gap-1">
  <%= f.label field.attribute, class: "text-sm font-medium text-n-slate-11" %>
  <%= f.number_field(
        field.attribute,
        value: field.data,
        class: "h-9 px-3 text-sm text-n-slate-12 bg-n-solid-2 border border-n-weak rounded-lg focus:ring-2 focus:ring-woot-500 focus:border-woot-500 outline-none"
      ) %>
</div>
