<% content_for(:title) do %>
  Instance Status
<% end %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>
<section class="main-content__body">
  <table>
  <tr>
    <th>Metric</th>
    <th>Value</th>
  </tr>
  <% @metrics.each do |key,value| %>
   <tr>
   <td> <%= key %> </td>
   <td> <%= value %></td>
  </tr>
  <% end %>
</table>

</section>
