html, body {
  font-family: Avenir, -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

.app-name-link img {
  max-width: 60%;
}

.markdown-section pre > code {
  font-family: Monaco;
}
