<%#
# Account User Form Partial

This partial renders the account user creation form.
Used by both account and user show pages.

## Local variables:

- `page`: The Administrate page object (Account or User)
- `namespace`: The current namespace (usually :super_admin)
- `resource_type`: Either 'account' or 'user' to determine hidden field
%>

<% account_user_page = Administrate::Page::Form.new(AccountUserDashboard.new, AccountUser.new) %>
<%= form_for([namespace, account_user_page.resource]) do |f| %>
  <div class="flex items-end gap-4 flex-wrap">
    <% account_user_page.attributes.each do |title, attributes| -%>
      <% attributes.each do |attribute| %>
        <% if attribute.name.to_s == resource_type %>
          <%= f.hidden_field("#{resource_type}_id", value: page.resource.id) %>
        <% else %>
          <%= render_field attribute, f: f %>
        <% end %>
      <% end %>
    <% end -%>
    <%= f.submit "Add User", class: "inline-flex items-center justify-center h-9 px-4 text-sm font-medium text-white bg-woot-500 rounded-lg hover:bg-woot-600 transition-colors cursor-pointer" %>
  </div>
<% end %>