@import 'dashboard/assets/scss/app';

*,
::before,
::after {
  --_histoire-color-primary-50: 235 245 255;
  --_histoire-color-primary-100: 194 225 255;
  --_histoire-color-primary-200: 153 206 255;
  --_histoire-color-primary-300: 112 186 255;
  --_histoire-color-primary-400: 71 166 255;
  --_histoire-color-primary-500: 31 147 255;
  --_histoire-color-primary-600: 25 118 204;
  --_histoire-color-primary-700: 19 88 153;
  --_histoire-color-primary-800: 12 59 102;
  --_histoire-color-primary-900: 6 29 51;
}

html,
body {
  font-family: 'Inter', sans-serif;
}
