name: Build Chatwoot CC

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to build for (dev/prod)'
        required: true
        type: choice
        options:
          - dev
          - prod
  # push:
  #   branches:
  #     - main
  #     - develop
  #   paths:
  #     - 'app/**'
  #     - 'config/**'
  #     - 'db/**'
  #     - 'lib/**'
  #     - 'public/**'
  #     - 'docker/**'
  #     - 'Gemfile'
  #     - 'Gemfile.lock'
  #     - 'package.json'
  #     - 'pnpm-lock.yaml'
  #     - '.github/workflows/build_chatwoot_cc.yml'
  #   tags:
  #     - 'v*'

env:
  AWS_ACCOUNT_ID: "008971651719"
  AWS_REGION: us-east-1
  PROJECT_NAME: chatscomm

jobs:
  build-dev:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'dev'
    runs-on: ubuntu-latest
    env:
      GIT_REF: ${{ github.head_ref || github.ref_name }}
      ENVIRONMENT: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Strip enterprise code
        run: |
          rm -rf enterprise
          rm -rf spec/enterprise

      - name: Set Chatwoot edition
        run: |
          echo -en '\nENV CW_EDITION="cc"' >> docker/Dockerfile

      - name: Set ECR repository and tags
        run: |
          # Set ECR repository names for both web and worker
          REPO_NAME_WEB="${PROJECT_NAME}-chatwoot-web-${ENVIRONMENT}"
          REPO_NAME_WORKER="${PROJECT_NAME}-chatwoot-worker-${ENVIRONMENT}"
          ECR_URL_WEB="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO_NAME_WEB}"
          ECR_URL_WORKER="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO_NAME_WORKER}"
          
          echo "ECR_URL_WEB=${ECR_URL_WEB}" >> $GITHUB_ENV
          echo "ECR_URL_WORKER=${ECR_URL_WORKER}" >> $GITHUB_ENV
          
          VERSION_TAG="${{ github.sha }}"
          echo "VERSION_TAG=${VERSION_TAG}" >> $GITHUB_ENV
          
          SANITIZED_REF=$(echo "$GIT_REF" | sed 's/\//-/g')
          echo "WEB_MAIN_TAG=${ECR_URL_WEB}:${SANITIZED_REF}" >> $GITHUB_ENV
          echo "WEB_COMMIT_TAG=${ECR_URL_WEB}:${VERSION_TAG}" >> $GITHUB_ENV
          echo "WEB_LATEST_TAG=${ECR_URL_WEB}:latest" >> $GITHUB_ENV
          echo "WORKER_MAIN_TAG=${ECR_URL_WORKER}:${SANITIZED_REF}" >> $GITHUB_ENV
          echo "WORKER_COMMIT_TAG=${ECR_URL_WORKER}:${VERSION_TAG}" >> $GITHUB_ENV
          echo "WORKER_LATEST_TAG=${ECR_URL_WORKER}:latest" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Web and Worker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64
          push: true
          provenance: false
          cache-from: |
            type=registry,ref=${{ env.ECR_URL_WEB }}:buildcache
            type=registry,ref=${{ env.ECR_URL_WORKER }}:buildcache
          cache-to: type=registry,ref=${{ env.ECR_URL_WEB }}:buildcache,mode=max
          build-args: |
            RAILS_ENV=production
          tags: |
            ${{ env.WEB_MAIN_TAG }}
            ${{ env.WEB_COMMIT_TAG }}
            ${{ env.WEB_LATEST_TAG }}
            ${{ env.WORKER_MAIN_TAG }}
            ${{ env.WORKER_COMMIT_TAG }}
            ${{ env.WORKER_LATEST_TAG }}

  build-prod:
    if: (github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'prod') || github.event_name == 'push'
    runs-on: ubuntu-latest
    env:
      GIT_REF: ${{ github.head_ref || github.ref_name }}
      ENVIRONMENT: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Strip enterprise code
        run: |
          rm -rf enterprise
          rm -rf spec/enterprise

      - name: Set Chatwoot edition
        run: |
          echo -en '\nENV CW_EDITION="cc"' >> docker/Dockerfile

      - name: Set ECR repository and tags
        run: |
          # Set ECR repository names for both web and worker
          REPO_NAME_WEB="${PROJECT_NAME}-chatwoot-web-${ENVIRONMENT}"
          REPO_NAME_WORKER="${PROJECT_NAME}-chatwoot-worker-${ENVIRONMENT}"
          ECR_URL_WEB="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO_NAME_WEB}"
          ECR_URL_WORKER="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO_NAME_WORKER}"
          
          echo "ECR_URL_WEB=${ECR_URL_WEB}" >> $GITHUB_ENV
          echo "ECR_URL_WORKER=${ECR_URL_WORKER}" >> $GITHUB_ENV
          
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            VERSION_TAG="${{ github.ref_name }}"
          else
            VERSION_TAG="${{ github.sha }}"
          fi
          echo "VERSION_TAG=${VERSION_TAG}" >> $GITHUB_ENV
          
          SANITIZED_REF=$(echo "$GIT_REF" | sed 's/\//-/g')
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "WEB_MAIN_TAG=${ECR_URL_WEB}:latest" >> $GITHUB_ENV
            echo "WORKER_MAIN_TAG=${ECR_URL_WORKER}:latest" >> $GITHUB_ENV
          elif [ "${{ github.ref_type }}" = "tag" ]; then
            echo "WEB_MAIN_TAG=${ECR_URL_WEB}:${VERSION_TAG}" >> $GITHUB_ENV
            echo "WORKER_MAIN_TAG=${ECR_URL_WORKER}:${VERSION_TAG}" >> $GITHUB_ENV
          else
            echo "WEB_MAIN_TAG=${ECR_URL_WEB}:${SANITIZED_REF}" >> $GITHUB_ENV
            echo "WORKER_MAIN_TAG=${ECR_URL_WORKER}:${SANITIZED_REF}" >> $GITHUB_ENV
          fi
          echo "WEB_COMMIT_TAG=${ECR_URL_WEB}:${VERSION_TAG}" >> $GITHUB_ENV
          echo "WORKER_COMMIT_TAG=${ECR_URL_WORKER}:${VERSION_TAG}" >> $GITHUB_ENV
          echo "WEB_LATEST_TAG=${ECR_URL_WEB}:latest" >> $GITHUB_ENV
          echo "WORKER_LATEST_TAG=${ECR_URL_WORKER}:latest" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Web and Worker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64
          push: true
          provenance: false
          cache-from: |
            type=registry,ref=${{ env.ECR_URL_WEB }}:buildcache
            type=registry,ref=${{ env.ECR_URL_WORKER }}:buildcache
          cache-to: type=registry,ref=${{ env.ECR_URL_WEB }}:buildcache,mode=max
          build-args: |
            RAILS_ENV=production
          tags: |
            ${{ env.WEB_MAIN_TAG }}
            ${{ env.WEB_COMMIT_TAG }}
            ${{ env.WEB_LATEST_TAG }}
            ${{ env.WORKER_MAIN_TAG }}
            ${{ env.WORKER_COMMIT_TAG }}
            ${{ env.WORKER_LATEST_TAG }}
