<!DOCTYPE html>
<html>
  <head>
    <title>Chatwoot</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <div id="app"></div>
    <%= yield %>
  </body>
</html>
