.side-menu {
  i {
    margin-right: var(--space-smaller);
    min-width: var(--space-two);
  }
}

.sidebar {
  z-index: 1024 - 1;

  //logo
  .logo {
    img {
      max-height: 108px;
      padding: $woot-logo-padding;
    }
  }

  .nested {
    a {
      font-size: var(--font-size-small);
      margin-bottom: var(--space-micro);
      margin-top: var(--space-micro);

      .inbox-icon {
        display: inline-block;
        margin-right: var(--space-micro);
        min-width: var(--space-normal);
        text-align: center;
      }
    }
  }
}

// bottom-nav
.bottom-nav {
  @include flex;
  @include space-between-column;
  @include border-normal-top;
  flex-direction: column;
  padding: var(--space-one) var(--space-normal) var(--space-one)
    var(--space-one);
  position: relative;

  &:hover {
    background: var(--color-background-light);
  }

  .dropdown-pane {
    bottom: 3.75rem;
    display: block;
    visibility: visible;
    width: fit-content;
  }

  .active {
    border-bottom: 2px solid $medium-gray;
  }
}

.hamburger--menu {
  cursor: pointer;
  display: block;
  margin-right: var(--space-normal);
}

.header--icon {
  display: block;
  margin: 0 var(--space-small) 0 var(--space-smaller);

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.header-title {
  margin: 0 var(--space-small);
}
